// width
.w\:xxs {
    width: 1rem !important;
}

.w\:xs {
    width: 1.5rem !important;
}

.w\:sm {
    width: 2rem !important;
}

.w {
    width: 3rem !important;
}

.w\:lg {
    width: 4rem !important;
}

.w\:xl {
    width: 5rem !important;
}

.w\:xxl {
    width: 6rem !important;
}

.w\:full {
    width: 100% !important;
}

.w\:view {
    width: 100vw !important;
}

.w\:inherit {
    width: inherit !important;
}

.w\:auto {
    width: auto !important;
}

.w\:fit {
    width: fit-content !important;
}

// height
.h\:xxs {
    height: 1rem !important;
}

.h\:xs {
    height: 1.5rem !important;
}

.h\:sm {
    height: 2rem !important;
}

.h {
    height: 3rem !important;
}

.h\:lg {
    height: 4rem !important;
}

.h\:xl {
    height: 5rem !important;
}

.h\:xxl {
    height: 6rem !important;
}

.h\:full {
    height: 100% !important;
}

.h\:view {
    height: 100vh !important;
}

.h\:inherit {
    height: inherit !important;
}

.h\:auto {
    height: auto !important;
}

.h\:fit {
    height: fit-content !important;
}