<div class="bg by:2x1 t:center"
    style="background-image: url(https://images.pexels.com/photos/358528/pexels-photo-358528.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)">
    <code>2:1</code></div>
<div class="code">
    <code class="html" title="2:1 image">
        <div class="bg by:2x1" style="background-image: url()"></div>
    </code>
</div>
<div class="p t:center">
    <div class="y">
        <m-6 sm=2>
            <div class="bg:theme by:1x3 s:xs r:xs"><code class="a:middle">.by:1x3</code></div>
        </m-6>
        <m-6 sm=2>
            <div class="bg:theme by:2x5 s:xs r:xs"><code class="a:middle">.by:2x5</code></div>
        </m-6>
        <m-6 sm=4>
            <div class="bg:theme by:5x2 s:xs r:xs"><code class="a:middle">.by:5x2</code></div>
        </m-6>
        <m-6 sm=4>
            <div class="bg:theme by:2x1 s:xs r:xs"><code class="a:middle">.by:2x1</code></div>
        </m-6>
        <m-6 sm=2>
            <div class="bg:theme by:3x2 s:xs r:xs"><code class="a:middle">.by:3x2</code></div>
        </m-6>
        <m-6 sm=4>
            <div class="bg:theme by:3x1 s:xs r:xs"><code class="a:middle">.by:3x1</code></div>
        </m-6>
        <m-6 sm=2>
            <div class="bg:theme by:4x3 s:xs r:xs"><code class="a:middle">.by:4x3</code></div>
        </m-6>
        <m-6 sm=2>
            <div class="bg:theme by:1x1 s:xs r:xs"><code class="a:middle">.by:1x1</code></div>
        </m-6>
        <m-6 sm=2>
            <div class="bg:theme by:2x3 s:xs r:xs"><code class="a:middle">.by:2x3</code></div>
        </m-6>
        <m-6 sm=2>
            <div class="bg:theme by:1x2 s:xs r:xs"><code class="a:middle">.by:1x2</code></div>
        </m-6>
        <m-6 sm=2>
            <div class="bg:theme by:5x6 s:xs r:xs"><code class="a:middle">.by:5x6</code></div>
        </m-6>
    </div>
</div>