<div class="p">
    <m-table class="sm t:center" axis=x>
        <table>
            <tbody>
                <tr>
                    <th>size</th>
                    <th>xxs</th>
                    <th>xs</th>
                    <th>sm</th>
                    <th>md</th>
                    <th>lg</th>
                    <th>xl</th>
                    <th>xxl</th>
                    <th>no</th>
                </tr>
                <tr>
                    <th>rem</th>
                    <td>0.125</td>
                    <td>0.3125</td>
                    <td>0.625</td>
                    <td>1.250</td>
                    <td>1.875</td>
                    <td>3.125 </td>
                    <td>6.250</td>
                    <td>0</td>
                </tr>
                <tr class="f:fade">
                    <th>=</th>
                    <td>2px</td>
                    <td>5px</td>
                    <td>10px</td>
                    <td>20px</td>
                    <td>30px</td>
                    <td>50px</td>
                    <td>100px</td>
                    <td>0</td>
                </tr>
                <tr>
                    <th><i class="ion-arrow-move"></i></th>
                    <td><code>.m-xxs</code></td>
                    <td><code>.m-xs</code></td>
                    <td><code>.m-sm</code></td>
                    <td><code class="f:green">.m</code></td>
                    <td><code>.m-lg</code></td>
                    <td><code>.m-xl</code></td>
                    <td><code>.m-xxl</code></td>
                    <td><code>.m-no</code></td>
                </tr>
                <tr>
                    <th><i class="ion-arrow-up-c"></i></th>
                    <td><code>.mt:xxs</code></td>
                    <td><code>.mt:xs</code></td>
                    <td><code>.mt:sm</code></td>
                    <td><code class="f:green">.mt</code></td>
                    <td><code>.mt:lg</code></td>
                    <td><code>.mt:xl</code></td>
                    <td><code>.mt:xxl</code></td>
                    <td><code>.mt:no</code></td>
                </tr>
                <tr>
                    <th><i class="ion-arrow-down-c"></i></th>
                    <td><code>.mb:xxs</code></td>
                    <td><code>.mb:xs</code></td>
                    <td><code>.mb:sm</code></td>
                    <td><code class="f:green">.mb</code></td>
                    <td><code>.mb:lg</code></td>
                    <td><code>.mb:xl</code></td>
                    <td><code>.mb:xxl</code></td>
                    <td><code>.mb:no</code></td>
                </tr>
                <tr>
                    <th>
                        <i class="ion-arrow-up-c"></i>
                        <i class="ion-arrow-down-c"></i>
                    </th>
                    <td><code>.my:xxs</code></td>
                    <td><code>.my:xs</code></td>
                    <td><code>.my:sm</code></td>
                    <td><code class="f:green">.my</code></td>
                    <td><code>.my:lg</code></td>
                    <td><code>.my:xl</code></td>
                    <td><code>.my:xxl</code></td>
                    <td><code>.my:no</code></td>
                </tr>
                <tr>
                    <th><i class="ion-arrow-left-c"></i></th>
                    <td><code>.ml:xxs</code></td>
                    <td><code>.ml:xs</code></td>
                    <td><code>.ml:sm</code></td>
                    <td><code class="f:green">.ml</code></td>
                    <td><code>.ml:lg</code></td>
                    <td><code>.ml:xl</code></td>
                    <td><code>.ml:xxl</code></td>
                    <td><code>.ml:no</code></td>
                </tr>
                <tr>
                    <th><i class="ion-arrow-right-c"></i></th>
                    <td><code>.mr:xxs</code></td>
                    <td><code>.mr:xs</code></td>
                    <td><code>.mr:sm</code></td>
                    <td><code class="f:green">.mr</code></td>
                    <td><code>.mr:lg</code></td>
                    <td><code>.mr:xl</code></td>
                    <td><code>.mr:xxl</code></td>
                    <td><code>.mr:no</code></td>
                </tr>
                <tr>
                    <th>
                        <i class="ion-arrow-left-c"></i>
                        <i class="ion-arrow-right-c"></i>
                    </th>
                    <td><code>.mx:xxs</code></td>
                    <td><code>.mx:xs</code></td>
                    <td><code>.mx:sm</code></td>
                    <td><code class="f:green">.mx</code></td>
                    <td><code>.mx:lg</code></td>
                    <td><code>.mx:xl</code></td>
                    <td><code>.mx:xxl</code></td>
                    <td><code>.mx:no</code></td>
                </tr>
            </tbody>
        </table>
    </m-table>
</div>