<app-code>
    <div class="y:sm c:center">
        <m-chip class="x theme">
            <div part="chip-head">S</div>
            <div part="chip-body">Sally</div>
        </m-chip>
        <m-chip class="x outlined blue+">
            <div part="chip-head">♂️</div>
            <div part="chip-body">Aron</div>
        </m-chip>
        <m-chip class="x outlined red+">
            <div part="chip-head">♀️</div>
            <div part="chip-body">Joy</div>
        </m-chip>
        <m-chip class="x outlined theme rounded">
            <img part="chip-head" src="assets/images/avatar1.jpg">
            <div part="chip-body">Joy</div>
            <button part="chip-close">
                <m-icon name="close"></m-icon>
            </button>
        </m-chip>
    </div>
</app-code>