<div class="demo">
    <div class="demo-body">
        <div class="y:sm c:center">
            <m-chip class="x theme">
                <div slot="head">S</div>
                Sally
            </m-chip>
            <m-chip class="x outlined blue+">
                <div slot="head">♂️</div>
                Aron
            </m-chip>
            <m-chip class="x outlined red+">
                <div slot="head">♀️</div>
                Joy
            </m-chip>
            <m-chip class="x outlined theme rounded">
                <img slot="head" src="assets/images/avatar1.jpg">
                Joy
                <button slot="close">
                    <m-icon name="close"></m-icon>
                </button>
            </m-chip>
        </div>
    </div>
</div>

<h2 id="structure">{{ 'structure' | translate }}</h2>
<template [codeLang]="'html'">
    <m-chip>
        <div slot="head"></div>
        text...
        <div slot="foot"></div>
        <m-button slot="close">
            <m-icon name="close"></m-icon>
        </m-button>
    </m-chip>
</template>

<h2 id="assembling">{{ 'assembling' | translate }}</h2>
<div class="y">
    <div class="x:6@sm c:row">
        <template [codeLang]="'html'" [codeDemo]=true>
            <m-chip class="theme+ outlined">
                tag
            </m-chip>
        </template>
    </div>
    <div class="x:6@sm c:row">
        <template [codeLang]="'html'" [codeDemo]=true>
            <m-chip class="theme+ outlined">
                <div slot="head">🙍🏼‍♂️</div>
                Tom
            </m-chip>
        </template>
    </div>
    <div class="x:6@sm c:row">
        <template [codeLang]="'html'" [codeDemo]=true>
            <m-chip class="theme+ outlined">
                3
                <div slot="foot">days</div>
            </m-chip>
        </template>
    </div>
    <div class="x:6@sm c:row">
        <template [codeLang]="'html'" [codeDemo]=true>
            <m-chip class="theme+ outlined">
                <img slot="head" src="assets/images/avatar.jpg">
                Aron
            </m-chip>
        </template>
    </div>
    <div class="x:6@sm c:row">
        <template [codeLang]="'html'" [codeDemo]=true>
            <m-chip class="theme+ outlined">
                <div slot="head">
                    <ion-icon name="bicycle"></ion-icon>
                </div>
                50
                <div slot="foot">km</div>
            </m-chip>
        </template>
    </div>
    <div class="x:6@sm c:row">
        <template [codeLang]="'html'" [codeDemo]=true>
            <m-chip class="theme+ outlined">
                <div slot="head">
                    <ion-icon name="pricetag"></ion-icon>
                </div>
                Tie
                <m-button slot="close">
                    <m-icon name="close"></m-icon>
                </m-button>
            </m-chip>
        </template>
    </div>
</div>

<h2 id="color">{{ 'color' | translate }}</h2>
<div class="y:sm">
    <ng-container *ngFor="let eachDepth of ['', '+']">
        <div class="x:fill" *ngFor="let eachStyle of styles">
            <template [codeLang]="'html'" [codeDemo]=true>
                <div class="y:sm">
                    <m-chip class="x {{ eachColor + eachDepth }} {{ eachStyle }}" *ngFor="let eachColor of colors"
                        (click)="currentColor = eachColor">
                        <div slot="head">
                            <ion-icon name="water"></ion-icon>
                        </div>
                        {{ eachColor }}
                    </m-chip>
                </div>
            </template>
        </div>
    </ng-container>
</div>

<h2 id="size">{{ 'size' | translate }}</h2>
<m-table class="sm neat axis:x">
    <table>
        <thead>
            <tr>
                <th class="fit t:left bg:theme sticky">class</th>
                <th class="fit t:left bg:theme sticky t-wrap:no">height</th>
                <th class="fit t:left bg:theme sticky t-wrap:no">min-width</th>
                <th class="t:left bg:theme sticky">description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <code class="f:purple">sm</code>
                </td>
                <td><code>1.5rem</code></td>
                <td><code>1.5rem</code></td>
                <td><b>小</b></td>
            </tr>
            <tr>
                <td>
                    <code class="default">∅</code>
                </td>
                <td><code>2rem</code></td>
                <td><code>2rem</code></td>
                <td><b>適中</b>，預設</td>
            </tr>
        </tbody>
    </table>
</m-table>
<template [codeLang]="'html'" [codeDemo]=true>
    <div class="y:sm c:bottom c:center">
        <m-chip class="x sm theme outlined">
            <div slot="head">S</div>
            small
        </m-chip>
        <m-chip class="x theme outlined">
            default
        </m-chip>
    </div>
</template>

<h2 id="shape">{{ 'shape' | translate }}</h2>
<m-table class="sm neat axis:x">
    <table>
        <thead>
            <tr>
                <th class="fit t:left bg:theme sticky">class</th>
                <th class="t:left bg:theme sticky">description</th>
                <th class="fit bg:theme sticky"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <code class="default">∅</code>
                </td>
                <td><b>四邊圓角</b>，預設</td>
                <td class="t:right"></td>
            </tr>
            <tr>
                <td>
                    <code class="f:purple">rounded</code>
                </td>
                <td><b>側圓角</b></td>
                <td class="t:right">
                    <m-chip class="sm theme+" href="modifiers">
                        {{ 'modifiers' | translate }}
                    </m-chip>
                </td>
            </tr>
        </tbody>
    </table>
</m-table>
<template [codeLang]="'html'" [codeDemo]=true>
    <div class="y:sm c:bottom c:center">
        <m-chip class="x theme outlined">
            <div slot="head">D</div>
            default
        </m-chip>
        <m-chip class="x theme outlined rounded">
            <div slot="head">R</div>
            rounded
        </m-chip>
    </div>
</template>