@import '../../variables';
@import '../../shadow';

[part=root] {
    padding: var(--p);
}

:host {
    --size: 2rem;
    --p: .25rem;
    --px: .375rem;
    background-color: var(--bg-theme);
    line-height: normal;
    color: var(--f-theme);
    display: inline-flex;
    align-items: center;
    font-size: 0.8125rem;
    border-radius: $xs;
    vertical-align: middle;
    height: var(--size);
    user-select: none;
    contain: style;
    border: 1px solid var(--b-theme);

}

:host(.rounded) {

    slot[name=head],
    slot[name=foot] {
        border-radius: 50%;
    }

}

:host(.sm) {
    --size: 1.5rem;
    --px: .3125rem;
    font-size: var(--f-xxs);

    slot[name=head] {
        font-size: .625rem;
    }

    slot[name=close] {
        font-size: .625rem;
        width: .875rem;
        height: .875rem;
        margin-right: 0;
    }
}

:host(.outlined) {
    background-color: transparent;

    slot[name=head] {
        margin-left: -1px;
    }
}

slot[name=close] {
    font-size: var(--f-xxs);
    width: 1.125rem;
    height: 1.125rem;
    min-width: auto;
    min-height: auto;
    margin-right: .1875rem;
}

[part=body],
slot[name=head],
slot[name=foot] {
    display: flex;
    align-items: center;
    justify-content: center;
    contain: layout style;
}

slot[name=head],
slot[name=foot] {
    display: flex;
    overflow: hidden;
    border-radius: $xxs;
    height: calc(var(--size) - var(--p) * 2);
}

slot[name=head] {
    letter-spacing: 0;
    font-weight: 600;
    color: var(--f-theme);
    text-transform: uppercase;
    background-color: var(--bg-light);
    padding: 0 $xs;
    min-width: calc(var(--size) - var(--p) * 2);
    &:blank {
        display: none;
    }
}

// ::slotted(img[part="head"]),
// ::slotted(i[part="head"]) {
//     margin: 0;
//     padding: 0;
//     width: calc(var(--size) - var(--p) * 2)!important;
// }

slot[name=foot] {
    color: var(--f-fade);
    margin-right: .1875rem;
}

[part=body] {
    padding: 0 var(--px);
    white-space: nowrap;
    justify-content: flex-start;
    font-weight: 400;

    i {
        margin-right: $xs;
    }
}