@import '../../variables';
@import '../../../element/clickable';

[part=root] {
    padding: var(--p) var(--px);
    white-space: nowrap;
    font-weight: 400;
    font-size: var(--f-size);
    vertical-align: middle;
    line-height: normal;
    height: var(--size);
    color: var(--f-theme);
    background-color: var(--bg-theme);
    border: 1px solid var(--b-theme);
    user-select: none;
    contain: style;
    align-items: center;
}

:host {
    --size: 2rem;
    --p: .25rem;
    --px: .625rem;
    --f-size: 0.8125rem;
    --mx: calc(var(--p) - var(--px));
    display: inline-flex;
    border-radius: $xs;

}

:host(.rounded) {

    ::slotted([part=head]),
    ::slotted([part=foot]) {
        border-radius: 50%;
    }
    
    ::slotted([part=close]) {
        border-radius: 50%;
    }
}

:host(.sm) {
    --size: 1.5rem;
    --px: .4375rem;
    --f-size: var(--f-xxs);

    ::slotted([part=head]) {
        font-size: .625rem;
    }

    ::slotted([part=close]) {
        --size: .875rem;
        font-size: .625rem;
        margin-right: -.125rem;
    }
}

:host(.outlined) {
    background-color: transparent;

    ::slotted([part=head]) {
        margin-left: calc(var(--mx) - 1px);
    }
}

::slotted([part=close]) {
    --size: 1.125rem;
    --px: 0px;
    border-radius: $xxs;
    font-size: var(--f-xxs);
    margin-right: -.1875rem;
    margin-left: .375rem;
}

[part=body],
::slotted([part=head]),
::slotted([part=foot]) {
    align-items: center;
    justify-content: center;
    contain: layout style;
}

::slotted([part=head]),
::slotted([part=foot]) {
    border-radius: $xxs;
    height: calc(var(--size) - var(--p) * 2);
}

::slotted([part=head]) {
    letter-spacing: 0;
    font-weight: 600;
    color: var(--f-theme);
    text-transform: uppercase;
    background-color: var(--bg-light);
    padding: 0 $xs;
    min-width: calc(var(--size) - var(--p) * 2);
    margin-right: .375rem;
    margin-left: var(--mx)
}

::slotted([role=img]),
::slotted(img[part=head]) {
    padding: 0;
    width: calc(var(--size) - var(--p) * 2);
    height: calc(var(--size) - var(--p) * 2);
    object-fit: cover;
}

// ::slotted(img[part="head"]),
// ::slotted(i[part="head"]) {
//     margin: 0;
//     padding: 0;
//     width: calc(var(--size) - var(--p) * 2)!important;
// }

::slotted([part=foot]) {
    color: var(--f-fade);
    margin-left: .375rem;
}

:host([disabled]) {
    ::slotted([part=head]) {
        color: inherit !important;
        background-color: var(--b-fadest) !important;
    }
}