@import '../../variables';
@import '../../mixins';

:host {
    --size: var(--header-size, 3rem);
    --side-min-width: var(--header-side-min-width, 0);
    width: 100%;
    top: 0;
    text-align: center;
    text-align-last: center;
    @include bgBlur(var(--bg-raise-rgb), .8);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    flex-direction: column;
}

:host,
[part=body],
slot[name=start],
slot[name=end] {
    display: flex;
    align-items: center;
    justify-content: center;
}

[part=body] {
    flex: 1 1 auto;
    min-width: 0;
}

:host(.safe) {
    [part=master] {
        padding-top: unquote('env(safe-area-inset-top)');
    }
}

[part=master] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: var(--size);
}

slot[name=end],
slot[name=start] {
    min-width: var(--side-min-width);
    flex: 0 0 auto;
}

::slotted(h2) {
    font-size: var(--f-sm) !important;
    margin: 0 !important;
}