@import '../../variables';
@import '../../mixins';

:host {
    width: 100%;
    min-height: 3rem;
    top: 0;
    text-align: center;
    text-align-last: center;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    @include bgBlur(var(--bg-raise-rgb), .8);
}

:host,
slot {
    display: flex;
    align-items: center;
    justify-content: center;
}

:host(.safe) {
    [part=master] {
        padding-top: unquote('env(safe-area-inset-top)');
    }
}

[part=master] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

slot[name=end],
slot[name=start] {
    min-width: 3rem;
}

::slotted(h2) {
    font-size: var(--f-sm) !important;
    margin: 0 !important;
}