:host {
    position: absolute;
    contain: content;
    height: 125%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    background-color: rgba(0, 0, 0, .5);
    // backdrop-filter: saturate(0%);
    // -webkit-backdrop-filter: saturate(0%);
}