@import '../../variables.scss';

// shadow
.s\:no {
    box-shadow: none !important;
}

.s\:xs {
    box-shadow: $s-xs !important;
}

.s\:sm {
    box-shadow: $s-sm !important;
}

.s {
    box-shadow: $s !important;
}

.s\:lg {
    box-shadow: $s-lg !important;
}

.s\:xl {
    box-shadow: $s-xl !important;
}
