@import '../modal/modal.scss';

:host {
    --max-width: var(--wrap-xxs);
    --p: var(--dialog-p, 2rem);
    z-index: 1070;
}

slot[name=icon]::slotted(*),
[part=icon] {
    margin: 0 auto;
    font-size: 4rem;
    width: fit-content;
    display: block;
    border-radius: 50%;
}

[part=icon] {
    &[name=check] {
        color: var(--green);
    }

    &[name=cross] {
        color: var(--red);
        transform: rotate(90deg);
    }
}

[part=title] {
    text-align: center;
    font-weight: 500;
    margin-top: 1rem;
    font-size: 1.875rem;
}

[part=master] {
    padding: var(--p);
    box-sizing: border-box;
    display: block;
}

[part=text] {
    text-align: center;
    margin-top: 1rem;
    color: var(--f-theme-fader);
    font-size: var(--f-sm);
    line-height: 1.5;
}

[part=icon]+[part=title],
slot[name=icon]+[part=title] {
    margin-top: 1.5rem;
}