<div class="p">
    <m-table class="sm t:center" axis=y>
        <table>
            <tbody>
                <tr>
                    <th>value</th>
                    <td><code>-1</code></td>
                    <td><code>1</code></td>
                    <td><code>1000</code></td>
                    <td><code>1010</code></td>
                    <td><code>1020</code></td>
                    <td><code>1030</code></td>
                    <td><code>1040</code></td>
                    <td><code>1050</code></td>
                    <td><code>1060</code></td>
                </tr>
                <tr>
                    <th></th>
                    <td><code>.z:down</code></td>
                    <td><code>.z:up</code></td>
                    <td><code>.z</code></td>
                    <td><code>.z:sticky</code></td>
                    <td><code>.z:abs</code></td>
                    <td><code>.z:fixed</code></td>
                    <td><code>.z:overlap</code></td>
                    <td><code>.z:overlay</code></td>
                    <td><code>.z:top</code></td>
                </tr>
                <tr>
                    <th>situation</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>head<br>foot</td>
                    <td></td>
                    <td>header<br>header<br>sidebar</td>
                    <td>dropdown<br>popup<br>popup</td>
                    <td>modal</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </m-table>
</div>