@import '../variables';

/**
   * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
   */
/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */

// .ctlField {
//     --set-size: calc(3rem - 2px);
//     border: 1px solid var(--b-fade);
//     border-radius: $xs;
//     min-height: var(--set-size);
//     padding: 0 1rem;

//     legend {
//         position: relative;
//         top: -1px;
//         display: block;
//         line-height: 0;
//         font-size: var(--f-xxs);
//         color: var(--f-themeFader);
//         padding: 0 3px 0 4px;
//         margin: 0 -5px;
//     }

//     .ctl {
//         margin-right: $sm;
//         height: var(--set-size);
//     }

//     @media (any-hover: hover) {
//         &:not([disabled]):hover {
//             border-color: var(--f-fadest)
//         }
//     }

//     &:focus-within {
//         border-color: var(--f-fadest)
//     }
// }

:host {
    --f-size: var(--f-sm);
    --b-width: 1px;
    --b-color: var(--b-fade);
    --py: .90625rem;
    --px: 1rem;
    --size: 3rem;
    --label-px: .25rem;
    --label-f-size: var(--f-xxs);
    position: relative;
    display: inline-flex;
    align-items: flex-start;
    font-size: var(--f-size);
    // ~m-icon {
    //     margin: 0 .5rem 0 .2rem;
    //     color: var(--f-fadest);
    // }
}

:host(.xs) {
    --f-size: var(--f-xs);
    --py: .5rem;
    --px: .8rem;
    --size: 2rem;
    --label-px: .25rem;
    --label-f-size: .65625rem;
}

:host(.sm) {
    --py: 0.65625rem;
    --label-px: .25rem;
    --size: 2.5rem;
}

:host(.lg) {
    --f-size: var(--f-md);
    --py: 1rem;
    --px: 1.2rem;
    --size: 3.5rem;
    --label-px: .3125rem;
    --label-f-size: .9375rem;
}

:host([disabled]) {
    --disabled-f-color: var(--f-fadest);
    cursor: no-drop !important;
    color: var(--f-fadest) !important;
    -webkit-text-fill-color: var(--f-fadest); // fix safari opacity problem

    fieldset {
        border-style: dashed;
    }

    ::slotted([part=head]),
    ::slotted([part=foot]),
    ::slotted([part=body]),
    m-icon,
    [part=body],
    label {
        cursor: no-drop !important;
        color: var(--f-fadest) !important;
    }
}


@media (any-hover: hover) {
    :host(:not([disabled]):not([readonly]):hover) {
        --b-color: var(--f-fadest);
    }
}

:host([readonly]:not(.output)) {
    fieldset {
        border-style: dashed;
    }
}

:host(:-webkit-autofill) {
    transition: background-color 5000s ease-in-out 0s;
    border-style: dashed !important;
    color: var(--f-blue);
    -webkit-text-fill-color: var(--f-blue);
}

:host(:active:not([readonly]):not([disabled])),
:host(:focus-within:not([readonly]):not([disabled])) {
    --b-width: 2px;

    ::slotted([part=body]),
    [part=body] {
        color: var(--f-fade);
    }
}

:host([label][empty]:not([expanded]):not(:focus-within):not(:active):not([readonly]):not([disabled])) {

    ::slotted([part=head]),
    ::slotted([part=foot]),
    ::slotted([part=body]),
    [part=body] {
        opacity: 0;
        transition-delay: 0s;
    }

    legend {
        max-width: 0;
    }

    label {
        transition-delay: .1s;
        transform: translate(0, var(--py));
    }
}

:host(.outlined) {
    border-radius: $xs;

    fieldset {
        border-width: var(--b-width);
    }

    legend {
        transition: max-width .2s cubic-bezier(0.33, 1, 0.68, 1) .1s;
        margin-left: 0;
        will-change: max-width;
    }
}

:host(.outlined[label]) {
    span {
        padding: 0 var(--label-px);
        letter-spacing: normal;
        contain: strict;
    }
}

// outlined
:host(.outlined[expanded]),
:host(.outlined[label]:not([empty]):not(:focus-within)) {
    legend {
        transition: none;
        margin-left: 0;
    }

}

// outlined
:host(.outlined[label]:active:not([readonly]):not([disabled])),
:host(.outlined[label]:focus-within:not([readonly]):not([disabled])) {
    legend {
        transition:
            max-width .2s ease-in;
        margin-left: -1px;
        height: 2px;
    }
}

:host(.underlined) {
    --px: 0;

    fieldset {
        border-bottom-width: var(--b-width);
    }

    ::slotted([part=head]),
    ::slotted([part=foot]),
    ::slotted([part=body]),
    m-icon,
    [part=body] {
        padding-top: calc(var(--py) + .125rem);
        padding-bottom: calc(var(--py) - .125rem);
    }
}

m-ripples {
    border-radius: inherit;
}

label {
    position: absolute;
    top: 0;
    left: var(--px);
    display: block;
    user-select: none;
    pointer-events: none;
    transition-property: transform, opacity;
    will-change: transform, opacity;
    transition-timing-function: cubic-bezier(0, 0, .2, 1);
    transition-duration: .2s;
    transform-origin: left;
    line-height: inherit;
    color: var(--f-themeFader);
    transform: scale(.75) translate(0, -65%);
    white-space: nowrap;
    letter-spacing: normal;
    // i {
    //     display: inline-flex;
    //     color: inherit;
    //     margin-right: $xs;
    //     line-height: 0;
    // }
}

fieldset {
    position: absolute;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    color: var(--theme, var(--f-themeFader));
    border: 0px solid var(--b-color);
    padding: 0 calc(var(--px) - .3125rem);
    border-radius: inherit;
    pointer-events: none;
}

legend {
    max-width: 100%;
    height: 1px;
    font-size: var(--label-f-size);
    line-height: 0;
    padding: 0;
    margin: 0;
    contain: layout paint style;
    user-select: none;
    visibility: hidden;
}

m-badge {
    position: absolute;
    z-index: $z-up;
    top: 100%;
    right: 0;
    max-width: 100%;
    visibility: hidden;
    margin: $xs 0 0 0;
    padding: .25rem .4rem;
    line-height: 1.2;
    border-radius: $xs;
    letter-spacing: inherit;
    white-space: normal;
    text-align: right;
}

::slotted(:invalid) {
    box-shadow: none;
}

::slotted([part=head]),
::slotted([part=foot]),
::slotted([part=body]),
m-icon,
[part=body] {
    box-sizing: border-box;
    padding-top: var(--py);
    padding-bottom: var(--py);
    transition: opacity .2s .1s cubic-bezier(0, 0, .2, 1);
    will-change: opacity;
}

::slotted([part=body]),
[part=body] {
    -webkit-appearance: none !important;
    text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    white-space: nowrap;
    font-family: inherit;
    z-index: $z-up;
    contain: style;
    width: 100%;
    height: 100%;
    font-weight: 500;
    color: var(--f-theme);
    -webkit-text-fill-color: unset; // fix safari opacity problem
    // transition: color .2s ease;
    // will-change: color;
    user-select: text;
    -webkit-user-select: text;
    padding-left: var(--px);
    padding-right: var(--px);
    cursor: text !important;
}

::slotted([part=head]),
::slotted([part=foot]),
m-icon {
    display: flex !important;
    user-select: none;
    white-space: nowrap;
    align-items: center;
    min-height: var(--size);
}

::slotted([part=head]) {
    margin-right: -.6875rem;
    padding-left: var(--px);
    order: -1;
}

m-icon,
::slotted([part=foot]) {
    order: 1;
    margin-left: .3125rem;
    padding-right: var(--px);
    font-size: var(--f-xxs);
    color: var(--f-fade);
}

m-icon {
    padding-right: calc(var(--px) / 2);
    margin-left: var(--px);
    font-size: var(--f-size);
}

// [validate] {

//     &:valid:not(:placeholder-shown),
//     &:valid[class*=dirty],
//     &.valid[class*=dirty],
//     &[class*=valid][class*=dirty] {
//         ~fieldset {
//             --theme: var(--green);
//             border-color: var(--green);
//         }

//         ~label {
//             color: var(--f-green)
//         }

//         ~.validate {
//             --bg-theme: var(--greenFader);
//             --f-theme: var(--green);
//             visibility: visible;
//         }
//     }
// }

// [invalidate] {

//     /* state: invalid */
//     &:invalid:not(:placeholder-shown),
//     &:invalid[class*=dirty],
//     &.invalid[class*=dirty],
//     &[class*=-invalid][class*=dirty] {
//         ~fieldset {
//             --theme: var(--red);
//             border-color: var(--red);
//         }

//         ~label {
//             color: var(--f-red)
//         }

//         ~.invalidate {
//             --bg-theme: var(--redFader);
//             --f-theme: var(--red);
//             visibility: visible;
//         }
//     }
// }

// [warning]:not(:placeholder-shown) {
//     ~fieldset {
//         --theme: var(--yellow);
//         border-color: var(--yellow);
//     }

//     ~label {
//         color: var(--f-yellow)
//     }

//     ~m-badge.warning {
//         --bg-theme: var(--yellowFader);
//         --f-theme: var(--yellow);
//         visibility: visible;
//     }
// }