<div class="demo mb:no">
    <form class="demo-body" #form="ngForm">
        <div class="y">
            <div class="x:12">
                <m-button class="blue">
                    測試
                    <svg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'>
                        <circle cx="10" cy="10" r="7" stroke="black" stroke-width="3" fill="none" />
                    </svg>
                </m-button>
            </div>
            <div class="x:6">
                <m-select name="city-multiple"
                          label="city"
                          required
                          (change)="masterChange($event)"
                          multiple
                          searchable
                          placeholder="search ..."
                          [ngModel]="['taipei']"
                          class="outlined">
                    <m-option *ngFor="let city of ['taichung', 'kaosiung', 'taipei', 'hualien', 1, 2, 3, 4, 5, 6]"
                              [value]="city">
                        <span slot="head">🍉</span>{{city}}</m-option>
                    <m-option *ngFor="let city of ['taoyuan']"
                              [value]="city">
                        <span slot="head">🍉</span>{{city}}</m-option>
                </m-select>
            </div>
            <div class="x:6">
                <m-select name="city"
                          label="city"
                          required
                          placeholder="current location"
                          (change)="masterChange($event)"
                          ngModel="taipei"
                          class="outlined">
                    <m-option>current</m-option>
                    <m-option *ngFor="let city of ['taichung', 'kaosiung', 'taipei', 'hualien']"
                              [value]="city">
                        {{city}}
                    </m-option>
                    <m-option *ngFor="let city of ['taoyuan']"
                              [value]="city">{{city}}</m-option>
                </m-select>
            </div>
            <div class="x" *ngFor="let theme of ['dark', 'light']">
                <m-check type="radio"
                         interface="switch"
                         name="theme"
                         [value]="theme"
                         ngModel
                         required>
                    <label>{{ theme }}</label>
                </m-check>
            </div>
            <div class="x" *ngFor="let sex of ['male', 'female']">
                <m-check type="radio"
                         name="sex"
                         [value]="sex"
                         ngModel
                         required>
                    <label>{{ sex }}</label>
                </m-check>
            </div>
            <div class="x">
                <div class="y" ngModelGroup="color">
                    <div class="x" *ngFor="let color of ['red', 'blue']">
                        <m-check type="checkbox"
                                 [name]="color"
                                 ngModel
                                 required>
                            <label>{{ color }}</label>
                        </m-check>
                    </div>
                </div>
            </div>
            <div class="x">
                <m-input type="email"
                         name="text"
                         label="text"
                         prompt-valid="valid"
                         prompt-invalid="invalid"
                         prompt-warning="warning"
                         warning
                         ngModel
                         required
                         email
                         class="outlined">
                </m-input>
            </div>
            <div class="x">
                <m-input type="number"
                         name="number"
                         label="number"
                         ngModel
                         required
                         class="outlined">
                </m-input>
            </div>
        </div>
    </form>
</div>
<!-- <m-button class="outlined" (click)="submit(form)">送出</m-button> -->
<template [codeLang]="'typescript'" [codeFactors]="form.value" [codeCopy]=false>
    form.value = {{ form.value | json }}
</template>