<div class="y">
    <div class="x:5@sm demo mb:no">
        <div class="demo-body">
            <form #form="ngForm">
                <div class="y">
                    <div class="x:12">
                        <m-select name="city"
                                  label="city"
                                  required
                                  (change)="masterChange($event)"
                                  ngModel="taipei"
                                  class="outlined">
                            <m-option *ngFor="let city of ['taichung', 'kaosiung', 'taipei', 'hualien']"
                                      [value]="city">{{city}}</m-option>
                            <m-option *ngFor="let city of ['taoyuan']"
                                      [value]="city">{{city}}</m-option>
                        </m-select>
                    </div>
                    <div class="x:12">
                        <m-select name="city-multiple"
                                  label="city"
                                  required
                                  (change)="masterChange($event)"
                                  multiple
                                  [ngModel]="['taipei']"
                                  class="outlined">
                            <m-option *ngFor="let city of ['taichung', 'kaosiung', 'taipei', 'hualien']"
                                      [value]="city">{{city}}</m-option>
                            <m-option *ngFor="let city of ['taoyuan']"
                                      [value]="city">{{city}}</m-option>
                        </m-select>
                    </div>
                    <div class="x" *ngFor="let theme of ['dark', 'light']">
                        <m-check type="radio"
                                 interface="switch"
                                 name="theme"
                                 [value]="theme"
                                 ngModel
                                 required>
                            <label>{{ theme }}</label>
                        </m-check>
                    </div>
                </div>
                <div class="y">
                    <div class="x" *ngFor="let sex of ['male', 'female']">
                        <m-check type="radio"
                                 name="sex"
                                 [value]="sex"
                                 ngModel
                                 required>
                            <label>{{ sex }}</label>
                        </m-check>
                    </div>
                </div>
                <div class="y" ngModelGroup="color">
                    <div class="x" *ngFor="let color of ['red', 'blue']">
                        <m-check type="checkbox"
                                 [name]="color"
                                 ngModel
                                 required>
                            <label>{{ color }}</label>
                        </m-check>
                    </div>
                </div>
                <div class="y">
                    <div class="x">
                        <m-input type="email"
                                 name="text"
                                 label="text"
                                 prompt-valid="valid"
                                 prompt-invalid="invalid"
                                 prompt-warning="warning"
                                 warning
                                 ngModel
                                 required
                                 email
                                 class="outlined">
                        </m-input>
                    </div>
                    <div class="x">
                        <m-input type="number"
                                 name="number"
                                 label="number"
                                 ngModel
                                 required
                                 class="outlined">
                        </m-input>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="x:7@sm">
        <!-- <m-button class="outlined" (click)="submit(form)">送出</m-button> -->
        <template [codeLang]="'typescript'" [codeFactors]="form.value" [codeCopy]=false>
            form.value = {{ form.value | json }}
        </template>
    </div>
</div>