::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    display: none;
}

::-webkit-search-cancel-button,
::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    /* 1 */
    font: inherit;
    /* 2 */
}

::placeholder {
    opacity: 1; // fixed safari default opacity
    color: var(--f-fadest);
    -webkit-text-fill-color: var(--f-fadest); // fix safari opacity problem
}

:-moz-read-only {
    cursor: default;
    caret-color: transparent;
}