[part=body] {
    flex-wrap: wrap;
    flex: 1 1 auto;
    width: auto;
    margin: -.28125rem -.375rem;

    &:empty[placeholder] {
        margin: 0 !important;

        &:before {
            content: attr(placeholder);
            color: var(--f-fadest);
        }
    }

    &:empty[label]:not([placeholder]):before {
        content: attr(label);
        color: transparent;
    }
}

m-chip {
    --chip-bg-color-head: var(--theme-fade);
    --chip-bg-color: var(--theme-fader);
    --chip-b-color: transparent;
    flex: 0 0 auto;
    margin: .125rem;
}

m-button[part=close] {
    --button-bg-color-hover: var(--bg-object-hover);
    --button-bg-color: transparent;
    --button-f-color: var(--f-fader);

    m-icon {
        --icon-stroke-width: 3px;
    }
}