<div class="demo">
    <div class="demo-body">
        <div class="y">
            <m-card class="raised x:6">
                <div part="card-head" class="by:3x2"
                    style="background-image: url(https://images.pexels.com/photos/936611/pexels-photo-936611.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)">
                </div>
                <div part="card-body">
                    <h5>Wed Jan 22 2020</h5>
                    <h3>Healthy food</h3>
                    <h4>fruit</h4>
                    <p>Here's a low-calorie platter for a great afternoon light meal.</p>
                </div>
                <div part="card-foot" class="bt:no">
                    <a is="m-button" class="theme+ xs outlined">
                        learn more
                        <i class="i-chevron-right buttonFoot"></i>
                    </a>
                </div>
            </m-card>
            <m-card class="outlined x:6">
                <div part="card-head" class="by:3x2"
                    style="background-image: url(https://images.pexels.com/photos/1640777/pexels-photo-1640777.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)">
                </div>
                <div part="card-body">
                    <h5>Wed Jan 22 2020</h5>
                    <h3>Healthy food</h3>
                    <h4>fruit</h4>
                    <p>Here's a low-calorie platter for a great afternoon light meal. Here's a low-calorie platter for a
                        great afternoon light meal.</p>
                </div>
                <a is="m-button" part="card-foot" class="sm transparent c:left">
                    learn more
                    <i class="i-chevron-right buttonFoot abs right"></i>
                </a>
            </m-card>
        </div>
    </div>
</div>

<h2 id="structure">{{ 'structure' | translate }}</h2>
<template [codeLang]="'html'">
    <m-card>
        <div part="chip-card"></div>
        <div part="chip-card"></div>
        <div part="chip-card"></div>
    </m-card>
</template>

<h2 id="assembling">{{ 'assembling' | translate }}</h2>
<div class="demo">
    <div class="demo-body">
        <div class="y">
            <m-card class="raised x:6">
                <div part="card-head" class="by:3x2"
                    style="background-image: url(https://images.pexels.com/photos/936611/pexels-photo-936611.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)">
                </div>
                <div part="card-body">
                    <h5>Wed Jan 22 2020</h5>
                    <h3>Healthy food</h3>
                    <h4>fruit</h4>
                    <p>Here's a low-calorie platter for a great afternoon light meal.</p>
                </div>
                <div part="card-foot" class="bt:no">
                    <a is="m-button" class="theme+ xs outlined">
                        learn more
                        <i class="i-chevron-right buttonFoot"></i>
                    </a>
                </div>
            </m-card>
            <m-card class="outlined x:6">
                <div part="card-head" class="by:3x2"
                    style="background-image: url(https://images.pexels.com/photos/1640777/pexels-photo-1640777.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)">
                </div>
                <div part="card-body">
                    <h5>Wed Jan 22 2020</h5>
                    <h3>Healthy food</h3>
                    <h4>fruit</h4>
                    <p>Here's a low-calorie platter for a great afternoon light meal. Here's a low-calorie platter for a
                        great afternoon light meal.</p>
                </div>
                <a is="m-button" part="card-foot" class="sm transparent c:left">
                    learn more
                    <i class="i-chevron-right buttonFoot abs right"></i>
                </a>
            </m-card>
            <m-card class="outlined c:col x:12">
                <div part="card-head" class="x:4"
                    style="background-image: url(https://images.pexels.com/photos/793765/pexels-photo-793765.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)">
                </div>
                <div part="card-body" class="x:8">
                    <h5>Wed Jan 22 2020</h5>
                    <h3>Healthy food</h3>
                    <h4>fruit</h4>
                    <p>Here's a low-calorie platter for a great afternoon light meal.</p>
                </div>
            </m-card>
            <m-card class="outlined c:reverse c:col x:12">
                <div part="card-head" class="x:4"
                    style="background-image: url(https://images.pexels.com/photos/769290/pexels-photo-769290.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)">
                </div>
                <div part="card-body" class="x:8">
                    <h5>Wed Jan 22 2020</h5>
                    <h3>Healthy food</h3>
                    <h4>fruit</h4>
                    <p>Here's a low-calorie platter for a great afternoon light meal.</p>
                    <a is="m-button" part="card-foot" class="sm transparent c:left">
                        learn more
                        <i class="i-chevron-right buttonFoot abs right"></i>
                    </a>
                </div>
            </m-card>
            <m-card class="raised x:4">
                <div part="card-head" class="bg:top by:1x1"
                    style="background-image: url(https://t4.ftcdn.net/jpg/02/98/47/83/240_F_298478374_Uqz4XsqJDbSwCPrxcsNKOOxOebxzFvXa.jpg)">
                </div>
                <div part="card-body" class="t:center">
                    <h3>Joy</h3>
                    <h5>front-end engineer</h5>
                </div>
                <a is="m-button" part="card-foot" class="sm transparent">
                    <i class="i-user-plus buttonHead f:fade+ abs"></i>
                    add
                </a>
            </m-card>
            <m-card class="raised x:4">
                <div part="card-head" class="bg:top by:1x1"
                    style="background-image: url(https://t3.ftcdn.net/jpg/00/83/02/68/240_F_83026823_80Uz9OvMJiwHP1nVy0VMCfPh31ld97R7.jpg)">
                </div>
                <div part="card-body" class="t:center">
                    <h3>Amy</h3>
                    <h5>back-end engineer</h5>
                </div>
                <a is="m-button" part="card-foot" class="sm transparent">
                    <i class="i-user-plus buttonHead f:fade+ abs"></i>
                    add
                </a>
            </m-card>
            <m-card class="raised x:4">
                <div part="card-head" class="bg:top by:1x1"
                    style="background-image: url(https://t3.ftcdn.net/jpg/02/18/05/36/240_F_218053670_6gTauOesxLK7eBTMWhdPGutF9qY3N2iK.jpg)">
                </div>
                <div part="card-body" class="t:center">
                    <h3>Tom</h3>
                    <h5>ui designer</h5>
                </div>
                <a is="m-button" part="card-foot" class="sm transparent">
                    <i class="i-user-plus buttonHead f:fade+ abs"></i>
                    add
                </a>
            </m-card>
            <m-card class="outlined x:12">
                <figure part="card-head" class="decorated" style="background-color: #000">
                    <video controls
                        poster="https://www.apple.com/v/iphone/home/af/images/overview/hero/hero_iphone11_pro__je9i781j99u2_large_2x.jpg"
                        src="https://www.apple.com/105/media/tw/iphone-11-pro/2019/3bd902e4-0752-4ac1-95f8-6225c32aec6d/films/product/iphone-11-pro-product-tpl-tw-2019_1280x720h.mp4">
                        <source
                            src="https://www.apple.com/105/media/tw/iphone-11-pro/2019/3bd902e4-0752-4ac1-95f8-6225c32aec6d/films/product/iphone-11-pro-product-tpl-tw-2019_1280x720h.mp4">
                    </video>
                </figure>
                <div part="card-body">
                    <h5>Wed Jan 22 2020</h5>
                    <h3>Apple iPhone 11 Pro</h3>
                    <p>Here's a low-calorie platter for a great afternoon light meal.</p>
                </div>
                <a is="m-button" part="card-foot" class="sm transparent c:left">
                    learn more
                    <i class="i-chevron-right buttonFoot abs right"></i>
                </a>
            </m-card>
        </div>
    </div>
</div>