<div class="demo">
    <div class="demo-body">
        <div class="y">
            <m-card class="raised x:6">
                <div part="head" class="by:3x2"
                    style="background-image: url(https://images.pexels.com/photos/936611/pexels-photo-936611.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)">
                </div>
                <div part="body">
                    <h5>Wed Jan 22 2020</h5>
                    <h3>Healthy food</h3>
                    <h4>fruit</h4>
                    <p>Here's a low-calorie platter for a great afternoon light meal.</p>
                </div>
                <div part="foot">
                    <m-button class="theme+ xs outlined">
                        learn more
                        <ion-icon name="chevron-forward" part="foot"></ion-icon>
                    </m-button>
                </div>
            </m-card>
            <m-card class="raised x:6">
                <div part="head" class="by:3x2"
                    style="background-image: url(https://images.pexels.com/photos/1640777/pexels-photo-1640777.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)">
                </div>
                <div part="body">
                    <h5>Wed Jan 22 2020</h5>
                    <h3>Healthy food</h3>
                    <h4>fruit</h4>
                    <p>Here's a low-calorie platter for a great afternoon light meal.</p>
                </div>
                <div part="foot" class="y:xs">
                    <m-chip class="x theme+ sm">
                        <div part="head">🤸‍♀️</div>
                        <div part="body">Low calories</div>
                    </m-chip>
                    <m-chip class="x theme+ sm">
                        <div part="head">🥗</div>
                        <div part="body">Salad</div>
                    </m-chip>
                    <m-chip class="x theme+ sm">
                        <div part="head">🍉</div>
                        <div part="body">Fruit</div>
                    </m-chip>
                </div>
            </m-card>
        </div>
    </div>
</div>

<h2 id="structure">{{ 'structure' | translate }}</h2>
<template [codeLang]="'html'">
    <m-card>
        <div part="head"></div>
        <div part="body"></div>
        <div part="foot"></div>
        <m-button part="foot"></m-button>
    </m-card>
</template>

<h2 id="assembling">{{ 'assembling' | translate }}</h2>
<div class="y">
    <div class="x:6@sm c:row">
        <template [codeLang]="'html'" [codeDemo]=true [codeCollapsed]=false>
            <m-card class="raised">
                <div part="head" class="by:3x2"
                    style="background-image: url(https://images.pexels.com/photos/936611/pexels-photo-936611.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)">
                </div>
                <div part="body">
                    <h5>Wed Jan 22 2020</h5>
                    <h3>Healthy food</h3>
                    <h4>fruit</h4>
                    <p>Here's a low-calorie platter for a great afternoon light meal.</p>
                </div>
                <div part="foot">
                    <m-button class="theme+ xs outlined">
                        learn more
                        <ion-icon name="chevron-forward" part="foot"></ion-icon>
                    </m-button>
                </div>
            </m-card>
        </template>
    </div>
    <div class="x:6@sm c:row">
        <template [codeLang]="'html'" [codeDemo]=true [codeCollapsed]=false>
            <m-card class="raised">
                <div part="head" class="by:3x2"
                    style="background-image: url(https://images.pexels.com/photos/1640777/pexels-photo-1640777.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)">
                </div>
                <div part="body" style="padding-bottom: 2.1rem">
                    <h5>Wed Jan 22 2020</h5>
                    <h3>Healthy food</h3>
                    <h4>fruit</h4>
                    <p>Here's a low-calorie platter for a great afternoon light meal.</p>
                </div>
                <m-button part="foot" class="bt b:dashed">
                    learn more
                    <ion-icon name="chevron-forward" part="foot"></ion-icon>
                </m-button>
            </m-card>
        </template>
    </div>
    <div class="x:12@sm c:row">
        <template [codeLang]="'html'" [codeDemo]=true [codeCollapsed]=false>
            <m-card class="raised head+body/foot">
                <div part="head"
                    style="background-image: url(https://images.pexels.com/photos/793765/pexels-photo-793765.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)">
                </div>
                <div part="body">
                    <h5>Wed Jan 22 2020</h5>
                    <h3>Healthy food</h3>
                    <h4>fruit</h4>
                    <p>Here's a low-calorie platter for a great afternoon light meal.</p>
                </div>
                <m-button class="c:left bt b:dashed" part="foot">
                    learn more
                    <ion-icon name="chevron-forward" part="foot" class="abs"></ion-icon>
                </m-button>
            </m-card>
        </template>
    </div>
    <div class="x:12@sm c:row">
        <template [codeLang]="'html'" [codeDemo]=true [codeCollapsed]=false>
            <m-card class="outlined body/foot+head">
                <div part="head"
                    style="background-image: url(https://images.pexels.com/photos/416471/pexels-photo-416471.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500)">
                </div>
                <div part="body">
                    <h5>Wed Jan 22 2020</h5>
                    <h3>Healthy food</h3>
                    <h4>fruit</h4>
                    <p>Here's a low-calorie platter for a great afternoon light meal.</p>
                </div>
                <m-button class="c:left bt b:dashed" part="foot">
                    learn more
                    <ion-icon name="chevron-forward" part="foot" class="abs"></ion-icon>
                </m-button>
            </m-card>
        </template>
    </div>
    <div class="x:12 c:row">
        <template [codeLang]="'html'" [codeDemo]=true [codeCollapsed]=false>
            <m-card class="raised x:6">
                <figure part="head" class="decorated" style="background-color: #000">
                    <video playsinline muted autoplay loop
                        src="https://player.vimeo.com/external/327849339.sd.mp4?s=d43df12c6b19a289137b374ad9ddad0c05abfdd2&profile_id=164&oauth2_token_id=57447761">
                        <source
                            src="https://player.vimeo.com/external/327849339.sd.mp4?s=d43df12c6b19a289137b374ad9ddad0c05abfdd2&profile_id=164&oauth2_token_id=57447761">
                    </video>
                </figure>
                <div part="body">
                    <h5>Wed Jan 22 2020</h5>
                    <h3>Healthy food</h3>
                    <h4>fruit</h4>
                    <p>Here's a low-calorie platter for a great afternoon light meal.</p>
                </div>
                <m-button part="foot" class="c:left bt b:dashed">
                    learn more
                    <ion-icon name="chevron-forward" part="foot" class="abs"></ion-icon>
                </m-button>
            </m-card>
        </template>
    </div>
    <div class="x:12 c:row">
        <template [codeLang]="'html'" [codeDemo]=true [codeCollapsed]=false>
            <m-card class="raised">
                <div part="body" class="x">
                    <h5>Wed Jan 22 2020</h5>
                    <h3>Apple iPhone 11 Pro</h3>
                </div>
                <figure part="head" class="decorated" style="background-color: #000">
                    <video controls
                        poster="https://www.apple.com/v/iphone/home/af/images/overview/hero/hero_iphone11_pro__je9i781j99u2_large_2x.jpg"
                        src="https://www.apple.com/105/media/tw/iphone-11-pro/2019/3bd902e4-0752-4ac1-95f8-6225c32aec6d/films/product/iphone-11-pro-product-tpl-tw-2019_1280x720h.mp4">
                        <source
                            src="https://www.apple.com/105/media/tw/iphone-11-pro/2019/3bd902e4-0752-4ac1-95f8-6225c32aec6d/films/product/iphone-11-pro-product-tpl-tw-2019_1280x720h.mp4">
                    </video>
                </figure>
                <div part="body">
                    <p>iPhone 11 Pro lets you zoom from the Telephoto all the way out to the new Ultra Wide camera, for
                        an impressive 4x optical zoom range.</p>
                </div>
                <m-button part="foot" class="c:left bt b:dashed">
                    learn more
                    <ion-icon name="chevron-forward" part="foot" class="abs"></ion-icon>
                </m-button>
            </m-card>
        </template>
    </div>
</div>

<h2 id="raised">{{ 'raised' | translate }}</h2>
<div class="demo">
    <div class="demo-body">
        <div class="y">
            <m-card class="x:6">
                <div part="body">
                    <h5>Wed Jan 22 2020</h5>
                    <h3>Default</h3>
                    <p>Here's a low-calorie platter for a great afternoon light meal.</p>
                </div>
                <div part="foot">
                    <m-button class="theme+ xs outlined">
                        learn more
                        <ion-icon name="chevron-forward" part="foot"></ion-icon>
                    </m-button>
                </div>
            </m-card>
            <m-card class="raised x:6">
                <div part="body">
                    <h5>Wed Jan 22 2020</h5>
                    <h3>Raised</h3>
                    <p>Here's a low-calorie platter for a great afternoon light meal.</p>
                </div>
                <div part="foot">
                    <m-button class="theme+ xs outlined">
                        learn more
                        <ion-icon name="chevron-forward" part="foot"></ion-icon>
                    </m-button>
                </div>
            </m-card>
        </div>
    </div>
</div>
<m-table class="sm neat axis:x">
    <table>
        <thead>
            <tr>
                <th class="fit t:left bg:theme sticky">class</th>
                <th class="t:left bg:theme sticky">description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <code class="f:blue">raised</code>
                </td>
                <td><b>提高</b>，使其更突兀</td>
            </tr>
        </tbody>
    </table>
</m-table>

<h2 id="outlined">{{ 'outlined' | translate }}</h2>
<div class="demo">
    <div class="demo-body">
        <div class="y">
            <m-card class="x:6">
                <div part="body">
                    <h5>Wed Jan 22 2020</h5>
                    <h3>Default</h3>
                    <p>Here's a low-calorie platter for a great afternoon light meal.</p>
                </div>
                <div part="foot">
                    <m-button class="theme+ xs outlined">
                        learn more
                        <ion-icon name="chevron-forward" part="foot"></ion-icon>
                    </m-button>
                </div>
            </m-card>
            <m-card class="outlined x:6">
                <div part="body">
                    <h5>Wed Jan 22 2020</h5>
                    <h3>Outlined</h3>
                    <p>Here's a low-calorie platter for a great afternoon light meal.</p>
                </div>
                <div part="foot">
                    <m-button class="theme+ xs outlined">
                        learn more
                        <ion-icon name="chevron-forward" part="foot"></ion-icon>
                    </m-button>
                </div>
            </m-card>
        </div>
    </div>
</div>
<m-table class="sm neat axis:x">
    <table>
        <thead>
            <tr>
                <th class="fit t:left bg:theme sticky">class</th>
                <th class="t:left bg:theme sticky">description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <code class="f:blue">raised</code>
                </td>
                <td><b>提高</b>，使其更突兀</td>
            </tr>
        </tbody>
    </table>
</m-table>

<h2 id="skeleton">{{ 'loading-indicator' | translate }}</h2>
<div class="demo">
    <div class="demo-body">
        <div class="y c:center">
            <m-card class="raised x:6">
                <div part="head" class="by:3x2">
                    <m-skeleton></m-skeleton>
                </div>
                <div part="body">
                    <h5>
                        <m-skeleton class="animated" height="60%" width="30%"></m-skeleton>
                    </h5>
                    <h3>
                        <m-skeleton class="animated" height="60%" width="60%"></m-skeleton>
                    </h3>
                    <h4>
                        <m-skeleton class="animated" height="60%" width="20%"></m-skeleton>
                    </h4>
                    <p>
                        <m-skeleton class="animated" height="60%"></m-skeleton>
                        <m-skeleton class="animated" height="60%"></m-skeleton>
                        <m-skeleton class="animated" height="60%" width="70%"></m-skeleton>
                    </p>
                </div>
            </m-card>
            <m-card class="raised x:6">
                <div part="head" class="by:3x2"
                    style="background-image: url(https://images.pexels.com/photos/936611/pexels-photo-936611.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)">
                </div>
                <div part="body">
                    <h5>Wed Jan 22 2020</h5>
                    <h3>Healthy food</h3>
                    <h4>fruit</h4>
                    <p>Here's a low-calorie platter for a great afternoon light meal.</p>
                </div>
                <div part="foot">
                    <m-button class="theme+ xs outlined">
                        learn more
                        <ion-icon name="chevron-forward" part="foot"></ion-icon>
                    </m-button>
                </div>
            </m-card>
        </div>
    </div>
</div>
<m-table class="sm neat axis:x">
    <table>
        <thead>
            <tr>
                <th class="fit t:left bg:theme sticky">element</th>
                <th class="t:left bg:theme sticky">description</th>
                <th class="bg:theme sticky"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <code class="f:blue">&lt;m-skeleton&gt;</code>
                </td>
                <td><b>內容骨架</b>，提升用戶加載體驗</td>
                <td class="t:right">
                    <m-chip class="sm theme+" href="ui/components/skeleton">
                        <div part="body">{{ 'skeleton' | translate }}</div>
                    </m-chip>
                </td>
            </tr>
        </tbody>
    </table>
</m-table>

<h2 id="state">{{ 'state' | translate }}</h2>
<doc-prop [name]="'disabled'" [types]="['boolean']" [description]="'The user cannot interact with the component.'">
</doc-prop>
<div class="demo">
    <div class="demo-body">
        <div class="y:sm c:center">
            <m-card class="raised x:6" disabled>
                <div part="head" class="by:3x2"
                    style="background-image: url(https://images.pexels.com/photos/936611/pexels-photo-936611.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)">
                </div>
                <div part="body">
                    <h5>Wed Jan 22 2020</h5>
                    <h3>Healthy food</h3>
                    <h4>fruit</h4>
                    <p>Here's a low-calorie platter for a great afternoon light meal.</p>
                </div>
                <div part="foot">
                    <m-button class="theme+ xs outlined">
                        learn more
                        <ion-icon name="chevron-forward" part="foot"></ion-icon>
                    </m-button>
                </div>
                <div class="abs" style="margin: .5rem">
                    <m-chip class="bg:popup">
                        <div part="head">🔥</div>
                        <div part="body">SOLD OUT</div>
                    </m-chip>
                </div>
            </m-card>
        </div>
    </div>
</div>

<h2 id="type">{{ 'type' | translate }}</h2>
<doc-prop [name]="'type'" [types]="['button', 'reset', 'submit']" [default]="'button'"
    [description]="'The type of the button.'">
</doc-prop>

<doc-prop-hyperlink></doc-prop-hyperlink>