m-card {
    h3 {
        font-size: $f-md;
        line-height: 1.2;
    }

    h4 {
        font-size: $f-sm;
    }

    h3,
    h4 {
        margin: 0 0 $xs 0 !important; // !important: conflict article.decorated
    }

    h5 {
        font-size: $f-xxs;
        margin-bottom: $xxs;
    }

    h4,
    h5 {
        font-weight: 400;
        color: var(--f-themeFader);
    }

    p {
        font-size: $f-xs;
        line-height: 1.4 !important;
        text-align: inherit;
        margin: 0 0 $xs 0 !important; // !important: conflict article.decorated
        color: var(--f-fade);

        &:last-child {
            margin: 0 !important; // !important: conflict article.decorated
        }
    }
}