@import '../../variables';
@import '../../shadow';

:host {
    --bg-theme: var(--bg-object);
    --bg-disabled: var(--bg-theme);
    --foot-px: 1rem;
    --foot-py: .8rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border-radius: $xs;
    overflow: hidden;
}

:host(.raised) {
    border: 0;
    box-shadow:
        0 0.5px 0.9px rgba(0, 0, 0, 0.025),
        0 1.3px 2.2px rgba(0, 0, 0, 0.035),
        0 2.7px 4.4px rgba(0, 0, 0, 0.045),
        0 5.5px 9.1px rgba(0, 0, 0, 0.055),
        0 15px 25px rgba(0, 0, 0, 0.08);
}

:host([disabled]) {
    box-shadow: none;

    ::slotted(*) {
        pointer-events: none !important;
    }

    slot[name=head],
    .body,
    slot[name=foot] {
        opacity: .5;
    }
}

slot[name=head] {
    position: relative;
    display: block;
    grid-area: head;
    border: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    margin: 0 !important; // !important: conflict article.decorated

    ::slotted(m-skeleton) {
        height: 100%
    }
}

.body {
    display: block;
    grid-area: body;
    padding: 1rem;
    width: 100%;
    flex: 1 1 auto;
}

slot[name=foot] {
    display: flex;
    flex-wrap: wrap;
    padding: var(--foot-py) var(--foot-px);
    grid-area: foot;
    clear: both;
}

slot[name=foot]::slotted(m-button) {
    margin: calc(-1 * var(--foot-py)) calc(-1 * var(--foot-px));
    border-radius: 0;
    flex: 1 1 auto;
    --px: 1.1rem;
    --py: 0;
    --size: 2.5rem;
    --f-size: .9125rem;
}

:host(.body\/foot\+head) {
    [part=shadow] {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr auto;
        grid-template-areas:
            "body head"
            "foot head"
    }
}

:host(.head\+body\/foot) {
    [part=shadow] {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr auto;
        grid-template-areas:
            "head body"
            "head foot"
    }
}

.body::slotted(h3) {
    font-size: $f-md;
    line-height: 1.2;
}

.body::slotted(h4) {
    font-size: $f-sm;
}

.body::slotted(h3),
.body::slotted(h4) {
    margin: 0 0 $xs 0 !important; // !important: conflict article.decorated
}

.body::slotted(h5) {
    font-size: $f-xxs;
    margin-bottom: $xxs;
}

.body::slotted(h4),
.body::slotted(h5) {
    font-weight: 400;
    color: var(--f-themeFader);
}

.body::slotted(h3):last-child,
.body::slotted(h4):last-child,
.body::slotted(h5):last-child {
    margin-bottom: 0 !important;
}

.body::slotted(p) {
    font-size: $f-xs;
    line-height: 1.4 !important;
    text-align: inherit;
    margin: 0 0 $xs 0 !important; // !important: conflict article.decorated
    color: var(--f-fade);

    &:last-child {
        margin: 0 !important; // !important: conflict article.decorated
    }
}