@import '../../variables';
@import '../../shadow';

[part=shadow] {
    padding: 0;
    background-color: var(--bg-object);
}

:host {
    display: grid;
    border-radius: $xs;
    overflow: hidden;
    // flex-wrap: wrap;
    // flex-direction: column;
}

:host(.raised) {
    border: 0;
    box-shadow:
        0 0.4px 0.8px rgba(0, 0, 0, 0.021),
        0 1px 2.3px rgba(0, 0, 0, 0.03),
        0 2.4px 5.4px rgba(0, 0, 0, 0.039),
        0 8px 18px rgba(0, 0, 0, 0.06);
}

:host(.outlined) {
    border: 1px solid var(--b-fadest);
}

::slotted([part="head"]) {
    position: relative;
    grid-area: head;
    border: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    margin: 0 !important; // !important: conflict article.decorated
}

::slotted([part="body"]) {
    position: relative;
    grid-area: body;
    padding: 1rem;
    width: 100%;
    // flex: 1 1 auto;
}

// ::slotted([slot=body] [slot=foot]) {
//     margin-top: 1rem;
//     margin-bottom: -1rem;
//     margin-left: -1rem;
//     width: calc(100% + 2rem);
// }

::slotted([part="foot"]) {
    position: relative;
    grid-area: foot;
    padding: .8rem 1rem;
    width: 100%;
    border-radius: 0;
    // align-self: flex-end;
}