<article class="prose" style="padding: 0">
    <m-editor class="outlined">
        <h1>Chamber of Art and Curiosities, Ambras Castle</h1>

        <p>The Chamber of Art and Wonders ("Kunst- und Wunderkammer") is a cabinet of rarities - often, but misleadingly
            labelled cabinet of curiosities - created by Ferdinand II, Archduke of Austria, sovereign ruler of the
            County of Tyrol and Further Austria, in the 16th century. Ferdinand II, son of Emperor Ferdinand I, was one
            of history's most prominent collectors of art.</p>
        <blockquote>Representing an outstanding example of a late Renaissance encyclopedic collection of its genre, it continues
            to be displayed at Ambras Castle Innsbruck, the same setting since its inception.[1] Ferdinand II, like many
            other rulers of the Renaissance, was interested in promoting the arts and sciences.</blockquote>

        <h2>The Collection</h2>

        <p>A variety of uncommon objects are on display, including a woodcarving of "Death" by Hans Leinberger, goblets,
            coral collections and artifacts, glass figures, centerpieces, mechanical toys, clocks and various
            instruments. Also, Asiatica of the period are included with a suit of samurai armor, a Ryukyu bowl, and a
            silk painting from China.</p>

        <h3>Paintings</h3>

        <p>The Ambras collection contains a number of unique portraits, and some of the subjects were perceived at the
            time as "Wonder of Nature". The painters are not known. Giants and dwarfs, people with hirsutism and others,
            are shown, including:</p>

        <h4>Vlad Ţepeş</h4>

        <p>Vlad III the Impaler's depiction was painted about one century after his reign and represents one of his
            earliest portraits. It is intended not only to show him as a ruler but also to be a "psychogram of evil".
        </p>

        <h4>Petrus Gonsalvus</h4>

        <p>The collection has a painting of Petrus Gonsalvus and his family, as well as other people who display an
            extreme form of hirsutism, also called Ambras syndrome in 1933 in reference to its depiction at this
            collection.[2] The life of Pedro Gonzalez has been well chronicled as he became famous during his lifetime
            on account of his condition.</p>

        <h2>Gallery</h2>

        [images]

        <h2>References</h2>

        <p>
            Kunsthistorisches Museum, Vienna. "Ambras Collection". Retrieved June 29, 2009.
            <br><br>
            Erche B (August 2008). "Der schlimmste Boesewicht der Walachei" (PDF).
            <br><br>
            "Haarmensch, Petrus Gonsalvus (geboren 1556), Deutsch and anonym"
            <br><br>
            Schönwiese V, Flieger P. Archived from the original (PDF) on August 15, 2009.
        </p>

        <h2>External Links</h2>

        <p>
            Official Website www.schlossambras-innsbruck.at
            <br><br>
            Schönwiese V, Mürner C: Das Bildnis eines behinderten Mannes.
        </p>
    </m-editor>
</article>