:host {
    position: relative;
    display: inline-flex;
    object-fit: cover;
}

[part=master] {
    display: block;
    border-radius: inherit;
    object-fit: inherit;
    object-position: inherit;
    height: 100%;
    width: 100%;
}

[part=skeleton] {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

:host([style*=--ratio]) {

    [part=master] {
        position: absolute;
    }

    &:after {
        contain: strict;
        content: '';
        display: inline-block;
        vertical-align: middle;
        padding-bottom: var(--ratio);
    }
}


:host([fade]) {
    will-change: opacity;
    transition: opacity .3s ease;
}

:host([fade]:not([complete])) {
    opacity: 0;
}

:host([src=""]),
:host([srcset=""]) {
    [part=master] {
        visibility: hidden;
    }
}