<h2 id="hyperlink">{{ 'hyperlink' | translate }}</h2>
<doc-prop [name]="'href'" [types]="['string', undefined]"
    [description]="'Contains a URL or a URL fragment that the hyperlink points to. If this property is set, an anchor tag will be rendered.'">
</doc-prop>

<doc-prop [name]="'download'" [types]="['string', undefined]"
    [description]="'This attribute instructs browsers to download a URL instead of navigating to it, so the user will be prompted to save it as a local file. If the attribute has a value, it is used as the pre-filled file name in the Save prompt (the user can still change the file name if they want).'">
</doc-prop>

<doc-prop [name]="'rel'" [types]="['string', undefined]"
    [description]="'Specifies the relationship of the target object to the link object. The value is a space-separated list of link types.'">
</doc-prop>

<doc-prop [name]="'target'" [types]="['_blank', '_self', '_parent', '_top']"
    [description]="'Specifies where to display the linked URL. Only applies when an href is provided.'">
</doc-prop>