[part=root] {
    position: relative;
    display: inherit;
    -webkit-appearance: none;
    contain: style;
    font: inherit;
    flex-wrap: inherit;
    flex-direction: inherit;
    align-items: inherit;
    justify-content: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    text-transform: inherit;
    text-overflow: inherit;
    text-align: inherit;
    white-space: inherit;
    text-decoration: inherit;
    color: inherit;
    border-radius: inherit;
    padding: 0;
    border: var(--b-color) var(--b-width, 0) var(--b-style, solid);
    width: 100%;
    height: 100%;
    outline: none;
    overflow: hidden;
    background-origin: border-box;
    background-color: var(--bg-color);
    box-sizing: border-box;
    transition: box-shadow ease-out .15s;
    will-change: transform;
    backdrop-filter: blur(var(--blur));

    &[disabled] {
        // cursor: no-drop !important;
        color: var(--f-fadest) !important;
        box-shadow: none !important;

        ::slotted([part=foot]) {
            color: inherit;
        }
    }
}

:host(.outlined) {
    [part=root] {
        border-width: var(--b-width, 1px);
    }
}

::slotted([part=body]) {
    display: flex;
    flex: 1 1 auto;
}

::slotted([part=foot]),
::slotted([part=head]) {
    display: flex;
    flex: 0 0 auto;
}

@media (any-hover: hover) {
    .touch {
        &:hover:not([disabled]) {
            background-color: var(--bg-color-hover);
        }
    }

    :host(.outlined) {
        .touch {
            &:hover:not([disabled]) {
                background-color: var(--bg-color-hover);
                box-shadow: inset 0 0 0 1px var(--b-color-active);
                border-color: var(--b-color-active);
            }
        }
    }
}

button[part=root],
a[part=root] {
    -webkit-appearance: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}

:host(.outlined) {
    --b-width: 1px;

    [part=root] {
        background-color: transparent;
    }
}

:host([disabled]) {
    pointer-events: none !important;
}


:host([part=foot]) {
    [part=root] {
        border: 0;
        box-shadow: none;
    }
}

:host([busy]) {

    pointer-events: none !important;
    box-shadow: none !important;

    [part=root] *:not([part=spinner]),
    ::slotted(*) {
        visibility: hidden !important;
    }

    slot,
    ::slotted(*) {
        color: transparent !important;
    }
}

[part=spinner] {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: fit-content;
    width: fit-content;
}