@import '../variables';
@import '../mixins';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:host {
    display: block;
    width: 100%;
    outline: none;
}

[part=toolbar] {
    position: sticky;
    display: flex;
    flex-wrap: wrap;
    top: 0;
    border-bottom: 1px solid var(--b-fader);
    @include bgBlur(var(--theme-rgb), .8);
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    z-index: $z-up;

    m-button[active] {
        --button-f-color: var(--f-blue);
    }
}

[part="content"] {
    padding: $md 0;
}

:host(.outlined) {
    border-radius: $xs;
    border: 1px solid var(--b-fader);

    [part=toolbar] {
        padding: $xs;
    }

    [part=content] {
        padding: $md;
    }
}

[part="code"] {
    outline: none;
    font-size: .875rem;
    line-height: 1.5;
    font-family: 'Roboto Mono', monospace;
}