<div class="p t:center bg:theme">
    <div class="y">
        <m-4 sm=2>
            <code class="b bg:theme by:1x1 a:middle r:no block">.b</code>
        </m-4>
        <m-4 sm=2>
            <code class="bt bg:theme by:1x1 a:middle r:no block">.bt</code>
        </m-4>
        <m-4 sm=2>
            <code class="bb bg:theme by:1x1 a:middle r:no block">.bb</code>
        </m-4>
        <m-4 sm=2>
            <code class="bl bg:theme by:1x1 a:middle r:no block">.bl</code>
        </m-4>
        <m-4 sm=2>
            <code class="br bg:theme by:1x1 a:middle r:no block">.br</code>
        </m-4>
    </div>
    <div class="y">
        <m-4 sm=2>
            <code class="b bg:theme by:1x1 a:middle r:no block">.b</code>
        </m-4>
        <m-4 sm=2>
            <code class="b bg:theme by:1x1 a:middle r:no block">.b .b:red</code>
        </m-4>
        <m-4 sm=2>
            <code class="b bg:theme by:1x1 a:middle r:no block">.b</code>
        </m-4>
        <m-4 sm=2>
            <code class="b bg:theme by:1x1 a:middle r:no block">.b .b:yellow</code>
        </m-4>
        <m-4 sm=2>
            <code class="b bg:theme by:1x1 a:middle r:no block">.b .b:purple</code>
        </m-4>
        <m-4 sm=2>
            <code class="b bg:theme by:1x1 a:middle r:no block">.b .b:dark</code>
        </m-4>
        <m-4 sm=2>
            <code class="b bg:theme by:1x1 a:middle r:no block">.b .b:theme</code>
        </m-4>
        <m-4 sm=2>
            <code class="b++ bg:theme by:1x1 a:middle r:no block">.b .b:theme++</code>
        </m-4>
        <m-4 sm=2>
            <code class="b+ bg:theme by:1x1 a:middle r:no block">.b .b:theme+</code>
        </m-4>
    </div>
</div>
<div class="code">
    <code class="html">
        <div class="b"></div>
    </code>
</div>