<m-table class="sm axis:x axis:y bb neat">
    <table>
        <thead>
            <tr>
                <td colspan="2">
                    <h3 id="property-disabled">
                        <code class="bg:transparent"
                            style="font-size: inherit; padding: 0">.disabled</code>
                    </h3>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="fit t:left">type</th>
                <td>
                    <m-chip class="theme+ sm">
                        <div part="chip-head">
                            <ion-icon name="text-outline"></ion-icon>
                        </div>
                        <code part="chip-body">boolean</code>
                    </m-chip>
                </td>
            </tr>
            <tr>
                <th class="fit t:left">attribute</th>
                <td>
                    <m-chip class="theme+ sm">
                        <code part="chip-body">disabled</code>
                    </m-chip>
                </td>
            </tr>
            <tr>
                <th class="fit t:left">description</th>
                <td>
                    <p class="remark f:xs" style="margin-bottom: 0">The user cannot interact with the button.</p>
                </td>
            </tr>
        </tbody>
    </table>
</m-table>