<m-table class="sm axis:x axis:y bb neat">
    <table>
        <thead>
            <tr>
                <td colspan="2">
                    <h3 id="property-disabled" style="margin-bottom: 0">
                        <code class="bg:transparent"
                            style="font-size: inherit; padding: 0">.disabled</code>
                    </h3>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="fit t:left">type</th>
                <td>
                    <div class="y:xs">
                        <m-chip class="x theme+ sm" *ngFor="let type of types">
                            <div part="chip-head">
                                <ion-icon [attr.name]="getTypeIcon(type)"></ion-icon>
                            </div>
                            <code part="chip-body">{{ getTypeString(type) }}</code>
                        </m-chip>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="fit t:left">attribute</th>
                <td>
                    <m-chip class="theme+ sm">
                        <code part="chip-body">disabled</code>
                    </m-chip>
                </td>
            </tr>
            <tr>
                <th class="fit t:left">description</th>
                <td>
                    <p class="remark f:xs" style="margin-bottom: 0">
                        <ng-container [ngTemplateOutlet]="description"></ng-container>
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
</m-table>