<h2 id="structure">{{ 'structure' | translate }}</h2>
<template [codeLang]="'html'">
    <m-icon name="menu" active></m-icon>
</template>

<h2 id="structure">{{ 'structure' | translate }}</h2>
<div class="demo">
    <div class="demo-body">
        <div class="y:sm c:center">
            <m-button class="x round theme">
                <m-icon name="menu"></m-icon>
            </m-button>
            <m-button class="x round theme">
                <m-icon name="close"></m-icon>
            </m-button>
            <m-button class="x round theme">
                <m-icon name="caret"></m-icon>
            </m-button>
            <m-button class="x round theme">
                <m-icon name="unfold"></m-icon>
            </m-button>
            <m-button class="x round theme">
                <m-icon name="chevron"></m-icon>
            </m-button>
            <m-button class="x round theme">
                <m-icon name="chevron" direction="up"></m-icon>
            </m-button>
            <m-button class="x round theme">
                <m-icon name="chevron" direction="left"></m-icon>
            </m-button>
            <m-button class="x round theme">
                <m-icon name="chevron" direction="right"></m-icon>
            </m-button>
        </div>
    </div>
</div>