<div class="mobile">
    <div class="mobile-wrap">
        <m-content scroll-y guide class="h:full" style="--offset-top: 1.8rem; --offset-bottom: 1.8rem;">
            <m-item class="lined c:middle" *ngFor="let item of items" style="--px: 1rem">
                <div class="f:md f:500">{{ item.alt_description }}</div>
                <p *ngIf="item.description">{{ item.description }}</p>
                <img loading="lazy" encoding="async" slot="img" width="64" height="64" [src]="item.urls.thumb" [alt]="item.alt_description">
            </m-item>
        </m-content>
    </div>
</div>