@import '../../variables';

:host {
    position: relative;
    contain: size style;
}

:host([scroll-y]),
:host([scroll-x]) {
    slot {
        will-change: scroll-position, -webkit-mask-image;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }
}

:host([scroll-x]) {
    slot {
        overflow-y: hidden;
        overflow-x: auto;
        overscroll-behavior-x: contain;
        touch-action: pan-x;
    }

    // .scrollItems {
    //     flex-wrap: nowrap;
    //     padding-right: inherit;
    // }

    // .scroll-item {
    //     &:last-child {
    //         padding-right: 0;
    //     }
    // }

    // &[snap=true] {
    //     scroll-snap-type: mandatory;

    //     .scroll-item {
    //         scroll-snap-align: center;
    //     }
    // }
}

:host([scroll-y]) {

    slot {
        overflow-y: auto;
        overflow-x: hidden;
        overscroll-behavior-y: contain;
        touch-action: pan-y;
    }

    // .scrollItems {
    //     flex-direction: column;
    // }

    // &[snap=true] {
    //     scroll-snap-type: mandatory;

    //     .scroll-item {
    //         scroll-snap-align: center;
    //     }
    // }
}

:host([scroll-x][scroll-y]) {
    slot {
        overflow: auto;
        touch-action: manipulation;
    }
}


:host([overscroll]) {
    overscroll-behavior: auto auto;
}


slot {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    overflow-wrap: break-word;
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
    -ms-overflow-style: none;
}

.scrollItems {
    display: flex;
}

m-bar,
m-bar {
    position: absolute;
    z-index: $z-overlay;
    pointer-events: none;
    contain: content;
    animation-delay: .5s;
    animation-duration: .2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;

    &:not(.show) {
        display: none;
    }

    &.show {
        will-change: opacity;

        m-thumb {
            will-change: transform;
        }
    }
}

m-thumb {
    position: relative;
    display: block;
    border-radius: 2px;
    background-color: var(--b-fade);
    pointer-events: auto;
    contain: strict;

    // &:hover {
    //     width: 6px;
    //     border-radius: 3px;
    //     background-color: rgba(0, 0, 0, .2);
    // }
}

m-bar[part=x] {
    bottom: 0;
    left: 0;
    width: 100%;

    m-thumb {
        height: 4px;
    }
}

m-bar[part=y] {
    top: 0;
    right: 0;
    height: 100%;

    m-thumb {
        width: 4px;
    }
}