figure.decorated {
    position: relative;
    display: block;
    overflow: hidden;

    &:after {
        contain: strict;
        content: '';
        display: inline-table;
        vertical-align: middle; // fix pixel error problem
        padding-bottom: 56.25%;
    }

    img,
    video,
    iframe {
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        border: 0;
    }

    figcaption {
        font-size: $f-xs;
        color: var(--f-theme);
        text-align: center;
        font-style: italic;
    }
}