<div class="demo">
    <div class="demo-body">
        <div class="y">
            <div class="x">
                <m-check>
                    <label>default</label>
                </m-check>
            </div>
        </div>
    </div>
</div>
<div class="demo">
    <div class="demo-body">
        <div class="y">
            <div class="x">
                <m-check disabled>
                    <label>disabled</label>
                </m-check>
            </div>
            <div class="x">
                <m-check disabled checked>
                    <label>disabled checked</label>
                </m-check>
            </div>
        </div>
    </div>
</div>
<div class="demo">
    <div class="demo-body">
        <div class="y">
            <div class="x">
                <m-check type="radio" name="disabled1">
                    <label>default</label>
                </m-check>
            </div>
        </div>
    </div>
</div>
<div class="demo">
    <div class="demo-body">
        <div class="y">
            <div class="x">
                <m-check type="radio" name="disabled2" disabled>
                    <label>disabled</label>
                </m-check>
            </div>
            <div class="x">
                <m-check type="radio" name="disabled2" disabled checked>
                    <label>disabled checked</label>
                </m-check>
            </div>
        </div>
    </div>
</div>

<h2 id="structure">{{ 'structure' | translate }}</h2>
<template [codeLang]="'html'">
    <m-check>
        <label part="head"></label>
        <label part="foot"></label>
    </m-check>
</template>

<h2 id="size">{{ 'size' | translate }}</h2>
<m-table class="sm neat axis:x">
    <table>
        <thead>
            <tr part="table-head">
                <th class="fit t:left bg:theme sticky">class</th>
                <th class="fit t:left bg:theme sticky t-wrap:no">height</th>
                <th class="t:left bg:theme sticky">description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <code class="f:blue">xs</code>
                </td>
                <td><code>2rem</code></td>
                <td><b>特小</b></td>
            </tr>
            <tr>
                <td>
                    <code class="f:blue">sm</code>
                </td>
                <td><code>2.5rem</code></td>
                <td><b>小</b></td>
            </tr>
            <tr>
                <td>
                    <code class="default">∅</code>
                </td>
                <td><code>3rem</code></td>
                <td><b>適中</b>，預設</td>
            </tr>
            <tr>
                <td>
                    <code class="f:blue">lg</code>
                </td>
                <td><code>3.5rem</code></td>
                <td><b>大</b></td>
            </tr>
        </tbody>
    </table>
</m-table>
<template [codeLang]="'html'" [codeDemo]=true [selector]="'m-check'">
    <div class="y:xl c:bottom c:center">
        <div class="x:3@sm">
            <m-check class="xs"></m-check>
        </div>
        <div class="x:3@sm">
            <m-check class="sm"></m-check>
        </div>
        <div class="x:3@sm">
            <m-check></m-check>
        </div>
        <div class="x:3@sm">
            <m-check class="lg"></m-check>
        </div>
    </div>
</template>

<h2 id="borderline">{{ 'borderline' | translate }}</h2>
<m-table class="sm neat axis:x">
    <table>
        <thead>
            <tr>
                <th class="fit t:left bg:theme sticky">class</th>
                <th class="t:left bg:theme sticky">description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <code class="f:blue">outlined</code>
                </td>
                <td><b>外框</b></td>
            </tr>
            <tr>
                <td>
                    <code class="f:blue">underlined</code>
                </td>
                <td><b>底線</b></td>
            </tr>
        </tbody>
    </table>
</m-table>
<template [codeLang]="'html'" [codeDemo]=true>
    <div class="y c:center">
        <div class="x">
            <m-check></m-check>
        </div>
        <div class="x">
            <m-check class="underlined"></m-check>
        </div>
        <div class="x">
            <m-check class="outlined"></m-check>
        </div>
    </div>
</template>

<h2 id="state">{{ 'state' | translate }}</h2>
<doc-prop [name]="'disabled'" [types]="['boolean']" [default]=false
          [description]="'The user cannot interact with the component.'">
</doc-prop>
<div class="demo">
    <div class="demo-body">
        <div class="y c:center">
            <m-check class="x" disabled></m-check>
        </div>
    </div>
</div>

<h2 id="property">{{ 'property' | translate }}</h2>
<doc-prop [name]="'type'" [types]="['checkbox', 'radio']"
          [description]="'The default type is checkbox.'" [default]="'checkbox'">
</doc-prop>

<doc-control-prop></doc-control-prop>