<div class="demo">
    <div class="demo-body">
        <form #form="ngForm">
            <ng-container *ngFor="let eachColor of colors">
                <m-check type="radio" name="color" [value]="eachColor.name" [(ngModel)]="value" required>
                    <label>{{ eachColor.name }}</label>
                </m-check>
                <!-- <input type="radio" name="native-color" [value]="eachColor.name" [(ngModel)]="nativeValue"> -->
            </ng-container>
            <m-button (click)="submit(form)">送出</m-button>
        </form>
        <span>{{ value }}</span>
        <span>{{ nativeValue }}</span>
    </div>
</div>
{{ form.valid }}, {{ form.value | json }}