@import '../../variables';
@import '../common/prompt.shadow';

::slotted(label) {
    margin-left: .5rem;
}

:host {
    --size: 1.5rem;
    position: relative;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

:host(.sm) {
    --size: 1.25rem;

    [part=check-icon],
    [part=ban-icon] {
        stroke-width: 2.5px;
    }
}

:host(.lg) {
    --size: 2rem;
}

// check
::slotted([part=body]) {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

:host([type=radio]) {
    [part=check] {
        border-radius: 50%;
    }
}

[part=check] {
    box-sizing: border-box;
    width: var(--size);
    height: var(--size);
    border: 2px solid;
    border-color: var(--b-fadest);
    border-radius: 0.1875rem;
}

[part=ban-icon] {
    stroke: var(--b-fadest);
    display: none;
}

[part=check-icon],
[part=ban-icon] {
    fill: none;
    box-sizing: border-box;
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
}

[part=check-icon] {
    stroke: var(--f-theme);
    stroke-dasharray: 65%;
    stroke-dashoffset: 65%;
    will-change: stroke-dashoffset;
    transition: .2s ease-out stroke-dashoffset;
}

:host([disabled]) {
    [part=check-icon] {
        stroke: var(--f-fadest);
    }

    [part=ban-icon] {
        display: block;
    }

    ::slotted(label) {
        color: var(--f-fadest);
    }
}

:host([disabled][checked]) {
    [part=ban-icon] {
        display: none;
    }
}

:host([checked]) {
    [part=check] {
        background-color: var(--b-fadest);
        border-color: transparent;
    }

    [part=check-icon] {
        stroke-dashoffset: 0;
    }

    ::slotted(label) {
        font-weight: 500;
    }
}

// switch
:host([interface=switch]) {
    --bg-color: #56dd6a;
}

[part=switch] {
    box-sizing: border-box;
    width: calc(var(--size) * 1.6);
    height: var(--size);
    border-radius: var(--size);
    background-color: var(--b-fadest);
    transition: .2s ease background-color;
}

[part=button-icon] {
    fill: #fff;
    transition: transform .2s ease, width .2s ease;
    transform: translateX(-6px);
    transform-origin: 0px -6px;
    filter: url(#s);
}

:host([checked]) {
    [part=switch] {
        background-color: var(--bg-color);
    }

    [part=button-icon] {
        transform: translateX(6px);
        transform-origin: 0px 6px;
    }
}

:host(:not([disabled]):active) {
    [part=button-icon] {
        width: 20px;
    }
}

:host(:not([disabled])[checked]:active) {
    [part=button-icon] {
        width: 20px;
        transform: translateX(2px);
        transform-origin: 0px 2px;
    }
}

:host([interface=switch][disabled]) {
    [part=button-icon] {
        filter: none;
    }
}

:host([interface=switch][disabled]:not([checked])) {
    [part=button-icon] {
        fill: var(--switch-button-color);
    }
}

:host([interface=switch][disabled][checked]) {
    [part="switch"] {
        opacity: .5;
    }
}