@import '../../variables';

:host {
    position: relative;
    display: inline-flex;
    align-items: center;
}

::slotted([part=body]) {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

:host([type=radio]) {
    [part=icon] {
        border-radius: 50%;
    }
}

[part=icon] {
    width: 20px;
    height: 20px;
    border: 2px solid;
    border-color: var(--b-fadest);
    color: var(--checkedBg);
    border-radius: 0.1875rem;
}

[part=ban-icon] {
    stroke: var(--b-fadest);
    display: none;
}

[part=check-icon],
[part=ban-icon] {
    fill: none;
    box-sizing: border-box;
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
}

[part=check-icon] {
    stroke: var(--f-theme);
    stroke-dasharray: 65%;
    stroke-dashoffset: 65%;
    will-change: stroke-dashoffset;
    transition: .2s ease-out stroke-dashoffset;
}

:host([disabled]) {
    [part=check-icon] {
        stroke: var(--f-fadest);
    }

    [part=ban-icon] {
        display: block;
    }
}

:host([disabled][checked]) {
    [part=ban-icon] {
        display: none;
    }
}

::slotted(label) {
    margin-left: .5rem;
}

:host([checked]) {
    ::slotted(label) {
        font-weight: 500;
    }

    [part=icon] path {
        stroke-dashoffset: 0;
    }
}