@import '../../variables';

::slotted(label) {
    margin-left: .5rem;
}

// check
:host {
    position: relative;
    display: inline-flex;
    align-items: center;
}

:host([interface=check]) {
    --size: 1.25rem;
}

::slotted([part=body]) {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

:host([type=radio]) {
    [part=check] {
        border-radius: 50%;
    }
}

[part=check] {
    width: var(--size);
    height: var(--size);
    border: 2px solid;
    border-color: var(--b-fadest);
    border-radius: 0.1875rem;
}

[part=ban-icon] {
    stroke: var(--b-fadest);
    display: none;
}

[part=check-icon],
[part=ban-icon] {
    fill: none;
    box-sizing: border-box;
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
}

[part=check-icon] {
    stroke: var(--f-theme);
    stroke-dasharray: 65%;
    stroke-dashoffset: 65%;
    will-change: stroke-dashoffset;
    transition: .2s ease-out stroke-dashoffset;
}

:host([disabled]) {
    [part=check-icon] {
        stroke: var(--f-fadest);
    }

    [part=ban-icon] {
        display: block;
    }

    ::slotted(label) {
        color: var(--f-fadest);
    }
}

:host([disabled][checked]) {
    [part=ban-icon] {
        display: none;
    }
}

:host([checked]) {
    [part=check] {
        background-color: var(--b-fadest);
        border-color: transparent;
    }

    [part=check-icon] {
        stroke-dashoffset: 0;
    }

    ::slotted(label) {
        font-weight: 500;
    }
}

// switch
:host([interface=switch]) {
    --bg-theme: #56dd6a;
    --size: 1.5rem;
}

[part=switch] {
    width: 38px;
    height: var(--size);
    border-radius: var(--size);
    background-color: var(--b-fadest);
    transition: .2s ease background-color;
}

[part=button-icon] {
    fill: #fff;
    transition: transform .2s ease, width .2s ease;
    transform: translateX(-6px);
    transform-origin: 0px -6px;
}

:host([checked]) {
    [part=switch] {
        background-color: var(--bg-theme);
    }

    [part=button-icon] {
        transform: translateX(6px);
        transform-origin: 0px 6px;
    }
}

:host(:not([disabled]):active) {
    [part=button-icon] {
        width: 20px;
    }
}

:host(:not([disabled])[checked]:active) {
    [part=button-icon] {
        width: 20px;
        transform: translateX(2px);
        transform-origin: 0px 2px;
    }
}