@import '../shared/field';
@import '../shared/prompt';
@import '../shared/output';

:host {
    --f-color: var(--input-f-color, var(--f-theme));
    --f-size: var(--input-f-size, var(--f-sm));
    --b-width: var(--input-b-width, 1px);
    --b-style: var(--input-b-style, solid);
    --b-color: var(--input-b-color, var(--b-fader));
    --bg-color: var(--input-bg-color, transparent);
    --py: var(--input-py, .90625rem);
    --px: var(--input-px, 1rem);
    --size: var(--input-size, 3rem);
    --label-px: var(--input-label-px, .25rem);
    --label-f-size: var(--input-label-f-size, var(--f-xxs));
    --label-f-color: var(--input-label-f-color, var(--f-theme-fader));
    --preview-size: var(--input-image-size, 10rem);
    --output-item-margin: .25rem;
}

:host(.outlined) {
    ::slotted([role=assignee]) {
        padding-left: 0;
        padding-right: 0;
        text-indent: var(--px);
    }
}

:host(:focus-within:not([read-only]):not([disabled])) {
    ::slotted([role=assignee]) {
        -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 1) var(--px), rgba(0, 0, 0, 1) calc(100% - var(--px)), rgba(0, 0, 0, 0) 100%)
    }
}

:host([type=file]) {
    cursor: copy;

    [part=body] {
        pointer-events: none;
    }

    [part=close] {
        pointer-events: auto;
    }

    [role=file-input] {
        position: absolute;
        z-index: 1;
        opacity: 0;
        height: 100%;
        width: 100%;
        cursor: copy !important;
    }

    ::slotted([role=assignee]) {
        display: none;
    }

    ::slotted(img) {
        width: var(--preview-size);
        height: var(--preview-size);
        object-fit: cover;
    }
}

:host([dragging]:not([disabled]):not([read-only])) {
    ::slotted([role=assignee]) {
        cursor: grab !important;
    }

    fieldset {
        border-width: calc(var(--b-width, 1px) + 1px) !important;
        border-color: var(--b-color-active, var(--b-fade)) !important;
    }
}

[part=preview] {
    width: var(--preview-size);
    height: var(--preview-size);
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    justify-content: center;
    font-weight: 600;
    font-size: 1.25rem;
    color: var(--f-fade);
    letter-spacing: 2px;
    background-color: rgba(var(--bg-skeleton-rgb), 0.05);
    object-fit: cover;
}

:host([interface=preview]) {
    [role=assignee] {
        &:before {
            display: flex;
            justify-content: center;
            min-height: var(--preview-size);
            min-width: var(--preview-size);
            align-items: center;
        }
    }

    [part=output-item] {
        display: flex;
        flex-direction: column;
        border-radius: 3px;
        overflow: hidden;

        m-chip {
            border-radius: 0;
            width: var(--preview-size);
            margin: 0;

            [part=foot] {
                padding-right: 0;
            }
        }
    }

    [part=output-item-name] {
        margin-right: auto;
    }
}

slot[name=placeholder] {
    pointer-events: none;
}