@import '../../variables';

:host {
    contain: style paint;
    display: inline-flex;
    border-radius: $xxs;
    height: 100%;
    width: 100%;
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;

    &:before {
        content: '\00a0 '
    }
}

[part=bg] {
    position: absolute;
    content: '';
    contain: strict;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: inherit;
    height: 100%;
    width: 100%;
    background-color: rgba(var(--bg-skeleton-rgb), .05);
}

:host(.animated) {
    position: relative;

    [part=bg] {
        background-color: transparent;
        background-image: linear-gradient(to right, rgba(var(--bg-skeleton-rgb), .05) 2%, rgba(var(--bg-skeleton-rgb), .08) 18%, rgba(var(--bg-skeleton-rgb), .05) 33%);
        background-size: 800px 104px;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-name: animate;
        will-change: background-position;
    }
}

@keyframes animate {
    0% {
        background-position: -400px 0;
    }

    100% {
        background-position: 400px 0;
    }
}