:host(.blue) {
    --bg-color: var(--blue);
}

:host(.blue.outlined) {
    --f-color: var(--f-blue);
    --bg-color-head: var(--blue-fader);
    --b-color: var(--blue);
    --b-color-active: var(--blue);
}

:host(.blue\+) {
    --bg-color-head: var(--blue-fade);
    --bg-color: var(--blue-fader);
    --bg-color-hover: var(--blue-fade);
    --f-color: var(--f-blue);
}

:host(.blue\+.outlined) {
    --bg-color-head: var(--blue-fader);
    --b-color: var(--b-fader);
}

:host(.green) {
    --bg-color: var(--green);
}

:host(.green.outlined) {
    --f-color: var(--f-green);
    --bg-color-head: var(--green-fader);
    --b-color: var(--green);
    --b-color-active: var(--green);
}

:host(.green\+) {
    --bg-color-head: var(--green-fade);
    --bg-color: var(--green-fader);
    --bg-color-hover: var(--green-fade);
    --f-color: var(--f-green);
}

:host(.green\+.outlined) {
    --bg-color-head: var(--green-fader);
    --b-color: var(--b-fader);
}

:host(.red) {
    --bg-color: var(--red);
}

:host(.red.outlined) {
    --f-color: var(--f-red);
    --b-color: var(--red);
    --b-color-active: var(--red);
}

:host(.red\+) {
    --bg-color-head: var(--red-fade);
    --bg-color: var(--red-fader);
    --bg-color-hover: var(--red-fade);
    --f-color: var(--f-red);
}

:host(.red\+.outlined) {
    --bg-color-head: var(--red-fader);
    --b-color: var(--b-fader);
}


:host(.purple) {
    --bg-color: var(--purple);
}

:host(.purple.outlined) {
    --f-color: var(--f-purple);
    --bg-color-head: var(--purple-fader);
    --b-color: var(--purple);
    --b-color-active: var(--purple);
}

:host(.purple\+) {
    --bg-color-head: var(--purple-fade);
    --bg-color: var(--purple-fader);
    --bg-color-hover: var(--purple-fade);
    --f-color: var(--f-purple);
}

:host(.purple\+.outlined) {
    --bg-color-head: var(--purple-fader);
    --b-color: var(--b-fader);
}

:host(.yellow) {
    --bg-color: var(--yellow);
}

:host(.yellow.outlined) {
    --f-color: var(--f-yellow);
    --bg-color-head: var(--yellow-fader);
    --b-color: var(--yellow);
    --b-color-active: var(--yellow);
}

:host(.yellow\+) {
    --bg-color-head: var(--yellow-fade);
    --bg-color: var(--yellow-fader);
    --bg-color-hover: var(--yellow-fade);
    --f-color: var(--f-yellow);
}

:host(.yellow\+.outlined) {
    --bg-color-head: var(--yellow-fader);
    --bg-color-hover: var(--yellow-fader);
    --b-color: var(--b-fader);
}

:host(.object) {
    --bg-color: var(--bg-object);
    --bg-color-head: var(--theme-fade);
    --bg-color-hover: var(--theme-fade);
    --blur: 35px;
}

:host(.object.outlined) {
    --b-color: var(--b-fader);
    --b-color-active: var(--b-fade);
}

:host(.theme) {
    --bg-color: var(--theme);
    --bg-color-head: var(--theme-fade);
}

:host(.theme.outlined) {
    --b-color: var(--f-theme);
    --b-color-active: var(--f-theme);
}

:host(.theme\+) {
    --bg-color-head: var(--theme);
    --bg-color: var(--theme-fade);
}

:host(.theme\+.outlined) {
    --bg-color-head: var(--theme-fader);
    --b-color: var(--b-fader);
}

:host(.brand),
:host(.blue),
:host(.red),
:host(.green),
:host(.purple),
:host(.yellow) {
    --bg-color-head: rgba(0, 0, 0, .1);
    --f-color: #fff;
}

:host([disabled]) {
    --bg-color: transparent;
    --b-color: transparent;
}