@import '../shared/field';
@import '../shared/prompt';


:host {
    --f-size: var(--textarea-f-size, var(--f-sm));
    --b-width: var(--textarea-b-width, 1px);
    --b-color: var(--textarea-b-color, var(--b-fade));
    --py: var(--textarea-py, .90625rem);
    --px: var(--textarea-px, 1rem);
    --size: var(--textarea-size, 3rem);
    --label-px: var(--textarea-label-px, .25rem);
    --label-f-size: var(--textarea-label-f-size, var(--f-xxs));
    --label-f-color: var(--textarea-label-f-color, var(--f-theme-fader));
    flex-direction: column;
}

::slotted([part=body]) {
    overflow: visible;
    white-space: pre-wrap;
    min-height: var(--size);
}

::slotted([part=foot]) {
    margin-left: auto;
    padding: .5rem .6rem;
    min-height: auto;
}

:host(:not([disabled])) {
    ::slotted([part=body]) {
        -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 1) var(--py), rgba(0, 0, 0, 1) calc(100% - var(--py)), rgba(0, 0, 0, 0) 100%)
    }
}