@import '../../variables';
@import '../../shared/clickable';

:host {
    display: inline-flex;
    font-size: var(--f-xs);
    color: var(--f-fade);
    vertical-align: middle;
}

[part=main] {
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    overflow: visible;
}

// i {
//     margin-right: $xs;
//     font-size: 90%;
//     display: inline-block;
//     vertical-align: baseline;
// }

@media (any-hover: hover) {
    .touch {
        &:hover:not([disabled]) {
            background-color: transparent;

            [part=body] {
                text-decoration: underline;
                color: var(--f-theme);
            }
        }
    }
}

:host(:not(:last-of-type)) {
    &:after {
        content: '\0002f';
        display: inline-flex;
        align-items: center;
        margin: 0 .5rem;
        font-size: 90%;
        color: var(--f-fadest);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    }
}

:host([aria-current="page"]) {
    pointer-events: none;

    [part=body] {
        font-style: italic;
        color: var(--f-theme);
    }

    slot[name=head] {
        display: none;
    }
}

slot[name=head]::slotted(*) {
    margin-right: $xs;
}

slot[name=head]::slotted(img) {
    width: 1rem;
    height: 1rem;
    object-fit: cover;
    border-radius: 50%;
}