.demo {
    position: relative;

    .demo-body {
        background-origin: border-box;
        background-color: transparent;
        background-image: repeating-linear-gradient(45deg, transparent, transparent 1rem, var(--themeFade) 1rem, var(--themeFade) 2rem);

    }

    .copy-button,
    .toggle-button {
        z-index: $z-up;
        color: var(--f-fadest);
    }
}

.demo,
.demo-grid {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    contain: style;
    margin-bottom: $sm;
    border-radius: $sm;

    .code {
        // -webkit-mask-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 1.2rem, rgba(255, 255, 255, 1) 100%);

        margin-bottom: 0;
    }
}

.demo.with\:code {
    margin-bottom: 0;

    .hljs-language {
        display: none;
    }

    +pre {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    &[collapsed] {
        +pre {
            display: none;
        }
    }

    &:not([collapsed]) {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}

.dark {
    .demo-grid .demo-item {
        border: 1px solid var(--f-fadest);
        background-color: rgba(255, 255, 255, .05);
    }
}

.demo-grid {

    width: calc(100% + 2rem);
    margin-left: -1rem;

    .demo-item {
        border: 1px solid #acc9ff;
        background-color: rgba(234, 241, 255, .6);
        padding: $sm;
        display: flex;
        align-items: center;
        justify-content: center;

        code {
            padding: 0;
            background-color: transparent;
        }

        p {
            margin: 0;
        }
    }

    .demo-body {
        background-image: repeating-linear-gradient(90deg, transparent, transparent $md, var(--themeFade) $md, var(--themeFade) calc(100% / 12 - 1.7px))
    }

    &.guide-gap {
        .demo-body {
            &:before {
                z-index: $z-up;
                background-image: repeating-linear-gradient(90deg, rgba(#00ffff, .3), rgba(#00ffff, .3) $md, rgba(hotpink, .2) $md, rgba(hotpink, .2) calc(100% / 12 - 1.7px))
            }
        }
    }

    &.guide5 {
        .demo-body {
            &:before {
                background-image: repeating-linear-gradient(90deg, transparent, transparent $md, var(--themeFade) $md, var(--themeFade) calc(100% / 10 - 2px))
            }
        }
    }
}

.demo-body {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: $md;
    border-radius: inherit;

    +.code {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}

// .demo-item {
//     display: flex;
//     flex-direction: column;
//     border: 1px solid var(--blueFade);
//     box-sizing: border-box;
//     padding: 1rem $xs !important;
//     background-color: rgba($blueFader, .6);
//     justify-content: center;
//     align-items: center;

//     code {
//         position: relative;
//         background-color: white;
//     }
// }

[measure] {
    position: relative;

    [class*=measure] {
        transition: .3s transform ease-out, .3s top ease-out;
        white-space: nowrap;

        div {
            position: absolute;
            top: 0;
            left: 50%;
            transform: scale(1) translate(-50%, -100%);
            transform-origin: left;
            display: block;
            text-transform: lowercase;

            &:after {
                content: 'px';
                display: inline-flex;
                vertical-align: text-bottom;
                transform: scale(.7);
            }
        }
    }

    &.measuring {
        [class*=measure] {
            div {
                transform: scale(1.2) translate(-50%, -100%);
                transition: .3s ease-out transform;
            }

            border-style: solid;

            &:before,
            &:after {
                height: $md;
                border-style: solid;
            }
        }
    }
}

.measure-gap,
.measure-width {
    position: absolute;
    z-index: $z-up;
    top: - $sm;
    margin: auto;
    transform: translate(0, -100%);
    font-family: 'Fira Code', -apple-system, 'Noto Sans TC', 'Microsoft JhengHei', monospace;
    font-size: $f-xxs;
    line-height: 20px;
    letter-spacing: 0px;
    color: deeppink;
    border: 0;
    border-bottom: 1px dashed deeppink;
    width: 100%;
    text-align: center;
    pointer-events: none;
    user-select: none;
    will-change: contents;

    &:before,
    &:after {
        position: absolute;
        z-index: $z-top;
        bottom: 0px;
        margin: auto -1px;
        height: 9px;
        transform: translate(0, 50%);
        content: '';
        transition: .3s ease-out height;
        border: 0;
        border-left: 1px dashed deeppink;
    }

    &:before {
        left: 0;
    }

    &:after {
        right: 0;
    }
}

.measure-height {

    position: absolute;
    z-index: $z-up;
    left: - $sm;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    transform: translate(-100%, 0%);
    font-family: 'Fira Code', -apple-system, 'Noto Sans TC', 'Microsoft JhengHei', monospace;
    font-size: $f-xxs;
    line-height: 20px;
    letter-spacing: 0px;
    color: deeppink;
    border: 0;
    border-right: 1px dashed deeppink;
    height: 100%;
    text-align: center;
    pointer-events: none;
    user-select: none;
    will-change: contents;

    div {
        top: auto !important;
        transform: translate(-150%, 0) !important;

        &:after {
            position: absolute;
            top: 0;
            right: 0;
            transform: scale(.7) translate(0, 80%) !important;
        }
    }

    &:before,
    &:after {
        position: absolute;
        z-index: $z-top;
        margin: 0 auto;
        left: -4px;
        width: 9px;
        content: '';
        transition: .3s ease-out width;
        border: 0;
        border-bottom: 1px dashed deeppink;
    }

    &:before {
        top: 0;
    }

    &:after {
        bottom: 0;
    }
}

.measure-gap {
    transform: translate(50%, -50%);
    right: 0;
    top: 50% !important;
}

.measure-yellow {
    [class^=measure-] {
        color: var(--f-yellow);
        border-color: var(--yellow);

        &:before,
        &:after {
            border-color: var(--yellow);
        }
    }
}

.demo-action {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: $xxs;
}

@media(min-width: 1140px) {
    .demo:not(.action\:bottom) {
        .demo-action {
            position: absolute;
            right: -$xxs;
            margin-top: 0;
            top: 0;
            flex-direction: column;
            width: auto;
            transform: translateX(100%);
        }
    }
}