pre {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--themeFade);
    border-radius: $xs;
    font-size: var(--f-xs);
    line-height: 1.6;
    margin: 0;
    flex: 1 1 auto;

    code[class*="language-"] {
        color: var(--f-themeFader);
        padding: .5rem 1.3rem .875rem 1.3rem;
        font-size: inherit;
        display: block;
        background-color: transparent;
        text-align: left;
        white-space: pre;
        word-spacing: normal;
        word-break: normal;
        line-height: inherit;
        word-wrap: normal;
        letter-spacing: 0px !important;
        -webkit-hyphens: none;
        -moz-hyphens: none;
        -ms-hyphens: none;
        hyphens: none;
    }

    &.language-bash {
        padding: 1rem 1.5rem;
        background-color: #020810;
        --f-red: var(--red);

        ::selection {
            background-color: rgba(255, 255, 255, .2);
        }

        code[class*="language"] {
            color: #c7b5f8
        }

    }
}

.code-function {
    +template+h2 {
        margin-top: .25rem;
    }

    &:empty {
        display: none;
    }
}

.code-wrap {
    overflow-x: auto;
}

.code-language {
    padding: .875rem 1.3rem 0 1.3rem;
    line-height: 1;
    font-size: 10px;
    text-transform: uppercase;
    color: var(--f-fadest);
    letter-spacing: 1px;
    font-family: 'Roboto', monospace;
}

code[class*="language"] {
    color: var(--f-themeFade);
}

pre[class*="language-"].line-numbers {
    position: relative;
    padding-left: 3.4em;
    counter-reset: linenumber;
}

pre[class*="language-"].line-numbers code {
    position: relative;
    white-space: inherit;
}

.line-numbers .line-numbers-rows {
    position: absolute;
    pointer-events: none;
    top: 1px;
    left: -3.5em;
    width: 2.8em;
    font-size: var(--f-xxs);
    line-height: 23px;
    /* works for line-numbers below 1000 lines */
    letter-spacing: -1px;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.line-numbers-rows>span {
    pointer-events: none;
    display: block;
    counter-increment: linenumber;
}

.line-numbers-rows>span:before {
    content: counter(linenumber);
    display: block;
    color: var(--f-fadest);
    padding-right: 0.8em;
    text-align: right;
}

@media print {

    code[class*="language-"],
    pre[class*="language-"] {
        text-shadow: none;
    }
}

/* Inline code */
// :not(pre) code[class*="language-"] {
//     padding: .1em;
//     border-radius: .3em;
//     white-space: normal;
// }

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: var(--f-fader);
}

.token.punctuation {
    color: #999;
}

.token.namespace {
    opacity: .7;
}

.token.property,
.token.boolean,
.token.number,
.token.symbol,
.token.deleted {
    color: var(--f-purple);
}

.token.selector,
.token.char,
.token.inserted {
    color: var(--f-blue);
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
    color: var(--f-fade);
}

.token.attr-value,
.token.atrule,
.token.keyword {
    color: var(--f-green);
}

.token.attr-name {
    margin-right: $xxs;
}

.token.tag,
.token.function {
    color: var(--f-red);
}

.token.attr-name,
.token.builtin,
.token.constant,
.token.class-name {
    font-style: italic;
    color: var(--f-blue);
}

.token.string,
.token.regex,
.token.important,
.token.variable {
    color: var(--f-yellow);
}

.token.parameter {
    color: var(--f-yellow);
    font-style: italic;
}

.token.important,
.token.bold {
    font-weight: bold;
}

.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}