m-table {
    contain: style;
    border-radius: $xs;
    display: block;
    width: 100%;

    .fit {
        width: .1%;
    }

    thead th {
        vertical-align: middle;
        border-width: 2px !important;
    }

    table {
        border-collapse: separate;
        border-spacing: 0;
        border-radius: inherit;
        table-layout: fixed;
        width: auto;
        min-width: 100%; // min-width 會使內容均勻分佈，不可使用 width
        color: inherit;
    }

    /* for IOS safari */
    // @supports (-webkit-overflow-scrolling: touch) {
    //     border: 1px solid var(--b-fadest);
    //     mask-image: radial-gradient(circle, black, black);
    //     -webkit-mask-image: -webkit-radial-gradient(circle, black, black);
    // }

    th,
    td {
        line-height: 1.4;
    }

    td {
        font-size: $f-sm;
        padding: .8125rem $sm;
    }

    th {
        padding: $sm;
        font-weight: normal;
        font-size: $f-xs;
    }

    &.sm {

        td,
        th {
            padding: .6rem;
        }
    }

    &.neat {

        th,
        td {
            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            }
        }
    }

    &[equal-width=true] {
        table {
            table-layout: fixed;
        }

        td,
        th {
            width: 100%;
        }
    }

    &.axis\:y {

        th,
        td {
            &:not(:last-child) {
                border-right: 1px solid var(--b-fadest);
            }
        }

        &.neat {
            th,
            td {

                &:first-child {
                    padding-left: 0;
                }

                &:last-child {
                    padding-right: 0;
                }
            }
        }
    }

    &.axis\:x {

        th,
        td {
            border-bottom: 1px solid var(--b-fadest);
        }

        thead>tr:last-child:not(:first-child),
        tbody:last-child>tr:last-child {

            >th,
            >td {
                border-bottom: 0;
            }
        }

    }

    tr {
        vertical-align: middle;

        &.light\@hover:hover {
            cursor: pointer;
            background: var(--themeFade);
        }

        &[active] {
            background-color: var(--blueFader);
        }
    }

}

[part="table-head"],
[part="table-foot"] {
    @include sticky('');
    left: 0;
    width: 100%;
    align-items: center;
}

[part="table-head"] {
    top: 0;
}

[part="table-foot"] {
    bottom: 0;
}