<!-- <div class="demo">
    <div class="demo-body">
        <div class="y">
            <form #form="ngForm" (ngSubmit)="onSubmit(form)">
                <m-input class="outlined" label="price" name="test2" placeholder="enter price" type="number" (ngModelChange)="numberChanged(+$event)"
                    [(ngModel)]="value" required ngDefaultControl>
                    <div part="head">NT$</div>
                    <div part="foot">/ 個</div>
                </m-input>
                <m-button type="submit">送出</m-button>
                <option value=""></option>
            </form>
        </div>
    </div>
</div> -->

<div class="demo">
    <div class="demo-body">
        <div class="y">
            <m-input class="x:4@sm outlined"
                     label="price"
                     placeholder="0"
                     expanded
                     type="number">
                <label part="head">NT$</label>
                <label part="foot">/ piece</label>
            </m-input>
            <m-input class="x:4@sm outlined"
                     label="company"
                     value="Aoyue Design"
                     type="text"
                     readonly>
            </m-input>
            <m-input class="x:4@sm underlined"
                     label="username"
                     placeholder="enter your email"
                     type="email">
            </m-input>
        </div>
    </div>
</div>