<div class="demo">
    <div class="demo-body">
        <div class="y">
            <m-input class="x:4@sm outlined"
                     label="price"
                     placeholder="0"
                     type="number">
                <m-label part="head">NT$</m-label>
                <m-label part="foot">/ piece</m-label>
            </m-input>
            <m-input class="x:4@sm outlined"
                     label="price"
                     placeholder="0"
                     type="number" expanded>
                <label part="head">NT$</label>
                <label part="foot">/ piece</label>
            </m-input>
            <m-input class="x:4@sm outlined"
                     label="company"
                     value="Aoyue Design"
                     type="text"
                     readonly>
            </m-input>
            <m-input class="x:4@sm underlined"
                     label="username"
                     placeholder="enter your email"
                     expanded
                     type="email">
            </m-input>
        </div>
    </div>
</div>

<h2 id="structure">{{ 'structure' | translate }}</h2>
<template [codeLang]="'html'">
    <m-input label="" type="text" value="" placeholder="">
        <label part="head"></label>
        <label part="foot"></label>
    </m-input>
</template>

<h2 id="size">{{ 'size' | translate }}</h2>
<m-table class="sm neat axis:x">
    <table>
        <thead>
            <tr part="table-head">
                <th class="fit t:left bg:theme sticky">class</th>
                <th class="fit t:left bg:theme sticky t-wrap:no">height</th>
                <th class="t:left bg:theme sticky">description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <code class="f:blue">xs</code>
                </td>
                <td><code>2rem</code></td>
                <td><b>特小</b></td>
            </tr>
            <tr>
                <td>
                    <code class="f:blue">sm</code>
                </td>
                <td><code>2.5rem</code></td>
                <td><b>小</b></td>
            </tr>
            <tr>
                <td>
                    <code class="default">∅</code>
                </td>
                <td><code>3rem</code></td>
                <td><b>適中</b>，預設</td>
            </tr>
            <tr>
                <td>
                    <code class="f:blue">lg</code>
                </td>
                <td><code>3.5rem</code></td>
                <td><b>大</b></td>
            </tr>
        </tbody>
    </table>
</m-table>
<template [codeLang]="'html'" [codeDemo]=true [selector]="'m-input'">
    <div class="y:xl c:bottom c:center">
        <div class="x:3@sm">
            <m-input class="outlined xs" label="extra small"></m-input>
        </div>
        <div class="x:3@sm">
            <m-input class="outlined sm" label="small"></m-input>
        </div>
        <div class="x:3@sm">
            <m-input class="outlined" label="default"></m-input>
        </div>
        <div class="x:3@sm">
            <m-input class="outlined lg" label="large"></m-input>
        </div>
    </div>
</template>

<h2 id="borderline">{{ 'borderline' | translate }}</h2>
<m-table class="sm neat axis:x">
    <table>
        <thead>
            <tr>
                <th class="fit t:left bg:theme sticky">class</th>
                <th class="t:left bg:theme sticky">description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <code class="f:blue">outlined</code>
                </td>
                <td><b>外框</b></td>
            </tr>
            <tr>
                <td>
                    <code class="f:blue">underlined</code>
                </td>
                <td><b>底線</b></td>
            </tr>
        </tbody>
    </table>
</m-table>
<template [codeLang]="'html'" [codeDemo]=true>
    <div class="y c:center">
        <div class="x">
            <m-input label="default"></m-input>
        </div>
        <div class="x">
            <m-input class="underlined" label="underlined"></m-input>
        </div>
        <div class="x">
            <m-input class="outlined" label="outlined"></m-input>
        </div>
    </div>
</template>

<h2 id="state">{{ 'state' | translate }}</h2>
<doc-prop [name]="'disabled'" [types]="['boolean']" [description]="'The user cannot interact with the component.'">
</doc-prop>
<div class="demo">
    <div class="demo-body">
        <div class="y c:center">
            <m-input class="x outlined" label="disabled" value="disabled" disabled></m-input>
            <m-input class="x underlined" label="disabled" placeholder="disabled" disabled></m-input>
        </div>
    </div>
</div>