@import '../common/field.shadow';
@import '../common/prompt.shadow';

:host {
    cursor: pointer;
}

[part=body] {
    cursor: pointer;
    overflow: hidden;
    word-wrap: normal;
    text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;

    &:empty[placeholder]:before {
        content: attr(placeholder);
        color: var(--f-fadest);
    }

    &:empty[label]:not([placeholder]):before {
        content: attr(label);
        color: transparent;
    }
}

:host(.underlined) {
    m-icon {
        margin-left: .375rem;
    }
}

::slotted([part=output]) {
    display: none;
}

m-icon {
    color: var(--f-fadest);
    padding-right: calc(var(--px) / 2);
    font-size: var(--f-size);
    margin-left: calc(var(--px) / -2)
}

m-chip {
    --bg-color: var(--theme-fader);
    --b-color: transparent;
    --size: calc(var(--size))
}

@media (any-hover: hover) {
    :host(:not([disabled]):not([readonly]):hover) {
        m-icon {
            color: var(--f-fade);
        }
    }
}