@import '../../variables';
@import '../../mixins';

:host {
    position: fixed;
    display: flex;
    top: 0;
    flex-direction: column;
    margin: auto;
    z-index: $z-overlay;
    border-radius: $xs;
    will-change: transform, opacity;
    max-height: 240px;
    overflow: visible;
    background-color: var(--bg-object);
    backdrop-filter: blur(35px);
    -webkit-backdrop-filter: blur(35px);

    // fix safari ui
    &:after {
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none;
        border: 1px solid var(--b-fadest);
        box-sizing: border-box;
        content: '';

        display: block;
        width: 100%;
        height: 100%;
        border-radius: inherit;
        box-shadow: 0 0.5px 0.8px rgba(0, 0, 0, 0.017),
            0 1.3px 1.9px rgba(0, 0, 0, 0.024),
            0 2.4px 3.6px rgba(0, 0, 0, 0.03),
            0 4.2px 6.5px rgba(0, 0, 0, 0.036),
            0 7.9px 12.1px rgba(0, 0, 0, 0.043),
            0 19px 29px rgba(0, 0, 0, 0.06);
    }
}

:host([changing]) {
    display: flex !important;
}

[part=search-info] {
    font-size: var(--f-xxs);
    padding: .5rem;
    font-style: italic;
    text-align: center;
    letter-spacing: 1px;
    color: var(--f-fade);
}

:host([changing]) {
    will-change: transform, opacity;
}

:host([searching]) {
    m-item:not([found]) {
        display: none;
    }
}

m-content {
    max-height: inherit;
    --content-offset-top: .375rem;
    --content-offset-bottom: .375rem;
}

m-item {
    --f-size: var(--f-sm);

    &[selected] {
        font-weight: 500;
    }

    &[empty] {
        color: var(--f-fade);
        font-weight: normal;
    }
}