@import '../../variables';
@import '../../mixins';
@import '../../components/popup/popup.scss';

[part=search-info] {
    font-size: var(--f-xxs);
    padding: .5rem;
    font-style: italic;
    text-align: center;
    letter-spacing: 1px;
    color: var(--f-fade);
}

:host([searching]) {
    m-item:not([found]) {
        display: none;
    }
}

[part=content] {
    max-height: inherit;
}

::slotted(m-item) {
    --f-size: var(--f-sm);

    &[selected] {
        font-weight: 500;
    }

    &[empty] {
        color: var(--f-fade);
        font-weight: normal;
    }
}