::slotted(input),
::slotted(textarea),
input,
textarea {
    cursor: text;
    border: 0;
    font-weight: inherit;
    color: inherit;
    -webkit-appearance: none;
    white-space: nowrap;
    font-family: inherit;
    font-size: inherit;
    text-align: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    -webkit-text-fill-color: unset; // fix safari opacity problem
    outline: none;
    background-color: transparent;
    -webkit-user-drag: none;
    user-select: text;
    -webkit-user-select: text;
    touch-action: manipulation;
    -webkit-touch-action: manipulation;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
}

::slotted(:-webkit-autofill),
:-webkit-autofill {
    transition: background-color 5000s ease-in-out 0s;
    border-style: dashed !important;
    caret-color: var(--f-theme);
    -webkit-text-fill-color: var(--f-blue);
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    display: none;
}

::-webkit-search-cancel-button,
::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    /* 1 */
    font: inherit;
    /* 2 */
}

::placeholder {
    opacity: 1; // fixed safari default opacity
    color: var(--f-fadest);
    -webkit-text-fill-color: var(--f-fadest); // fix safari opacity problem
}

:-moz-read-only {
    cursor: default;
    caret-color: transparent;
}