:host {
    --output-item-margin: .125rem;
}

[part=output] {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    flex: 1 1 auto;
    width: auto;
    margin: -.28125rem -.375rem;
}

[part=output-item] {
    flex: 0 0 auto;
    margin: var(--output-item-margin) var(--output-item-margin);
}

[part=output-item-name] {
    overflow: hidden;
    /* flex: 0 0 auto; */
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

[part=output-text] {
    max-width: fit-content;
    display: inline-flex;
    order: 1;
    flex: 1 1 auto;
    padding: 0;
    margin: .28125rem .375rem;
    white-space: nowrap;
    outline: none;
    -webkit-user-modify: read-write-plaintext-only;
}

:host([empty]) {
    [part=output-text][aria-placeholder]:before {
        content: attr(aria-placeholder);
        color: var(--f-fadest);
    }
}

:host(.underlined) {

    [part=output] {
        margin-left: calc(var(--output-item-margin) * -1);
        margin-right: calc(var(--output-item-margin) * -1);
    }

    [part=output-text],
    [part=output-item] {
        margin-right: var(--output-item-margin);
        margin-left: var(--output-item-margin);
    }

    [part=output-item] {
        &:last-of-type {
            margin-right: .375rem;
        }
    }
}