@import '../../variables';

:host([when-valid][valid][dirty]),
:host([when-valid][valid][touched]) {
    --prompt-bg-color: var(--green-fader);
    --prompt-f-color: var(--green);
    --label-f-color: var(--green);
}

// :host([when-warning][warning][dirty]),
// :host([when-warning][warning][class*=-dirty]) {
//     --prompt-bg-color: var(--yellow-fader) !important;
//     --prompt-f-color: var(--f-yellow) !important;
//     --label-f-color: var(--f-yellow) !important;
// }

:host([prompt][invalid][dirty]),
:host([prompt][invalid][touched]) {
    --prompt-bg-color: var(--red-fader) !important;
    --prompt-f-color: var(--f-red) !important;
    --label-f-color: var(--f-red) !important;
    --b-color: var(--red) !important;
    --b-color-active: var(--red) !important;
}

:host([prompt]:not([prompt=""])[dirty]),
:host([prompt]:not([prompt=""])[touched]) {
    &:after {
        content: attr(prompt);
        position: absolute;
        z-index: 1000;
        bottom: -.1875rem;
        right: 0;
        transform: translateY(100%);
        font-size: var(--f-xxs);
        font-weight: 500;
        border-radius: $xxs;
        color: var(--prompt-f-color);
        background-color: var(--prompt-bg-color);
        white-space: normal;
        text-align: right;
        line-height: 1.2;
        padding: .1875rem .375rem .125rem .375rem;
    }
}