@import '../common/field.shadow';
@import '../common/prompt.shadow';

:host {
    flex-direction: column;
}

::slotted([part=body]) {
    overflow: visible;
    white-space: pre-wrap;
    min-height: var(--size);
}

::slotted([part=foot]) {
    margin-left: auto;
    padding: .5rem .6rem;
    min-height: auto;
}

:host(:not([disabled])) {
    ::slotted([part=body]) {
        -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 1) var(--py), rgba(0, 0, 0, 1) calc(100% - var(--py)), rgba(0, 0, 0, 0) 100%)
    }
}