<div class="p t:center">
    <div class="y">
        <m-3 sm=2><code class="bg:blue f:white by:1x1 a:middle block s:xs">.blue</code></m-3>
        <m-3 sm=2><code class="bg:blue+ f:white by:1x1 a:middle block s:xs">.blue+</code></m-3>
        <m-3 sm=2><code class="bg:blue++ by:1x1 a:middle block s:xs">.blue+</code></m-3>
        <m-3 sm=2><code class="bg:red f:white by:1x1 a:middle block s:xs">.red</code></m-3>
        <m-3 sm=2><code class="bg:red+ f:white by:1x1 a:middle block s:xs">.red+</code></m-3>
        <m-3 sm=2><code class="bg:red++ f:red by:1x1 a:middle block s:xs">.red++</code></m-3>
        <m-3 sm=2><code class="bg:green f:white by:1x1 a:middle block s:xs">.green</code></m-3>
        <m-3 sm=2><code class="bg:green+ f:white by:1x1 a:middle block s:xs">.green+</code></m-3>
        <m-3 sm=2><code class="bg:green++ f:green by:1x1 a:middle block s:xs">.green++</code></m-3>
        <m-3 sm=2><code class="bg:yellow f:white by:1x1 a:middle block s:xs">.yellow</code></m-3>
        <m-3 sm=2><code class="bg:yellow+ f:white by:1x1 a:middle block s:xs">.yellow+</code></m-3>
        <m-3 sm=2><code class="bg:yellow++ f:yellow by:1x1 a:middle block s:xs">.yellow++</code></m-3>
        <m-3 sm=2><code class="transparent f:theme by:1x1 a:middle block">.transparent</code></m-3>
        <m-3 sm=2><code class="bg:theme s:xs f:theme by:1x1 a:middle block s:xs">.theme</code></m-3>
        <m-3 sm=2><code class="bg:theme+ f:theme by:1x1 a:middle block s:xs">.theme+</code></m-3>
        <m-3 sm=2><code class="bg:theme f:theme by:1x1 a:middle block s:xs">.theme++</code></m-3>
        <m-3 sm=2><code class="bg:theme f:theme by:1x1 a:middle block s:xs">.white</code></m-3>
    </div>
    <div class="y">
        <m-3 sm=2><code class="bg:dark f:white by:1x1 a:middle block s:xs">.dark</code></m-3>
    </div>
</div>