.bg\:object {
    background-color: var(--bg-object);
    backdrop-filter: blur(35px);
    -webkit-backdrop-filter: blur(35px);
}

.bg\:transparent {
    background: none !important;
}

.bg\:blue {
    background-color: var(--blue) !important;
}

.bg\:blue\+ {
    background-color: var(--blue-fade) !important;
}

.bg\:blue\+\+ {
    background-color: var(--blue-fader) !important;
}

.bg\:green {
    background-color: var(--green) !important;
}

.bg\:green\+ {
    background-color: var(--green-fade) !important;
}

.bg\:green\+\+ {
    background-color: var(--green-fader) !important;
}

.bg\:red {
    background-color: var(--red) !important;
}

.bg\:red\+ {
    background-color: var(--red-fade) !important;
}

.bg\:red\+\+ {
    background-color: var(--red-fader) !important;
}

.bg\:purple {
    background-color: var(--purple) !important;
}

.bg\:purple\+ {
    background-color: var(--purple-fade) !important;
}

.bg\:purple\+\+ {
    background-color: var(--purple-fader) !important;
}

.bg\:yellow {
    background-color: var(--yellow) !important;
}

.bg\:yellow\+ {
    background-color: var(--yellow-fade) !important;
}

.bg\:yellow\+\+ {
    background-color: var(--yellow-fader) !important;
}

.bg\:theme {
    background-color: var(--theme) !important;
    @include bgBlur(var(--theme-rgb), .8);
}

.bg\:theme\+ {
    background-color: var(--theme-fade) !important;
    @include bgBlur(var(--theme-fade-rgb), .8);
}

.bg\:theme\+\+ {
    background-color: var(--theme-fader) !important;
    @include bgBlur(var(--theme-fader-rgb), .8);
}

.bg\:body {
    background-color: var(--bg-body) !important;
}

// .gt\:white {
//     background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
// }

// .gb\:white {
//     background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
// }

// .gt\:dark {
//     background-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .7) 100%);
// }

// .gb\:dark {
//     background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .7) 100%);
// }

.bg {
    max-width: 100%;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
}

.bg\:repeat {
    background-repeat: repeat !important;
}

.bg\:repeat-x {
    background-repeat: repeat-x !important;
}

.bg\:repeat-y {
    background-repeat: repeat-y !important;
}

.bg\:contain {
    background-size: contain !important
}

.bg\:fixed {
    background-attachment: fixed !important;
}

.bg\:scroll {
    background-attachment: scroll !important;
}

.bg\:local {
    background-attachment: local !important;
}

.bg\:left {
    background-position-x: left !important;
}

.bg\:right {
    background-position-x: right !important;
}

.bg\:top {
    background-position-y: top !important;
}

.bg\:bottom {
    background-position-y: bottom !important;
}

.bg\:center {
    background-position-x: center !important;
}

.bg\:middle {
    background-position-y: center !important;
}

.bg\:padding {
    background-origin: padding-box !important;
}

.bg\:border {
    background-origin: border-box !important;
}

.bg\:content {
    background-origin: content-box !important;
}

.bg\:no {
    background: 0 !important
}