@mixin blurBg($rgb, $opacity) {
    @supports (backdrop-filter: none) or (-webkit-backdrop-filter: none) {
        background-color: rgba(#{$rgb}, #{$opacity})!important;
        backdrop-filter: blur(35px);
        -webkit-backdrop-filter: blur(35px);
    }
}