@import '../variables';

:host {
    --rotate: 0deg;
    --stroke-width: var(--icon-stroke-width, 2px);
    --f-color: var(--icon-f-color, inherit);
    position: relative;
    display: inline-flex;
    // color: rgba(255, 255, 255, .3);
    stroke-width: var(--stroke-width);
    contain: content;
    color: var(--f-color);
    fill: inherit;
    // &:before {
    //     position: absolute;
    //     left: 0;
    //     right: 0;
    //     top: 0;
    //     bottom: 0;
    //     margin: auto;
    //     content: '';
    //     width: 20rem;
    //     height: 20rem;
    //     background-color: rgba(255, 255, 255, .1);
    // }
}

svg,
[part=master] {
    display: flex;
    width: 1em;
    height: 1em;
    transition: transform .2s ease;
    will-change: transform;
    contain: strict;
}

[part=master] {
    transform: rotate(var(--dir-rotate));
}

svg {
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: currentColor;
    transform: rotate(var(--rotate));
}

path {
    fill: currentColor;
    stroke-width: 0;
}

line,
g {
    transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    transition-duration: .3s;
    transition-property: transform, opacity;
    transform: none;
    opacity: 1;
    will-change: transform, opacity;
}

:host([name=spinner]) {
    svg {
        animation: rotate 2s linear infinite;
    }

    .track {
        fill: none;
        opacity: .15;
        animation: fadeSpinTrack 1.5s ease-in-out infinite;
    }

    .spinner {
        fill: none;
        stroke-linecap: round;
        animation: spin 1.5s ease-in-out infinite;
    }
}

@keyframes fadeSpinTrack {
    0% {
        opacity: .3;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: .3;
    }
}

@keyframes spin {
    0% {
        stroke-dasharray: 0, 72;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 42, 72;
        stroke-dashoffset: -20;
    }

    100% {
        stroke-dasharray: 42, 72;
        stroke-dashoffset: -62;
    }
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

:host([name=cross]),
:host([name=menu]) {

    .l1 {
        transform-origin: 80.2% 37.5%;
    }

    .l2 {
        opacity: 1;
    }

    .l3 {
        transform-origin: 80.2% 62.5%;
    }
}

:host([name=menu][active]),
:host([name=cross]) {
    .l1 {
        transform: rotate(-45deg);
    }

    .l2 {
        opacity: 0;
    }

    .l3 {
        transform: rotate(45deg);
    }
}

:host([name=add]) {
    .l1 {
        transform: rotate(0deg);
        transform-origin: center;
    }

    .l2 {
        transform: rotate(90deg);
        transform-origin: center;
    }
}

:host([name=check].animated),
:host([name=cross].animated) {
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
    will-change: stroke-dashoffset;
    animation: draw .3s ease forwards;
    opacity: 0;
}

@keyframes draw {
    to {
        opacity: 1;
        stroke-dashoffset: 0%;
    }
}

:host([name=check]) {
    path {
        stroke-width: inherit;
        fill: none;
    }
}

:host([name=chevron]) {
    line {
        transform-origin: center;
    }

    g {
        transform: translateY(12.5%);
    }

    .l1 {
        transform: rotate(35deg);
    }

    .l2 {
        transform: rotate(-35deg);
    }
}

:host([name=chevron][active]) {
    g {
        transform: translateY(-12.5%);
    }

    .l1 {
        transform: rotate(-35deg);
    }

    .l2 {
        transform: rotate(35deg);
    }
}

:host([name=caret][active]) {
    --dir-rotate: 180deg;
}

:host([direction=top]) {
    --rotate: 180deg;
}

:host([direction=left]) {
    --rotate: 90deg;
}

:host([direction=right]) {
    --rotate: -90deg;
}