@import '../../variables';
@import '../../mixins';
@import '../../interactors/popup/popup.scss';

:host([searching]) {
    ::slotted(m-item:not([found])) {
        display: none;
    }
}

[part=search-info] {
    font-size: var(--f-xxs);
    padding: .5rem 1.25rem;
    font-style: italic;
    text-align: center;
    letter-spacing: 1px;
    color: var(--f-fade);
}

[part=content] {
    max-height: inherit;
}

::slotted(m-item[selected]) {
    font-weight: 600;
    background-color: var(--item-bg-color-hover, var(--bg-object-hover));
}

::slotted(m-item[empty]) {
    color: var(--f-fade);
    font-weight: normal;
}