<m-list>
    <ng-container *ngFor="let eachRoute of routes">
        <div *ngIf="!eachRoute.component" class="listTitle">{{ eachRoute.path | translate }}</div>
        <m-item *ngIf="eachRoute.component">
            <div class="itemHead"></div>
            <div class="itemBody">{{ eachRoute.path | translate }}</div>
        </m-item>
        <m-collapse>
            <m-list class="sm">
                <m-item>
                    <div class="itemHead"></div>
                    <div class="itemBody"></div>
                    <div class="itemFoot"></div>
                </m-item>
            </m-list>
        </m-collapse>
    </ng-container>
</m-list>
{{ appService.translation | json }}
<router-outlet></router-outlet>