<nav class="appHead sticky bb y:no c-wrap:no" id="appHead">
    <div class="x">
        <div class="c:stack">
            <button is="m-button" id="side-toggle" collapse=".appSide" class="square transparent">
                <i class="i-maximize-2"></i>
            </button>
            <!-- <button is="m-button" toggle="#side .user" class="transparent">
                    <i class="i-user"></i>
                </button> -->
            <button is="m-button" id="themeToggle" class="square transparent">
                <i class="i-moon f:fade++ hide@active"></i>
                <i class="i-sun f:yellow show@active"></i>
            </button>
        </div>
    </div>
    <div class="x f:xs show@md" id="nowTime"></div>
    <div class="x a:right c:middle">
        <!-- <label class="ctl demoItem">
                <select is="m-select">
                    <option value="Taiwan" head="🇹🇼">Taiwan</option>
                    <option value="Albania" head="🇦🇱">Albania</option>
                    <option value="Australia" head="🇦🇺">Australia</option>
                    <option value="Azerbaijan" head="🇦🇿">Azerbaijan</option>
                    <option value="Belgium" head="🇧🇪" selected>Belgium</option>
                    <option value="Bhutan" head="🇧🇹">Bhutan</option>
                    <option value="Belize" head="🇧🇿">Belize</option>
                    <option value="Chile" head="🇨🇱">Chile</option>
                    <option value="Curacao" head="🇨🇼">Curacao</option>
                </select>
            </label> -->
        <button is="m-button" class="square transparent">
            <i class="i-power"></i>
        </button>
    </div>
</nav>
<main class="appBody">
    <article class="decorated">
        <nav aria-label="breadcrumb" class="decorated">
            <a>UI</a>
            <a href="guideline">指南</a>
            <a active aria-current="page">撰寫風格</a>
        </nav>
        <h1 class="mt:no">選單</h1>
        <router-outlet></router-outlet>
    </article>
</main>
<aside class="appSide br">
    <div class="appHead s:no c:center">
        <img src="assets/images/logo.svg" width="70">
    </div>
    <m-list>
        <ng-container *ngFor="let eachRoute of routes">
            <ng-container [ngTemplateOutlet]="routeGroup" [ngTemplateOutletContext]="{route: eachRoute, class: 'sm'}">
            </ng-container>
        </ng-container>
    </m-list>
    <ng-template #routeGroup let-route="route" let-class="class">
        <header part="list-header" *ngIf="!route?.component && !route?.children">{{ route.path | translate }}</header>
        <m-item *ngIf="route?.component || route?.children" [class]="class">
            <div part="item-head">{{ route?.data?.icon || null }}</div>
            <div part="item-body">{{ route.path | translate }}</div>
        </m-item>
        <m-collapse *ngIf="route.children">
            <ng-container *ngFor="let eachRoute of route.children" [ngTemplateOutlet]="routeGroup"
                [ngTemplateOutletContext]="{route: eachRoute, class: 'xs'}">
            </ng-container>
        </m-collapse>
    </ng-template>
</aside>