<nav part="app-head" class="bb">
    <m-button class="x square transparent">
        <i class="i-menu"></i>
    </m-button>
    <div part="app-logo" class="x" style="width: 200px">
        <img src="assets/images/logo.svg" width="70">
    </div>
    <div class="x">
        <div class="c:stack">
            <m-button is="m-button"
                      id="side-toggle"
                      collapse=".appSide"
                      class="square transparent">
                <i class="i-maximize-2"></i>
            </m-button>
            <!-- <button toggle="#side .user" class="transparent">
                    <i class="i-user"></i>
                </button> -->
            <m-button id="themeToggle" class="square transparent">
                <i class="i-moon f:fade++ hide@active"></i>
                <i class="i-sun f:yellow show@active"></i>
            </m-button>
        </div>
    </div>
    <div class="x f:xs show@md" id="nowTime"></div>
    <div class="x a:right c:middle">
        <!-- <label class="ctl demoItem">
                <select is="m-select">
                    <option value="Taiwan" head="🇹🇼">Taiwan</option>
                    <option value="Albania" head="🇦🇱">Albania</option>
                    <option value="Australia" head="🇦🇺">Australia</option>
                    <option value="Azerbaijan" head="🇦🇿">Azerbaijan</option>
                    <option value="Belgium" head="🇧🇪" selected>Belgium</option>
                    <option value="Bhutan" head="🇧🇹">Bhutan</option>
                    <option value="Belize" head="🇧🇿">Belize</option>
                    <option value="Chile" head="🇨🇱">Chile</option>
                    <option value="Curacao" head="🇨🇼">Curacao</option>
                </select>
            </label> -->
        <m-button class="square transparent">
            <i class="i-power"></i>
        </m-button>
    </div>
</nav>

<main part="app-body" style="padding-top: 3rem">
    <article class="decorated" style="margin-bottom: 3rem">
        <nav aria-label="breadcrumb" class="decorated">
            <a *ngFor="let eachRoute of appService?.currentRoute?.pathFromRoot"
               [attr.aria-current]="appService?.currentRoute === eachRoute ? 'page': null">{{ eachRoute?.routeConfig?.path || 'home' | translate }}</a>
        </nav>
        <h1>{{ appService?.currentRoute?.routeConfig?.path | translate }}</h1>
        <div class="y:no my">
            <m-chip class="x sm red+"
                    [ngClass]="{
                        'red+': eachComposition === 'HTML',
                        'blue+': eachComposition === 'CSS',
                        'yellow+': eachComposition === 'JS'
                    }"
                    *ngFor="let eachComposition of appService?.currentRoute?.data?.compositions">
                {{ eachComposition }}
            </m-chip>
        </div>
        <router-outlet></router-outlet>
    </article>
</main>

<aside part="app-side" class="br">
    <div part="app-logo" class="x" style="width: 200px">
        <img src="assets/images/logo.svg" width="70">
    </div>
    <m-content scroll-y guide class="x:fill">
        <m-list style="padding-top: .5rem">
            <ng-container *ngFor="let eachRoute of routes">
                <ng-container [ngTemplateOutlet]="routeGroup"
                              [ngTemplateOutletContext]="{route: eachRoute, size: 'sm'}">
                </ng-container>
            </ng-container>
        </m-list>
    </m-content>
</aside>

<ng-template #routeGroup let-route="route" let-size="size">
    <label *ngIf="!route?.component && !route?.children"
           [ngStyle]="{'padding-left': size !== 'sm' ? '2.75rem' : '1.25rem'}"
           style="padding-right: 1.25rem">
        {{ route.path | translate }}
    </label>
    <m-item [routerLink]="route?.paths ? route?.paths : ''"
            *ngIf="route?.component || route?.children"
            style="--px: 1.25rem"
            [class]="size"
            type="button">
        <i class="i-{{route?.data?.icon}} f:fade++" style="margin-right: .625rem" *ngIf="route?.data?.icon"></i>
        <span [ngStyle]="{'padding-left': size !== 'sm' ? '1.5rem' : null}">{{ route.path | translate }}</span>
    </m-item>
    <m-collapse *ngIf="route.children">
        <m-list>
            <ng-container *ngFor="let eachRoute of route.children"
                          [ngTemplateOutlet]="routeGroup"
                          [ngTemplateOutletContext]="{route: eachRoute, size: 'xs'}">
            </ng-container>
        </m-list>
    </m-collapse>
</ng-template>