@import './ui/variables';
@import './ui/mixins';

// 測試
.shine {
    animation: shine .5s linear;
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    padding: 1rem;
    border: 1px solid rgba(255, 255, 255, .1);
    background-color: rgba(255, 255, 255, .1);
    margin-top: .5rem;

    .shine {
        &:first-child {
            margin-left: 1rem
        }
    }

    >.shine {

        margin-top: 0;
    }
}

h2+doc-prop {
    h3 {
        margin-top: 0 !important;
    }
}

@keyframes shine {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
        background-color: yellow;
    }

    100% {
        opacity: 1;
    }
}

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

@font-face {
    font-family: 'Fira Code';
    src: url('/assets/fonts/FiraCode-Medium.eot');
    src: url('/assets/fonts/FiraCode-Medium.eot') format('embedded-opentype'), url('/assets/fonts/FiraCode-Medium.woff2') format('woff2'), url('/assets/fonts/FiraCode-Medium.woff') format('woff'), url('/assets/fonts/FiraCode-Medium.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

code {
    font-size: 13px;
    white-space: pre;
    font-weight: 600;
    font-family: 'Fira Code', -apple-system, 'Noto Sans TC', 'Microsoft JhengHei', monospace;
    letter-spacing: 0px !important;
    background-color: var(--themeFade);
    color: var(--f-theme);
    padding: 0 .5625rem;
    line-height: 24px;
    display: inline-flex;
    border-radius: $xs;

    &[part="body"] {
        background-color: transparent;
    }
}

m-table h2,
m-table h2 code {
    margin: 0;
    font-size: 13px !important;
}

code.default {
    color: var(--f-fadest);
    font-size: $f-sm;
    background-color: transparent;
}

@include above(sm) {
    .appNav {
        padding-right: 200px;
    }
}

.bg\:black {
    background-color: black !important;
}

.phoneMockup {
    position: relative;
    background-size: cover;
    background-color: var(--theme);
    background-image: url('/assets/images/iPhoneX.png');
    background-position: -1px 0;
    width: 325px;
    height: 660px;
    border-radius: 56px;
    margin: auto;
    padding: 21px $md 28px $md;

    &:before,
    &:after {
        position: absolute;
        pointer-events: none;
        left: 0;
        top: 3.05%;
        z-index: $z-overlay;
        content: '';
        background-size: 100% auto;
        display: block;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
    }

    &:before {
        background-image: url('/assets/images/iPhoneX-head.png');
    }

    &:after {
        background-image: url('/assets/images/iPhoneX-headbar.png');
    }
}

.dark .phoneMockup {
    &:after {
        -webkit-filter: invert(100%);
        /* Safari/Chrome */
        filter: invert(100%);
    }
}

.phoneMockupWrap {
    position: relative;
    overflow: hidden;
    border-radius: 2rem;

    &:before {
        position: absolute;
        content: '';
        pointer-events: none;
        left: 0;
        top: 0;
        z-index: $z-up;
        display: block;
        width: 100%;
        height: 35px;
        @include blurBg(var(--themeRgb), .9);
    }

    .scrollWrap {
        padding-top: $lg;
    }
}

.remark code {
    font-size: inherit;
}

.mainSide {
    --appSideOffset: calc(var(--appHeadH) + 2.25rem) !important;
}

#contents-tabs {
    .tab {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        color: var(--f-fade);
    }

    .tabTitle {
        width: 100%;
        text-align: left;
        font-size: $f-xxs;
        margin-top: .2rem;
        color: var(--f-fader);

        &:before {
            content: attr(text);
        }
    }

}

m-article {

    h1,
    h2,
    h3 {

        &[active] {
            text-decoration: solid underline #ffd700;
        }

        code {
            font-weight: 600;
            letter-spacing: -.2px !important;
            font-size: 1.375rem;
            background-color: transparent;
            padding: 0;
            line-height: 1;
        }
    }

    h1[title],
    h2[title],
    h3[title] {
        position: relative;

        &:after {
            position: absolute;
            top: -$xxs;
            content: attr(title);
            font-size: $f-xxs;
            color: var(--f-fade);
            font-weight: 400;
            margin-left: .5rem;
            letter-spacing: 1.5px;
            vertical-align: text-top;
        }
    }

    hr+h2 {
        margin-top: 0;
    }
}

.color {
    display: inline-flex;
    margin-right: $sm;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 500;
    width: 22px;
    height: 22px;
    user-select: none;
    border-radius: $xs;
    color: white;
    letter-spacing: -.5px;
    background-color: var(--theme);
}

code.colorCode {
    letter-spacing: .5px;

    .color {
        border-radius: $xxs;
        width: 16px;
        height: 16px;
        margin-right: $xs;
    }

    &.colorCode\:row {
        margin: 0;
        border: 0;
        padding: .8rem 1.2rem;
        justify-content: center;
    }
}

code[part="body"] {
    padding: 0 .375rem;
}

.appLogo {
    img {
        -webkit-filter: invert(80%);
        /* Safari/Chrome */
        filter: invert(80%);
    }
}

#appHead {
    .appLogo {
        width: 200px;
    }
}

@include below(sm) {
    #appHead {
        .appLogo {
            width: auto;
        }
    }
}

#appSide {
    font-size: $f-xs;
    border-right: 1px solid var(--b-fadest);

    &:after {
        contain: strict;
        position: absolute;
        pointer-events: none;
        bottom: 0px;
        left: 0px;
        right: 0px;
        display: block;
        height: 5rem;
        content: '';
    }

    .menu {
        display: flex;
        flex-direction: column;

        i:not(.toggle) {
            color: var(--f-fadest);
        }

        >li {
            >a {
                min-height: 2.5rem;
                font-size: 15px;

                i:nth-of-type(1) {
                    padding-right: 0.7rem;
                    font-size: 90%;
                }
            }
        }

        a:hover {
            background-color: var(--themeFader);
            color: var(--f-theme)
        }

        a,
        .title {
            position: relative;
            display: flex;
            align-items: center;
            min-height: 2rem;
            padding: 0 1.2rem;

            i {
                line-height: inherit;
            }

            m-icon {
                color: var(--f-fadest)
            }

            &[active] {
                color: var(--f-blue);
                background-color: var(--themeFade);
            }
        }

        .title {
            text-transform: uppercase;
            letter-spacing: 1.5px;
            font-size: $f-xxs;
            margin-top: $sm;
            margin-bottom: -$xxs;
            color: var(--f-fader) !important;
            font-weight: 400;
            border: 0;
        }

        li {
            position: relative;

            ul {
                position: relative;
                z-index: $z-up;
                margin-bottom: $sm;
                margin-top: -$xxs;

                a {
                    color: var(--f-fade)
                }

                a,
                .title {
                    padding-left: 2.7rem;
                }

                .title {
                    color: var(--f-fade);
                }
            }
        }
    }
}


.phone-demo {
    padding: 52px 20px 28px 20px;
    background-image: url('/assets/images/iPhoneX.png');
    background-size: cover;
    background-position: center;
    width: 325px;
    margin: auto;
    height: 662px;
}

.phoneBody {
    overflow: hidden;
    height: 100%;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
}


@include below(sm) {
    #side {
        position: fixed !important;
    }
}