<doc-prop [name]="'autocomplete'"
          [types]="['on', 'off', 'name', 'honorific-prefix', 'given-name', 'additional-name', 'family-name', 'honorific-suffix', 'nickname', 'email', 'username', 'new-password', 'current-password', 'one-time-code', 'organization-title', 'organization', 'street-address', 'address-line1', 'address-line2', 'address-line3', 'address-level4', 'address-level3', 'address-level2', 'address-level1', 'country', 'country-name', 'postal-code', 'cc-name', 'cc-given-name', 'cc-additional-name', 'cc-family-name', 'cc-number', 'cc-exp', 'cc-exp-month', 'cc-exp-year', 'cc-csc', 'cc-type', 'transaction-currency', 'transaction-amount', 'language', 'bday', 'bday-day', 'bday-month', 'bday-year', 'sex', 'tel', 'tel-country-code', 'tel-national', 'tel-area-code', 'tel-local', 'tel-extension', 'impp', 'url', 'photo']"
          [description]="'Indicates whether the value of the control can be automatically completed by the browser.'"
          [default]="'off'">
</doc-prop>

<doc-prop [name]="'autofocus'" [types]="['boolean']"
          [description]="'This Boolean attribute lets you specify that a form control should have input focus when the page loads.'"
          [default]="false">
</doc-prop>

<doc-prop [name]="'autocorrect'" [types]="['off', 'on']"
          [description]="'Whether auto correction should be enabled when the user is entering/editing the text value.'"
          [default]="'off'">
</doc-prop>

<doc-prop [name]="'name'" [types]="['string']"
          [description]="'The name of the control, which is submitted with the form data.'">
</doc-prop>

<doc-prop [name]="'required'" [types]="['boolean']"
          [description]="'If true, the user must fill in a value before submitting a form.'" [default]="false">
</doc-prop>

<doc-prop [name]="'value'" [types]="[null, 'number', 'string']" [description]="'The value of the input.'"
          [default]="''">
</doc-prop>