@font-face {
    font-family: "feather";
    src: url('/assets/fonts/feather.eot?t=1525787366991');
    /* IE9*/
    src: url('/assets/fonts/feather.eot?t=1525787366991#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('/assets/fonts/feather.woff?t=1525787366991') format('woff'),
        /* chrome, firefox */
        url('/assets/fonts/feather.ttf?t=1525787366991') format('truetype'),
        /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
        url('/assets/fonts/feather.svg?t=1525787366991#feather') format('svg');
    /* iOS 4.1- */
    font-weight: normal;
    font-style: normal;
}

[class*=' i-'],
[class^=i-] {
    text-transform: none;
    font-variant: normal;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0px !important;

    &:before {
        /* use !important to prevent issues with browser extensions that change fonts */
        font-family: 'feather' !important;
        speak: none;
        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

.i-alert-octagon:before {
    content: "\e81b";
}

.i-alert-circle:before {
    content: "\e81c";
}

.i-activity:before {
    content: "\e81d";
}

.i-alert-triangle:before {
    content: "\e81e";
}

.i-align-center:before {
    content: "\e81f";
}

.i-airplay:before {
    content: "\e820";
}

.i-align-justify:before {
    content: "\e821";
}

.i-align-left:before {
    content: "\e822";
}

.i-align-right:before {
    content: "\e823";
}

.i-arrow-down-left:before {
    content: "\e824";
}

.i-arrow-down-right:before {
    content: "\e825";
}

.i-anchor:before {
    content: "\e826";
}

.i-aperture:before {
    content: "\e827";
}

.i-arrow-left:before {
    content: "\e828";
}

.i-arrow-right:before {
    content: "\e829";
}

.i-arrow-down:before {
    content: "\e82a";
}

.i-arrow-up-left:before {
    content: "\e82b";
}

.i-arrow-up-right:before {
    content: "\e82c";
}

.i-arrow-up:before {
    content: "\e82d";
}

.i-award:before {
    content: "\e82e";
}

.i-bar-chart:before {
    content: "\e82f";
}

.i-at-sign:before {
    content: "\e830";
}

.i-bar-chart-2:before {
    content: "\e831";
}

.i-battery-charging:before {
    content: "\e832";
}

.i-bell-off:before {
    content: "\e833";
}

.i-battery:before {
    content: "\e834";
}

.i-bluetooth:before {
    content: "\e835";
}

.i-bell:before {
    content: "\e836";
}

.i-book:before {
    content: "\e837";
}

.i-briefcase:before {
    content: "\e838";
}

.i-camera-off:before {
    content: "\e839";
}

.i-calendar:before {
    content: "\e83a";
}

.i-bookmark:before {
    content: "\e83b";
}

.i-box:before {
    content: "\e83c";
}

.i-camera:before {
    content: "\e83d";
}

.i-check-circle:before {
    content: "\e83e";
}

.i-check:before {
    content: "\e83f";
}

.i-check-square:before {
    content: "\e840";
}

.i-cast:before {
    content: "\e841";
}

.i-chevron-down:before {
    content: "\e842";
}

.i-chevron-left:before {
    content: "\e843";
}

.i-chevron-right:before {
    content: "\e844";
}

.i-chevron-up:before {
    content: "\e845";
}

.i-chevrons-down:before {
    content: "\e846";
}

.i-chevrons-right:before {
    content: "\e847";
}

.i-chevrons-up:before {
    content: "\e848";
}

.i-chevrons-left:before {
    content: "\e849";
}

.i-circle:before {
    content: "\e84a";
}

.i-clipboard:before {
    content: "\e84b";
}

.i-chrome:before {
    content: "\e84c";
}

.i-clock:before {
    content: "\e84d";
}

.i-cloud-lightning:before {
    content: "\e84e";
}

.i-cloud-drizzle:before {
    content: "\e84f";
}

.i-cloud-rain:before {
    content: "\e850";
}

.i-cloud-off:before {
    content: "\e851";
}

.i-codepen:before {
    content: "\e852";
}

.i-cloud-snow:before {
    content: "\e853";
}

.i-compass:before {
    content: "\e854";
}

.i-copy:before {
    content: "\e855";
}

.i-corner-down-right:before {
    content: "\e856";
}

.i-corner-down-left:before {
    content: "\e857";
}

.i-corner-left-down:before {
    content: "\e858";
}

.i-corner-left-up:before {
    content: "\e859";
}

.i-corner-up-left:before {
    content: "\e85a";
}

.i-corner-up-right:before {
    content: "\e85b";
}

.i-corner-right-down:before {
    content: "\e85c";
}

.i-corner-right-up:before {
    content: "\e85d";
}

.i-cpu:before {
    content: "\e85e";
}

.i-credit-card:before {
    content: "\e85f";
}

.i-crosshair:before {
    content: "\e860";
}

.i-disc:before {
    content: "\e861";
}

.i-delete:before {
    content: "\e862";
}

.i-download-cloud:before {
    content: "\e863";
}

.i-download:before {
    content: "\e864";
}

.i-droplet:before {
    content: "\e865";
}

.i-edit-2:before {
    content: "\e866";
}

.i-edit:before {
    content: "\e867";
}

.i-edit-1:before {
    content: "\e868";
}

.i-external-link:before {
    content: "\e869";
}

.i-eye:before {
    content: "\e86a";
}

.i-feather:before {
    content: "\e86b";
}

.i-facebook:before {
    content: "\e86c";
}

.i-file-minus:before {
    content: "\e86d";
}

.i-eye-off:before {
    content: "\e86e";
}

.i-fast-forward:before {
    content: "\e86f";
}

.i-file-text:before {
    content: "\e870";
}

.i-film:before {
    content: "\e871";
}

.i-file:before {
    content: "\e872";
}

.i-file-plus:before {
    content: "\e873";
}

.i-folder:before {
    content: "\e874";
}

.i-filter:before {
    content: "\e875";
}

.i-flag:before {
    content: "\e876";
}

.i-globe:before {
    content: "\e877";
}

.i-grid:before {
    content: "\e878";
}

.i-heart:before {
    content: "\e879";
}

.i-home:before {
    content: "\e87a";
}

.i-github:before {
    content: "\e87b";
}

.i-image:before {
    content: "\e87c";
}

.i-inbox:before {
    content: "\e87d";
}

.i-layers:before {
    content: "\e87e";
}

.i-info:before {
    content: "\e87f";
}

.i-instagram:before {
    content: "\e880";
}

.i-layout:before {
    content: "\e881";
}

.i-link-2:before {
    content: "\e882";
}

.i-life-buoy:before {
    content: "\e883";
}

.i-link:before {
    content: "\e884";
}

.i-log-in:before {
    content: "\e885";
}

.i-list:before {
    content: "\e886";
}

.i-lock:before {
    content: "\e887";
}

.i-log-out:before {
    content: "\e888";
}

.i-loader:before {
    content: "\e889";
}

.i-mail:before {
    content: "\e88a";
}

.i-maximize-2:before {
    content: "\e88b";
}

.i-map:before {
    content: "\e88c";
}

.i-map-pin:before {
    content: "\e88e";
}

.i-menu:before {
    content: "\e88f";
}

.i-message-circle:before {
    content: "\e890";
}

.i-message-square:before {
    content: "\e891";
}

.i-minimize-2:before {
    content: "\e892";
}

.i-mic-off:before {
    content: "\e893";
}

.i-minus-circle:before {
    content: "\e894";
}

.i-mic:before {
    content: "\e895";
}

.i-minus-square:before {
    content: "\e896";
}

.i-minus:before {
    content: "\e897";
}

.i-moon:before {
    content: "\e898";
}

.i-monitor:before {
    content: "\e899";
}

.i-more-vertical:before {
    content: "\e89a";
}

.i-more-horizontal:before {
    content: "\e89b";
}

.i-move:before {
    content: "\e89c";
}

.i-music:before {
    content: "\e89d";
}

.i-navigation-2:before {
    content: "\e89e";
}

.i-navigation:before {
    content: "\e89f";
}

.i-octagon:before {
    content: "\e8a0";
}

.i-package:before {
    content: "\e8a1";
}

.i-pause-circle:before {
    content: "\e8a2";
}

.i-pause:before {
    content: "\e8a3";
}

.i-percent:before {
    content: "\e8a4";
}

.i-phone-call:before {
    content: "\e8a5";
}

.i-phone-forwarded:before {
    content: "\e8a6";
}

.i-phone-missed:before {
    content: "\e8a7";
}

.i-phone-off:before {
    content: "\e8a8";
}

.i-phone-incoming:before {
    content: "\e8a9";
}

.i-phone:before {
    content: "\e8aa";
}

.i-phone-outgoing:before {
    content: "\e8ab";
}

.i-pie-chart:before {
    content: "\e8ac";
}

.i-play-circle:before {
    content: "\e8ad";
}

.i-play:before {
    content: "\e8ae";
}

.i-plus-square:before {
    content: "\e8af";
}

.i-plus-circle:before {
    content: "\e8b0";
}

.i-plus:before {
    content: "\e8b1";
}

.i-pocket:before {
    content: "\e8b2";
}

.i-printer:before {
    content: "\e8b3";
}

.i-power:before {
    content: "\e8b4";
}

.i-radio:before {
    content: "\e8b5";
}

.i-repeat:before {
    content: "\e8b6";
}

.i-refresh-ccw:before {
    content: "\e8b7";
}

.i-rewind:before {
    content: "\e8b8";
}

.i-rotate-ccw:before {
    content: "\e8b9";
}

.i-refresh-cw:before {
    content: "\e8ba";
}

.i-rotate-cw:before {
    content: "\e8bb";
}

.i-save:before {
    content: "\e8bc";
}

.i-search:before {
    content: "\e8bd";
}

.i-server:before {
    content: "\e8be";
}

.i-scissors:before {
    content: "\e8bf";
}

.i-share-2:before {
    content: "\e8c0";
}

.i-share:before {
    content: "\e8c1";
}

.i-shield:before {
    content: "\e8c2";
}

.i-settings:before {
    content: "\e8c3";
}

.i-skip-back:before {
    content: "\e8c4";
}

.i-shuffle:before {
    content: "\e8c5";
}

.i-sidebar:before {
    content: "\e8c6";
}

.i-skip-forward:before {
    content: "\e8c7";
}

.i-slack:before {
    content: "\e8c8";
}

.i-slash:before {
    content: "\e8c9";
}

.i-smartphone:before {
    content: "\e8ca";
}

.i-square:before {
    content: "\e8cb";
}

.i-speaker:before {
    content: "\e8cc";
}

.i-star:before {
    content: "\e8cd";
}

.i-stop-circle:before {
    content: "\e8ce";
}

.i-sun:before {
    content: "\e8cf";
}

.i-sunrise:before {
    content: "\e8d0";
}

.i-tablet:before {
    content: "\e8d1";
}

.i-tag:before {
    content: "\e8d2";
}

.i-sunset:before {
    content: "\e8d3";
}

.i-target:before {
    content: "\e8d4";
}

.i-thermometer:before {
    content: "\e8d5";
}

.i-thumbs-up:before {
    content: "\e8d6";
}

.i-thumbs-down:before {
    content: "\e8d7";
}

.i-toggle-left:before {
    content: "\e8d8";
}

.i-toggle-right:before {
    content: "\e8d9";
}

.i-trash-2:before {
    content: "\e8da";
}

.i-trash:before {
    content: "\e8db";
}

.i-trending-up:before {
    content: "\e8dc";
}

.i-trending-down:before {
    content: "\e8dd";
}

.i-triangle:before {
    content: "\e8de";
}

.i-type:before {
    content: "\e8df";
}

.i-twitter:before {
    content: "\e8e0";
}

.i-upload:before {
    content: "\e8e1";
}

.i-umbrella:before {
    content: "\e8e2";
}

.i-upload-cloud:before {
    content: "\e8e3";
}

.i-unlock:before {
    content: "\e8e4";
}

.i-user-check:before {
    content: "\e8e5";
}

.i-user-minus:before {
    content: "\e8e6";
}

.i-user-plus:before {
    content: "\e8e7";
}

.i-user-x:before {
    content: "\e8e8";
}

.i-user:before {
    content: "\e8e9";
}

.i-users:before {
    content: "\e8ea";
}

.i-video-off:before {
    content: "\e8eb";
}

.i-video:before {
    content: "\e8ec";
}

.i-voicemail:before {
    content: "\e8ed";
}

.i-volume-x:before {
    content: "\e8ee";
}

.i-volume-2:before {
    content: "\e8ef";
}

.i-volume-1:before {
    content: "\e8f0";
}

.i-volume:before {
    content: "\e8f1";
}

.i-watch:before {
    content: "\e8f2";
}

.i-wifi:before {
    content: "\e8f3";
}

.i-x-square:before {
    content: "\e8f4";
}

.i-wind:before {
    content: "\e8f5";
}

.i-x:before {
    content: "\e8f6";
}

.i-x-circle:before {
    content: "\e8f7";
}

.i-zap:before {
    content: "\e8f8";
}

.i-zoom-in:before {
    content: "\e8f9";
}

.i-zoom-out:before {
    content: "\e8fa";
}

.i-command:before {
    content: "\e8fb";
}

.i-cloud:before {
    content: "\e8fc";
}

.i-hash:before {
    content: "\e8fd";
}

.i-headphones:before {
    content: "\e8fe";
}

.i-underline:before {
    content: "\e8ff";
}

.i-italic:before {
    content: "\e900";
}

.i-bold:before {
    content: "\e901";
}

.i-crop:before {
    content: "\e902";
}

.i-help-circle:before {
    content: "\e903";
}

.i-paperclip:before {
    content: "\e904";
}

.i-shopping-cart:before {
    content: "\e905";
}

.i-tv:before {
    content: "\e906";
}

.i-wifi-off:before {
    content: "\e907";
}

.i-minimize:before {
    content: "\e88d";
}

.i-maximize:before {
    content: "\e908";
}

.i-gitlab:before {
    content: "\e909";
}

.i-sliders:before {
    content: "\e90a";
}

.i-star-on:before {
    content: "\e90b";
}

.i-heart-on:before {
    content: "\e90c";
}

.i-archive:before {
    content: "\e90d";
}

.i-arrow-down-circle:before {
    content: "\e90e";
}

.i-arrow-up-circle:before {
    content: "\e90f";
}

.i-arrow-left-circle:before {
    content: "\e910";
}

.i-arrow-right-circle:before {
    content: "\e911";
}

.i-bar-chart-line-:before {
    content: "\e912";
}

.i-bar-chart-line:before {
    content: "\e913";
}

.i-book-open:before {
    content: "\e914";
}

.i-code:before {
    content: "\e915";
}

.i-database:before {
    content: "\e916";
}

.i-dollar-sign:before {
    content: "\e917";
}

.i-folder-plus:before {
    content: "\e918";
}

.i-gift:before {
    content: "\e919";
}

.i-folder-minus:before {
    content: "\e91a";
}

.i-git-commit:before {
    content: "\e91b";
}

.i-git-branch:before {
    content: "\e91c";
}

.i-git-pull-request:before {
    content: "\e91d";
}

.i-git-merge:before {
    content: "\e91e";
}

.i-linkedin:before {
    content: "\e91f";
}

.i-hard-drive:before {
    content: "\e920";
}

.i-more-vertical-:before {
    content: "\e921";
}

.i-more-horizontal-:before {
    content: "\e922";
}

.i-rss:before {
    content: "\e923";
}

.i-send:before {
    content: "\e924";
}

.i-shield-off:before {
    content: "\e925";
}

.i-shopping-bag:before {
    content: "\e926";
}

.i-terminal:before {
    content: "\e927";
}

.i-truck:before {
    content: "\e928";
}

.i-zap-off:before {
    content: "\e929";
}

.i-youtube:before {
    content: "\e92a";
}