:host {
    --bg-theme: transparent;
    position: relative;
    z-index: 0;
}

[part=shadow] {
    position: relative;
    display: inherit;
    -webkit-appearance: none;
    contain: layout style;
    font: inherit;
    flex-wrap: inherit;
    flex-direction: inherit;
    align-items: inherit;
    justify-content: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    text-transform: inherit;
    text-overflow: inherit;
    text-align: inherit;
    white-space: inherit;
    text-decoration: inherit;
    color: inherit;
    border-radius: inherit;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    overflow: hidden;
    background-origin: border-box;
    background-color: var(--bg-theme, var(--bg-object));
    border-style: var(--b-style, solid);
    border-width: var(--b-size, 0px);
    border-color: var(--b-theme);
    box-sizing: border-box;
    transition: box-shadow ease-out .15s;
    will-change: transform;

    &[disabled] {
        background-color: var(--bg-disabled) !important;
        cursor: no-drop !important;
        color: var(--f-fadest) !important;
        box-shadow: none !important;

        ::slotted([part=foot]) {
            color: inherit;
        }

        ::slotted(*) {
            pointer-events: none;
        }
    }
}

.body {
    display: flex;
    flex: 1 1 auto;
}

slot[name=foot],
slot[name=head] {
    display: flex;
    flex: 0 0 auto;
}

slot {
    box-sizing: border-box;
}

@media (any-hover: hover) {
    .touch {
        &:hover:not([disabled]) {
            background-color: var(--bg-theme-hover, var(--themeFade));
            box-shadow: inset 0 0 0 1px var(--b-theme-hover);
            border-style: solid;
        }
    }

    :host(.outlined) {
        .touch {
            &:hover:not([disabled]) {
                background-color: var(--bg-theme-hover, var(--themeFade));
                border-color: var(--b-theme-hover);
            }
        }
    }
}

button[part=shadow],
a[part=shadow] {
    -webkit-appearance: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}

:host(.outlined) {
    --b-size: 1px;

    [part="shadow"] {
        background-color: transparent;

        &[disabled] {
            background-color: transparent !important;
            border-color: var(--b-fadest) !important;
        }
    }
}


:host([part=foot]) {
    [part=shadow] {
        border: 0;
        box-shadow: none;
    }
}