:host {
    position: relative;
    z-index: 0;
}

[part=shadow] {
    position: relative;
    display: contents;
    -webkit-appearance: none;
    font: inherit;
    // flex-wrap: inherit;
    // flex-direction: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    text-transform: inherit;
    text-overflow: inherit;
    text-align: inherit;
    white-space: inherit;
    text-decoration: inherit;
    color: inherit;
    border-radius: inherit;
    padding: 0;
    border: 0;
    width: 100%;
    height: 100%;
    outline: none;
    overflow: hidden;
    background-color: transparent;

    &:before {
        position: absolute;
        contain: strict;
        z-index: -1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        content: '';
        background-origin: border-box;
        background-color: var(--bg-theme, var(--bg-object));
        border-style: solid;
        border-width: var(--b-size, 0px);
        border-color: var(--b-theme);
        border-radius: inherit;
        box-sizing: border-box;
        transition: box-shadow ease-out .15s;
        will-change: transform;
    }

    &[disabled] {
        --bg-theme: var(--bg-disabled) !important;
        --b-theme: transparent !important;
        cursor: no-drop !important;
        color: var(--f-fadest) !important;

        &:before {
            box-shadow: none !important;
        }

        ::slotted([part=foot]) {
            color: inherit;
        }
    }
}

@media (any-hover: hover) {
    .touch {
        &:hover:not([disabled]) {
            --bg-theme: var(--bg-theme-hover, var(--themeFade));

            &:before {
                box-shadow: inset 0 0 0 1px var(--b-theme-hover);
            }
        }
    }

    :host(.outlined) {
        .touch {
            &:hover:not([disabled]) {
                --bg-theme: var(--bg-theme-hover, var(--themeFade));
                --b-theme: var(--b-theme-hover);
            }
        }
    }
}

button[part=shadow],
a[part=shadow] {
    -webkit-appearance: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}

:host(.outlined) {
    [part=shadow] {
        --bg-theme: transparent;
        --b-size: 1px;
    }
}