
@import './breakpoint/variable';
@import './modifiers/shadow/variable';
@import './modifiers/z-index/variable';
@import './modifiers/wrap/variable';

$blue: #377dff;
$red: rgb(245, 80, 120);
$green: rgb(55, 185, 100);
$yellow:rgb(255, 170, 50);
$purple: rgb(130, 130, 255);

$xxs: 0.125rem; // 2px
$xs: 0.3125rem; // 5px
$sm: 0.625rem; // 10px
$md: 1.25rem; // 20px
$lg: 1.875rem; // 30px
$xl: 3.125rem; // 50px
$xxl: 6.25rem; // 100px

$f-xxs: 0.75rem; // 12px
$f-xs: 0.875rem; // 14px
$f-sm: 1rem; // 16px
$f-md: 1.250rem; // 20px
$f-lg: 1.563rem; // 25px
$f-xl: 2rem; // 32px
$f-xxl: 2.5rem; // 40px