<div class="demo">
    <div class="demo-body">
        <form #heroForm="ngForm" (ngSubmit)="submit(heroForm)">
            <ng-container *ngFor="let eachColor of colors">
                <m-check type="checkbox" name="color" [(ngModel)]="eachColor.checked" ngDefaultControl>
                    <label>{{ eachColor.name }}</label>
                </m-check>
                <!-- <input type="checkbox" name="color" [ngModel]="eachColor.name"> -->
            </ng-container>
            <button type="submit" ngDefaultControl>
                送出
            </button>
        </form>
        <span>{{ value }}</span>
        <span>{{ nativeValue }}</span>
    </div>
</div>