m-list {
    contain: style;
    display: flex;
    flex-direction: column;

    &.lined {
        m-item:not(:first-child) {
            border-top: 1px solid var(--b-fadest);
        }
    }

    &.indented.lined m-item {
        border-top: 0;

        .itemBody,
        .itemFoot {
            border-top: 1px solid var(--b-fadest);
        }
    }

    m-list {
        margin-left: $md;
    }

}

.dark {
    m-list {
        [is=m-check]~i {
            --checked: #fff;
        }
    }
}

.listLabel {
    display: block;
    font-size: $f-xxs;
    color: var(--f-fader);
    line-height: 100%;
    letter-spacing: 1px;
    padding: $md 1rem $sm 1rem;
    text-transform: uppercase;
    font-weight: 500;

    +m-item .itemBody,
    +m-item .itemFoot {
        border-top: 0;
    }
}