m-list {
    contain: style;
    display: flex;
    width: 100%;
    flex-direction: column;

    m-list {
        margin-left: $md;
    }

}

.dark {
    m-list {
        [is=m-check]~i {
            --checked: #fff;
        }
    }
}

[part="list-header"] {
    display: block;
    font-size: var(--f-xxs);
    color: var(--f-fader);
    line-height: 100%;
    letter-spacing: 1px;
    padding: $md 1rem $sm 1rem;
    text-transform: uppercase;
    font-weight: 500;
}