.blue {
    --bg-theme: var(--blue);
    --bg-theme-hover: var(--f-blue);

    &.outlined {
        --f-theme: var(--f-blue);
        --bg-light: var(--blueFader);
        --bg-theme-hover: var(--blueFader);
        --b-theme: var(--blue);
        --b-theme-hover: var(--blue);
    }
}

.blue\+ {
    --bg-light: var(--blueFade);
    --bg-theme: var(--blueFader);
    --bg-theme-hover: var(--blueFade);
    --f-theme: var(--f-blue);

    &.outlined {
        --bg-light: var(--blueFader);
        --bg-theme-hover: var(--blueFader);
        --b-theme: var(--b-fadest);
        --b-theme-hover: var(--blueFade);
    }
}

.green {
    --bg-theme: var(--green);
    --bg-theme-hover: var(--f-green);

    &.outlined {
        --f-theme: var(--f-green);
        --bg-light: var(--greenFader);
        --bg-theme-hover: var(--greenFader);
        --b-theme: var(--green);
        --b-theme-hover: var(--green);
    }
}

.green\+ {
    --bg-light: var(--greenFade);
    --bg-theme: var(--greenFader);
    --bg-theme-hover: var(--greenFade);
    --f-theme: var(--f-green);

    &.outlined {
        --bg-light: var(--greenFader);
        --bg-theme-hover: var(--greenFader);
        --b-theme: var(--b-fadest);
        --b-theme-hover: var(--greenFade);
    }
}

.red {
    --bg-theme: var(--red);
    --bg-theme-hover: var(--f-red);

    &.outlined {
        --f-theme: var(--f-red);
        --bg-light: var(--redFader);
        --bg-theme-hover: var(--redFader);
        --b-theme: var(--red);
        --b-theme-hover: var(--red);
    }
}

.red\+ {
    --bg-light: var(--redFade);
    --bg-theme: var(--redFader);
    --bg-theme-hover: var(--redFade);
    --f-theme: var(--f-red);

    &.outlined {
        --bg-light: var(--redFader);
        --bg-theme-hover: var(--redFader);
        --b-theme: var(--b-fadest);
        --b-theme-hover: var(--redFade);
    }
}

.purple {
    --bg-theme: var(--purple);
    --bg-theme-hover: var(--f-purple);

    &.outlined {
        --f-theme: var(--f-purple);
        --bg-light: var(--purpleFader);
        --bg-theme-hover: var(--purpleFader);
        --b-theme: var(--purple);
        --b-theme-hover: var(--purple);
    }
}

.purple\+ {
    --bg-light: var(--purpleFade);
    --bg-theme: var(--purpleFader);
    --bg-theme-hover: var(--purpleFade);
    --f-theme: var(--f-purple);

    &.outlined {
        --bg-light: var(--purpleFader);
        --bg-theme-hover: var(--purpleFader);
        --b-theme: var(--b-fadest);
        --b-theme-hover: var(--purpleFade);
    }
}

.yellow {
    --bg-theme: var(--yellow);
    --bg-theme-hover: var(--f-yellow);

    &.outlined {
        --f-theme: var(--f-yellow);
        --bg-light: var(--yellowFader);
        --bg-theme-hover: var(--yellowFader);
        --b-theme: var(--yellow);
        --b-theme-hover: var(--yellow);
    }
}

.yellow\+ {
    --bg-light: var(--yellowFade);
    --bg-theme: var(--yellowFader);
    --bg-theme-hover: var(--yellowFade);
    --f-theme: var(--f-yellow);

    &.outlined {
        --bg-light: var(--yellowFader);
        --bg-theme-hover: var(--yellowFader);
        --b-theme: var(--b-fadest);
        --b-theme-hover: var(--yellowFade);
    }
}

.theme {
    --bg-theme: var(--bg-object);
    --bg-light: var(--themeFade);
    --bg-theme-hover: var(--themeFade);

    &.outlined {
        --bg-theme-hover: var(--themeFader);
        --b-theme: var(--b-fader);
        --b-theme-hover: var(--b-fade);
    }
}

.theme\+ {
    --bg-light: var(--theme);
    --bg-theme: var(--themeFade);
    --bg-theme-hover: var(--themeFader);

    &.outlined {
        --bg-light: var(--themeFader);
        --bg-theme-hover: var(--themeFade);
        --b-theme: var(--b-fadest);
        --b-theme-hover: var(--b-fade);
    }
}

.brand,
.blue,
.red,
.green,
.purple,
.yellow {
    --bg-light: rgba(0, 0, 0, .1);
    --f-theme: #fff;
    --bg-disabled: var(--themeFader);
}