:root {
    /** theme  */
    --blue: #{$blue};
    --blueFade: #{lighten($blue, 33%)};
    --blueFader: #{lighten($blue, 36.5%)};
    --red: #{$red};
    --redFade: #{lighten($red, 30%)};
    --redFader: #{lighten($red, 33.5%)};
    --green: #{$green};
    --greenFade: #{lighten($green, 41%)};
    --greenFader: #{lighten($green, 48.5%)};
    --yellow: #{$yellow};
    --yellowFade: #{lighten($yellow, 31%)};
    --yellowFader: #{lighten($yellow, 36.5%)};
    --purple: #{$purple};
    --purpleFade: #{lighten($purple, 17%)};
    --purpleFader: #{lighten($purple, 21.5%)};
    --f-blue: #{darken($blue, 8%)};
    --f-red: #{darken($red, 8%)};
    --f-green: #{darken($green, 6%)};
    --f-purple: #{darken($purple, 8%)};
    --f-yellow: #{darken($yellow, 8%)};
    --b-fadeRgb: 40, 67, 110;
    --b-fade: rgba(var(--b-fadeRgb), .16);
    --b-fader: rgba(var(--b-fadeRgb), .12);
    --b-fadest: rgba(var(--b-fadeRgb), .08);
    // theme
    --themeRgb: 255, 255, 255;
    --themeFadeRgb: 246, 248, 250;
    --themeFaderRgb: 242, 244, 247;
    --bg-skeletonRgb: 15, 30, 55;
    --theme: rgb(var(--themeRgb));
    --themeFade: rgb(var(--themeFadeRgb));
    --themeFader: rgb(var(--themeFaderRgb));
    --bg-objectRgb: var(--themeRgb);
    --bg-object: var(--theme);
    --f-theme: #1e1e23;
    --f-themeFade: #3a3a44;
    --f-themeFader: #565665;
    --f-fade: #68738c;
    --f-fader: #a1a8b9;
    --f-fadest: #bec3cf;
    --bg-color-hover: rgba(0, 27, 83, .05);
    --switch-button-color: var(--theme);

    &.dark {
        --blueFade: #{rgba($blue, .2)};
        --blueFader: #{rgba($blue, .1)};
        --redFade: #{rgba($red, .2)};
        --redFader: #{rgba($red, .1)};
        --greenFade: #{rgba($green, .2)};
        --greenFader: #{rgba($green, .1)};
        --yellowFade: #{rgba($yellow, .2)};
        --yellowFader: #{rgba($yellow, .1)};
        --purpleFade: #{rgba($purple, .2)};
        --purpleFader: #{rgba($purple, .1)};
        /* theme */
        --themeRgb: 29, 29, 30;
        --themeFadeRgb: 36, 36, 36;
        --themeFaderRgb: 49, 49, 50;
        --bg-skeletonRgb: 255, 255, 255;
        --theme: rgb(var(--themeRgb));
        --themeFade: rgb(var(--themeFadeRgb));
        --themeFader: rgb(var(--themeFaderRgb));
        --bg-objectRgb: var(--themeFaderRgb);
        --bg-object: var(--themeFader);
        --f-blue: var(--blue);
        --f-red: var(--red);
        --f-green: var(--green);
        --f-purple: var(--purple);
        --f-yellow: var(--yellow);
        --f-theme: #fff;
        --f-themeFade: #d7d7da;
        --f-themeFader: #b7b7ba;
        --f-fade: #97979a;
        --f-fader: #77777a;
        --f-fadest: #57575a;
        --b-fadeRgb: 255, 255, 255;
        --b-fade: rgba(var(--b-fadeRgb), .16);
        --b-fader: rgba(var(--b-fadeRgb), .12);
        --b-fadest: rgba(var(--b-fadeRgb), .08);
        --bg-color-hover: rgba(255, 255, 255, .05);
        --switch-button-color: var(--f-fadest);
    }
}

@supports (backdrop-filter: none) or (-webkit-backdrop-filter: none) {
    :root {
        --bg-object: rgba(var(--bg-objectRgb), .7)
    }

    :root.dark {
        --bg-object: rgba(var(--bg-objectRgb), .7)
    }
}

.blue {
    --bg-color: var(--blue);
    --bg-color-hover: var(--f-blue);

    &.outlined {
        --f-theme: var(--f-blue);
        --bg-light: var(--blueFader);
        --bg-color-hover: var(--blueFader);
        --b-color: var(--blue);
        --b-color-active: var(--blue);
    }
}

.blue\+ {
    --bg-light: var(--blueFade);
    --bg-color: var(--blueFader);
    --bg-color-hover: var(--blueFade);
    --f-theme: var(--f-blue);

    &.outlined {
        --bg-light: var(--blueFader);
        --bg-color-hover: var(--blueFader);
        --b-color: var(--b-fadest);
        --b-color-active: var(--blueFade);
    }
}

.green {
    --bg-color: var(--green);
    --bg-color-hover: var(--f-green);

    &.outlined {
        --f-theme: var(--f-green);
        --bg-light: var(--greenFader);
        --bg-color-hover: var(--greenFader);
        --b-color: var(--green);
        --b-color-active: var(--green);
    }
}

.green\+ {
    --bg-light: var(--greenFade);
    --bg-color: var(--greenFader);
    --bg-color-hover: var(--greenFade);
    --f-theme: var(--f-green);

    &.outlined {
        --bg-light: var(--greenFader);
        --bg-color-hover: var(--greenFader);
        --b-color: var(--b-fadest);
        --b-color-active: var(--greenFade);
    }
}

.red {
    --bg-color: var(--red);
    --bg-color-hover: var(--f-red);

    &.outlined {
        --f-theme: var(--f-red);
        --bg-light: var(--redFader);
        --bg-color-hover: var(--redFader);
        --b-color: var(--red);
        --b-color-active: var(--red);
    }
}

.red\+ {
    --bg-light: var(--redFade);
    --bg-color: var(--redFader);
    --bg-color-hover: var(--redFade);
    --f-theme: var(--f-red);

    &.outlined {
        --bg-light: var(--redFader);
        --bg-color-hover: var(--redFader);
        --b-color: var(--b-fadest);
        --b-color-active: var(--redFade);
    }
}

.purple {
    --bg-color: var(--purple);
    --bg-color-hover: var(--f-purple);

    &.outlined {
        --f-theme: var(--f-purple);
        --bg-light: var(--purpleFader);
        --bg-color-hover: var(--purpleFader);
        --b-color: var(--purple);
        --b-color-active: var(--purple);
    }
}

.purple\+ {
    --bg-light: var(--purpleFade);
    --bg-color: var(--purpleFader);
    --bg-color-hover: var(--purpleFade);
    --f-theme: var(--f-purple);

    &.outlined {
        --bg-light: var(--purpleFader);
        --bg-color-hover: var(--purpleFader);
        --b-color: var(--b-fadest);
        --b-color-active: var(--purpleFade);
    }
}

.yellow {
    --bg-color: var(--yellow);
    --bg-color-hover: var(--f-yellow);

    &.outlined {
        --f-theme: var(--f-yellow);
        --bg-light: var(--yellowFader);
        --bg-color-hover: var(--yellowFader);
        --b-color: var(--yellow);
        --b-color-active: var(--yellow);
    }
}

.yellow\+ {
    --bg-light: var(--yellowFade);
    --bg-color: var(--yellowFader);
    --bg-color-hover: var(--yellowFade);
    --f-theme: var(--f-yellow);

    &.outlined {
        --bg-light: var(--yellowFader);
        --bg-color-hover: var(--yellowFader);
        --b-color: var(--b-fadest);
        --b-color-active: var(--yellowFade);
    }
}

.theme {
    --bg-color: var(--bg-object);
    --bg-light: var(--themeFade);
    --bg-color-hover: var(--themeFade);

    &.outlined {
        --bg-color-hover: var(--themeFader);
        --b-color: var(--b-fader);
        --b-color-active: var(--b-fade);
    }
}

.theme\+ {
    --bg-light: var(--theme);
    --bg-color: var(--themeFade);
    --bg-color-hover: var(--themeFader);

    &.outlined {
        --bg-light: var(--themeFader);
        --bg-color-hover: var(--themeFade);
        --b-color: var(--b-fadest);
        --b-color-active: var(--b-fade);
    }
}

.brand,
.blue,
.red,
.green,
.purple,
.yellow {
    --bg-light: rgba(0, 0, 0, .1);
    --f-theme: #fff;
    --bg-disabled: var(--themeFader);
}