@import '../../variables';
@import '../../mixins';

:host {
    --modal-p: #{$md};
    position: fixed;
    z-index: $z-overlay !important;
    display: flex;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    contain: strict;
    padding: var(--modal-p);

    &[changing] {
        .modalWrap {
            will-change: height, opacity, box-shadow;
            overflow: hidden !important;
        }

        .modalHead {
            z-index: $z-overlay;
        }

        >m-scroll {
            >.scrollBar {
                visibility: hidden;
            }
        }
    }

    &[opened]:not([changing]) {
        .modalWrap {
            transition: .3s box-shadow linear;
            box-shadow: $s-xl;
        }
    }

    &:not(.show) {
        display: none !important;
    }

    &.long {
        padding-top: 0;
        padding-bottom: 0;

        .modalWrap {
            padding: var(--modal-p) 0;
        }

        .modalHead.sticky {
            top: calc(var(--modal-p) * -1);
        }

        .modalFoot.sticky {
            bottom: calc(var(--modal-p) * -1);
        }

        >m-scroll {
            &[reach-y='-1'] {
                .modalToggle {
                    top: calc(var(--modal-p) + .5rem);
                }
            }

            >.scrollBar {
                position: fixed;
            }
        }
    }

    &.abs {
        .modalOverlay {
            position: fixed;
            top: 0;
            height: 100vh;
            contain: style;
        }
    }

    &[origin=left] {

        .modalWrap {
            margin-left: 0;
            height: 100%;
        }
    }

    &[origin=right] {

        .modalWrap {
            margin-right: 0;
            height: 100%;
        }
    }

    &[origin=top] {

        .modalWrap {
            margin-top: 0;
            width: 100%;
            max-width: 100%;
        }
    }

    &[origin=bottom] {

        .modalWrap {
            margin-bottom: 0;
            width: 100%;
            max-width: 100%;
        }
    }

    &[origin=right],
    &[origin=left],
    &[origin=top],
    &[origin=bottom] {
        padding: 0;

        .modalHead,
        .modalFoot {
            border-radius: 0;
        }
    }
}

.modalToggle {
    position: absolute;
    z-index: $z-overlay;
    top: .5rem;
    right: .5rem;
    font-size: var(--f-xs);
    transition: .1s top linear;
    will-change: top;
    @include blurBg(var(--theme), 0);
}

.modalOverlay {
    position: fixed;
    contain: strict;
    height: 150%;
    top: -25%;
    z-index: $z-down;
    background-color: rgba(0, 0, 0, .5);
    // backdrop-filter: saturate(0%);
    // -webkit-backdrop-filter: saturate(0%);
}

.modalWrap {
    position: relative;
    contain: style;
    display: flex;
    flex: 0 0 auto;
    margin: auto;
    flex-direction: column;
    width: 100%;
    max-width: $wrap-xxs;
    max-height: 100%;
    overflow: hidden;
}

.modalBody {
    width: 100%;
    flex: 1 1 auto;
    background-color: var(--theme);

    &:not(m-scroll) {
        padding: $md;
    }
}

m-scroll.modalBody {
    >.scrollWrap {
        padding: $md;
    }
}

.modalHead,
.modalFoot {
    position: relative;
    width: 100%;
    flex: 0 0 auto;
    background-color: var(--theme);
    border-radius: $sm;
    overflow: hidden;

    /* for IOS safari */
    @supports (-webkit-overflow-scrolling: touch) {
        mask-image: radial-gradient(circle, black, black);
        -webkit-mask-image: -webkit-radial-gradient(circle, black, black);
    }
}

.modalHead {
    padding: 1rem $md;
    top: 0;
    text-align: center;
    text-align-last: center;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.modalFoot {
    width: 100%;
    bottom: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    min-height: 3rem;
}

@include below(sm) {
    m-modal {
        --modal-p: #{$sm};
    }
}