@import '../../variables';
@import '../../mixins';

:host {
    --p: #{$md};
    --r: #{$sm};
    --head-height: 3rem;
    --foot-height: 3rem;
    --max-width: var(--wrap-xs);
    position: fixed;
    z-index: $z-overlay;
    display: flex;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    contain: strict;
    padding: var(--p);
    pointer-events: none;

    // &.long {
    //     padding-top: 0;
    //     padding-bottom: 0;

    //     [part=root]{
    //         padding: var(--p) 0;
    //     }

    //     ::slotted([part=head]).sticky {
    //         top: calc(var(--p) * -1);
    //     }

    //     ::slotted([part=foot]).sticky {
    //         bottom: calc(var(--p) * -1);
    //     }
    // }
}

:host([changing]) {
    display: flex !important;
}

:host([origin=trigger]) {
    --head-height: 0px;
    --foot-height: 0px;
}

:host([origin=left]) {
    --p: 0;
    --r: 0;

    [part=root] {
        margin-left: 0;
        height: 100%;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

:host([origin=right]) {
    --p: 0;
    --r: 0;

    [part=root] {
        margin-right: 0;
        height: 100%;
    }
}

:host([origin=top]) {
    --p: 0;

    [part=root] {
        margin-top: 0;
        width: 100%;
        max-width: 100%;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}

:host([origin=bottom]) {
    --p: 0;

    [part=root] {
        margin-bottom: 0;
        width: 100%;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}

:host([changing]) {
    [part=root] {
        will-change: height, opacity, box-shadow;
        overflow: hidden !important;
    }

    ::slotted([part=head]) {
        z-index: $z-overlay;
    }
}

:host([opened]:not([changing])) {
    [part=root] {
        transition: .3s box-shadow linear;
        box-shadow:
            0 0.8px 1.1px rgba(0, 0, 0, 0.034),
            0 2px 2.6px rgba(0, 0, 0, 0.048),
            0 3.8px 4.9px rgba(0, 0, 0, 0.06),
            0 6.7px 8.7px rgba(0, 0, 0, 0.072),
            0 12.5px 16.3px rgba(0, 0, 0, 0.086),
            0 30px 39px rgba(0, 0, 0, 0.12);
    }
}

// .modalToggle {
//     position: absolute;
//     z-index: $z-overlay;
//     top: .5rem;
//     right: .5rem;
//     font-size: var(--f-xs);
//     transition: .1s top linear;
//     will-change: top;
//     @include blurBg(var(--theme), 0);
// }

[part=root] {
    position: relative;
    contain: style;
    display: flex;
    flex: 0 0 auto;
    margin: auto;
    flex-direction: column;
    width: 100%;
    max-width: var(--max-width);
    max-height: 100%;
    overflow: hidden;
    background-color: var(--theme);
    pointer-events: auto;
    mask-image: radial-gradient(circle, black, black);
    -webkit-mask-image: -webkit-radial-gradient(circle, black, black);
    border-radius: var(--r);
}

::slotted([part=body]) {
    width: 100%;
    min-height: 0;
    flex: 1 1 auto;
}

::slotted(m-content[part=body]) {
    --offset-top: var(--head-height);
    --offset-bottom: var(--foot-height);
}

::slotted([part=head]),
::slotted([part=foot]) {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: $z-overlay;
    left: 0;
    width: 100%;
    flex: 0 0 auto;
    border-radius: 0;
    min-height: 3rem;
    @include blurBg(var(--themeRgb), .9);
}

::slotted([part=head]) {
    padding: 0 $sm;
    top: 0;
    text-align: center;
    text-align-last: center;
}

::slotted([part=foot]) {
    width: 100%;
    bottom: 0;
}

m-overlay {
    pointer-events: auto;
}

@include below(sm) {
    :host {
        --p: #{$sm};
    }
}