@import '../../variables';
@import '../../mixins';

:host {
    --p: #{$md};
    position: fixed;
    z-index: $z-overlay;
    display: flex;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    contain: strict;
    padding: var(--p);

    // &.long {
    //     padding-top: 0;
    //     padding-bottom: 0;

    //     [part=root] {
    //         padding: var(--p) 0;
    //     }

    //     [part=head].sticky {
    //         top: calc(var(--p) * -1);
    //     }

    //     [part=foot].sticky {
    //         bottom: calc(var(--p) * -1);
    //     }
    // }

}

:host([origin=left]) {
    --p: 0;

    [part=root] {
        margin-left: 0;
        height: 100%;
    }
}

:host([origin=right]) {
    --p: 0;

    [part=root] {
        margin-right: 0;
        height: 100%;
    }
}

:host([origin=top]) {
    --p: 0;

    [part=root] {
        margin-top: 0;
        width: 100%;
        max-width: 100%;
    }
}

:host([origin=bottom]) {
    --p: 0;

    [part=root] {
        margin-bottom: 0;
        width: 100%;
        max-width: 100%;
    }
}

:host([changing]) {
    [part=root] {
        will-change: height, opacity, box-shadow;
        overflow: hidden !important;
    }

    [part=head] {
        z-index: $z-overlay;
    }
}

:host([opened]:not([changing])) {
    [part=root] {
        transition: .3s box-shadow linear;
        box-shadow: $s-xl;
    }
}

// .modalToggle {
//     position: absolute;
//     z-index: $z-overlay;
//     top: .5rem;
//     right: .5rem;
//     font-size: var(--f-xs);
//     transition: .1s top linear;
//     will-change: top;
//     @include blurBg(var(--theme), 0);
// }

[part=root] {
    position: relative;
    contain: style;
    display: flex;
    flex: 0 0 auto;
    margin: auto;
    flex-direction: column;
    width: 100%;
    max-width: $wrap-xxs;
    max-height: 100%;
    overflow: hidden;
}

[part=body] {
    width: 100%;
    flex: 1 1 auto;
    background-color: var(--theme);

    &:not(m-scroll) {
        padding: $md;
    }
}

[part=head],
[part=foot] {
    position: relative;
    width: 100%;
    flex: 0 0 auto;
    background-color: var(--theme);
    border-radius: $sm;
    overflow: hidden;

    /* for IOS safari */
    @supports (-webkit-overflow-scrolling: touch) {
        mask-image: radial-gradient(circle, black, black);
        -webkit-mask-image: -webkit-radial-gradient(circle, black, black);
    }
}

[part=head] {
    padding: 1rem $md;
    top: 0;
    text-align: center;
    text-align-last: center;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

[part=foot] {
    width: 100%;
    bottom: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    min-height: 3rem;
}

@include below(sm) {
    :host {
        --p: #{$sm};
    }
}