<p>modal works!</p>

<m-modal id="modal"
         overlay="close"
         placement="origin"
         hidden
         close-button="cross"
         class="full"
         style="--max-width: var(--wrap-xs)">
    <figure class="embedded by:1x1">
        <img src="https://photo.eyescream.com.tw/photo/photo/ow/11030250-B51-06.jpg" alt="">
    </figure>
    <article class="prose">
        <h1>標題</h1>
        <h2>次標題</h2>
        <p>內文</p>
        <p>內文</p>
        <p>內文</p>
        <p>內文</p>
        <p>內文</p>
        <p>內文</p>
        <p>內文</p>
        <p>內文</p>
        <p>內文</p>
        <p>內文</p>
        <p>內文</p>
        <p>內文</p>
        <p>內文</p>
        <p>內文</p>
        <p>內文</p>
        <p>內文</p>
    </article>
    <m-button toggle-modal="#modal">close</m-button>
</m-modal>

<m-modal id="modal-drawer"
         overlay="close"
         placement="right"
         pushing="#app-side"
         close-button="chevron"
         style="--modal-offset-top: 3rem; --modal-offset-bottom: 3rem; --modal-max-width: 400px">
    <m-header>
        <h2>title</h2>
        <m-icon name="chevron" slot="end"></m-icon>
    </m-header>
    <m-content scroll-y>
        <figure class="embedded by:1x1">
            <img src="https://photo.eyescream.com.tw/photo/photo/ow/11030250-B51-06.jpg" alt="">
        </figure>
        <article class="prose">
            <h1>標題</h1>
            <h2>次標題</h2>
            <p>內文</p>
            <p>內文</p>
            <p>內文</p>
            <p>內文</p>
            <p>內文</p>
            <p>內文</p>
            <p>內文</p>
            <p>內文</p>
            <p>內文</p>
            <p>內文</p>
            <p>內文</p>
            <p>內文</p>
            <p>內文</p>
            <p>內文</p>
            <p>內文</p>
            <p>內文</p>
        </article>
    </m-content>
</m-modal>

<div class="demo">
    <div class="demo-body">
        <figure toggle-modal="#modal" class="embedded by:1x1 r:xs" style="width: 200px">
            <img src="https://photo.eyescream.com.tw/photo/photo/ow/11030250-B51-06.jpg" alt="">
        </figure>
        <m-button toggle-modal="#modal">切換</m-button>
        <m-button toggle-modal="#modal-drawer">
            <m-icon name="menu" class="toggled"></m-icon>
        </m-button>
    </div>
</div>

<h2 id="structure">{{ 'structure' | translate }}</h2>
<template [codeLang]="'html'">
    <m-modal>
        <div part="head"></div>
        <m-content part="body" scroll-y></m-content>
        <div part="foot"></div>
    </m-modal>
</template>