<div class="demo">
    <div class="demo-body">
        <div class="y:sm c:center">
            <m-button class="x blue raised" loading>
                <ion-icon part="button-head" name="trash-outline"></ion-icon>
                <span part="button-body">SUBMIT</span>
            </m-button>
            <!-- <m-button class="x blue raised">
                <span part="button-body">READ</span>
                <ion-icon part="button-foot" name="chevron-forward"></ion-icon>
            </m-button>
            <m-button class="x red raised">
                <ion-icon slot="button-head" name="trash-outline"></ion-icon>
                DELETE
            </m-button>
            <m-button class="x">default</m-button>
            <m-button class="x round theme raised">
                <i class="i-heart f:md"></i>
            </m-button> -->
        </div>
    </div>
</div>