<div class="demo">
    <div class="demo-body">
        <div class="y:sm c:center">
            <m-button class="x blue raised">
                <span part="button-body">SUBMIT</span>
                <ion-icon part="button-foot" name="chevron-forward"></ion-icon>
            </m-button>
            <m-button class="x red raised">
                <ion-icon part="button-head" name="trash-outline"></ion-icon>
                DELETE
            </m-button>
            <m-button class="x">default</m-button>
            <m-button class="x square theme outlined">
                <ion-icon name="language-outline"></ion-icon>
            </m-button>
            <m-button class="x round theme raised">
                <ion-icon name="bookmark-outline"></ion-icon>
            </m-button>
        </div>
    </div>
</div>