@import '../../../variables';

button {
    background-color: var(--bg-theme);
    position: relative;
    contain: style;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 var(--px);
    -webkit-appearance: none;
    background-origin: border-box;
    transition: box-shadow ease-out .15s;
    will-change: box-shadow;
    cursor: pointer;
    // inherit
    font: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    text-transform: inherit;
    text-overflow: inherit;
    text-align: inherit;
    white-space: inherit;
    text-decoration: inherit;
    color: inherit;
    border-radius: inherit;
    border: inherit;
    width: 100%;
    height: 100%;
    outline: none;

    @media (any-hover: hover) {
        &:hover:not([loading]):not([disabled]) {
            background-color: var(--bg-theme-hover, var(--themeFade));
            box-shadow: inset 0 0 0 1px var(--b-theme-hover);
        }
    }

    &[disabled] {
        cursor: no-drop;
        color: var(--f-fadest) !important;
        background-color: var(--bg-disabled) !important;
        border-color: transparent !important;
        box-shadow: none !important;
    }

    &[loading] {
        cursor: progress !important;
        color: transparent !important;
        box-shadow: none !important;
    }
}

:host {
    --px: #{$md};
    --size: 3rem;
    --f-size: #{$f-sm};
    min-width: var(--size);
    min-height: var(--size);
    color: var(--f-theme);
    font-size: var(--f-size);
    font-weight: 500;
    letter-spacing: 1.25px;
    line-height: 1.15;
    text-transform: uppercase;
    white-space: nowrap;
    border-radius: $xs;

    &.raised:not([loading=true]):not([disabled]) {
        box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, .12);
    }

    // css hack to fix some bug
    // &:after {
    //     content: '';
    //     min-height: inherit;
    //     font-size: 0;
    // }

    &::-moz-focus-inner {
        border-style: none;
        padding: 0;
    }

    &.xs {
        --px: .8rem;
        --size: 2rem;
        --f-size: .8125rem;
    }

    &.sm {
        --px: 1.1rem;
        --size: 2.5rem;
        --f-size: .9125rem;
    }

    &.lg {
        --px: 1.4rem;
        --size: 3.5rem;
        --f-size: 1.125rem;
    }

    &.round,
    &.square {
        --px: 0;
        width: var(--size);
        height: var(--size);
    }

    &.square {
        border-radius: 0;
    }

    m-load {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }

    &.outlined {
        --bg-theme: transparent;
    }
}

:host(.outlined) {
    @media (any-hover: hover) {
        button:hover:not([loading]):not([disabled]).outlined {
            border-color: var(--b-theme-hover, var(--b-theme));
        }
    }
}

::slotted([part="button-head"]) {
    margin-left: -.25rem;
    margin-right: .5rem;

    &.abs {
        left: 0;
        margin-left: calc(var(--px) - .3rem);
    }
}

::slotted([part="button-body"]) {
    flex: 1 1 auto;
}

::slotted([part="button-foot"]) {
    margin-right: -.25rem;
    margin-left: .5rem;

    &.abs {
        right: 0;
        margin-right: calc(var(--px) - .3rem);
    }
}

.close-button {
    --bg-theme: var(--b-fade);
    --bg-theme-hover: var(--f-fadest);
    --b-theme-hover: transparent;
    color: var(--theme);

    m-icon {
        stroke-width: 4px;
    }
}