:root {
    --above-sm: 600px;
    --above-md: 1024px;
    --above-lg: 1440px;
    --above-xl: 1920px;
    --below-sm: calc(var(--above-sm) - .02);
    --below-md: calc(var(--above-md) - .02);
    --below-lg: calc(var(--above-lg) - .02);
    --below-xl: calc(var(--above-xl) - .02);
}