<div class="p">
    <m-table class="sm t:center" axis=x>
        <table>
            <tbody>
                <tr>
                    <th>size</th>
                    <th>xxs</th>
                    <th>xs</th>
                    <th>sm</th>
                    <th>md</th>
                    <th>lg</th>
                    <th>xl</th>
                    <th>xxl</th>
                    <th>no</th>
                </tr>
                <tr>
                    <th>rem</th>
                    <td>0.125</td>
                    <td>0.3125</td>
                    <td>0.625</td>
                    <td>1.250</td>
                    <td>1.875</td>
                    <td>3.125 </td>
                    <td>6.250</td>
                    <td>0</td>
                </tr>
                <tr class="f:fade">
                    <th>=</th>
                    <td>2px</td>
                    <td>5px</td>
                    <td>10px</td>
                    <td>20px</td>
                    <td>30px</td>
                    <td>50px</td>
                    <td>100px</td>
                    <td>0</td>
                </tr>
                <tr>
                    <th><i class="ion-arrow-move"></i></th>
                    <td><code>.p-xxs</code></td>
                    <td><code>.p-xs</code></td>
                    <td><code>.p-sm</code></td>
                    <td><code class="f:green">.p</code></td>
                    <td><code>.p-lg</code></td>
                    <td><code>.p-xl</code></td>
                    <td><code>.p-xxl</code></td>
                    <td><code>.p-no</code></td>
                </tr>
                <tr>
                    <th><i class="ion-arrow-up-c"></i></th>
                    <td><code>.pt:xxs</code></td>
                    <td><code>.pt:xs</code></td>
                    <td><code>.pt:sm</code></td>
                    <td><code class="f:green">.pt</code></td>
                    <td><code>.pt:lg</code></td>
                    <td><code>.pt:xl</code></td>
                    <td><code>.pt:xxl</code></td>
                    <td><code>.pt:no</code></td>
                </tr>
                <tr>
                    <th><i class="ion-arrow-down-c"></i></th>
                    <td><code>.pb:xxs</code></td>
                    <td><code>.pb:xs</code></td>
                    <td><code>.pb:sm</code></td>
                    <td><code class="f:green">.pb</code></td>
                    <td><code>.pb:lg</code></td>
                    <td><code>.pb:xl</code></td>
                    <td><code>.pb:xxl</code></td>
                    <td><code>.pb:no</code></td>
                </tr>
                <tr>
                    <th>
                        <i class="ion-arrow-up-c"></i>
                        <i class="ion-arrow-down-c"></i>
                    </th>
                    <td><code>.py:xxs</code></td>
                    <td><code>.py:xs</code></td>
                    <td><code>.py:sm</code></td>
                    <td><code class="f:green">.py</code></td>
                    <td><code>.py:lg</code></td>
                    <td><code>.py:xl</code></td>
                    <td><code>.py:xxl</code></td>
                    <td><code>.py:no</code></td>
                </tr>
                <tr>
                    <th><i class="ion-arrow-left-c"></i></th>
                    <td><code>.pl:xxs</code></td>
                    <td><code>.pl:xs</code></td>
                    <td><code>.pl:sm</code></td>
                    <td><code class="f:green">.pl</code></td>
                    <td><code>.pl:lg</code></td>
                    <td><code>.pl:xl</code></td>
                    <td><code>.pl:xxl</code></td>
                    <td><code>.pl:no</code></td>
                </tr>
                <tr>
                    <th><i class="ion-arrow-right-c"></i></th>
                    <td><code>.pr:xxs</code></td>
                    <td><code>.pr:xs</code></td>
                    <td><code>.pr:sm</code></td>
                    <td><code class="f:green">.pr</code></td>
                    <td><code>.pr:lg</code></td>
                    <td><code>.pr:xl</code></td>
                    <td><code>.pr:xxl</code></td>
                    <td><code>.pr:no</code></td>
                </tr>
                <tr>
                    <th>
                        <i class="ion-arrow-left-c"></i>
                        <i class="ion-arrow-right-c"></i>
                    </th>
                    <td><code>.px:xxs</code></td>
                    <td><code>.px:xs</code></td>
                    <td><code>.px:sm</code></td>
                    <td><code class="f:green">.px</code></td>
                    <td><code>.px:lg</code></td>
                    <td><code>.px:xl</code></td>
                    <td><code>.px:xxl</code></td>
                    <td><code>.px:no</code></td>
                </tr>
            </tbody>
        </table>
    </m-table>
</div>