@import '../common/field.shadow';
@import '../common/prompt.shadow';

:host(.outlined) {
    ::slotted([part=body]) {
        padding-left: 0;
        padding-right: 0;
        text-indent: var(--px);
    }
}

:host(:focus-within:not([readonly]):not([disabled])) {
    ::slotted([part=body]) {
        -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 1) var(--px), rgba(0, 0, 0, 1) calc(100% - var(--px)), rgba(0, 0, 0, 0) 100%)
    }
}