@import '../../variables';
@import '../../shared/clickable';
@import '../../color/color.scss';

:host {
    --px: var(--button-px, #{$md});
    --py: var(--button-py, 0rem);
    --size: var(--button-size, 3rem);
    --f-size: var(--button-f-size, #{var(--f-sm)});
    --f-color: var(--button-f-color, var(--f-theme));
    --b-width: var(--button-b-width, 0px);
    --b-color: var(--button-b-color, var(--b-fader));
    --b-color-active: var(--button-b-color-active, var(--b-fade));
    --bg-color: var(--button-bg-color, transparent);
    --bg-color-hover: var(--button-bg-color-hover, var(--bg-color));
    display: inline-flex;
    font-size: var(--f-size);
    color: var(--f-color);
    font-weight: 500;
    letter-spacing: 1.25px;
    line-height: 1.2;
    text-transform: uppercase;
    white-space: nowrap;
    border-radius: $xs;
    align-items: center;
    justify-content: center;

    &::-moz-focus-inner {
        border-style: none;
        padding: 0;
    }

    m-load {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }

}

:host(.raised:not([disabled])) {
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, .12);
}

:host(.xs) {
    --px: .8rem;
    --size: 2rem;
    --f-size: .8125rem;
}

:host(.sm) {
    --px: 1.1rem;
    --size: 2.5rem;
    --f-size: .9125rem;
}

:host(.lg) {
    --px: 1.4rem;
    --size: 3.5rem;
    --f-size: 1.125rem;
}

:host(.round),
:host(.square) {
    --px: 0;
    width: var(--size);
    height: var(--size);
}

:host(.outlined) {
    ::slotted([part=foot]) {
        color: var(--f-fader);
    }
}

:host(.inline) {
    --f-size: inherit;
    line-height: inherit;

    [part=main] {
        display: flex;
        padding: 0;
        min-width: unset;
        min-height: unset;
        height: auto;
        width: auto;
    }
}

[part=main] {
    padding: var(--py) var(--px);
    min-width: var(--size);
    min-height: var(--size);
}

::slotted([part=head]),
::slotted([part=foot]) {
    align-items: center;
    justify-content: center;
}

::slotted([part=head]) {
    margin-left: -.25rem;
    margin-right: .5rem;
}

::slotted([part=head].abs) {
    position: absolute;
    left: 0;
    margin-left: calc(var(--px) - .3rem);
}

::slotted([part=foot]) {
    margin-right: -.25rem;
    margin-left: .5rem;
}

::slotted([part=foot].abs) {
    position: absolute;
    right: 0;
    margin-right: calc(var(--px) - .3rem);
}

:host([part=close]) {
    --bg-color: var(--button-bg-color, var(--b-fade));
    --bg-color-hover: var(--button-bg-color-hover, var(--f-fadest));
    --b-color-active: var(--button-b-color-active, transparent);
    --f-color: var(--button-f-color, var(--theme-fade));

    ::slotted(m-icon) {
        --icon-stroke-width: 4px;
    }
}