<div class="demo">
    <div class="demo-body">
        <div class="y:sm">
            <div class="x">
                <a is="m-button" class="round">
                    <i class="i-shopping-cart f:md rel">
                        <m-badge class="sm edge top right blue">5</m-badge>
                    </i>
                </a>
            </div>
            <div class="x">
                <a is="m-button" class="round">
                    <i class="i-clipboard f:md rel">
                        <m-badge class="sm edge bottom right green">5</m-badge>
                    </i>
                </a>
            </div>
            <div class="x">
                <a is="m-button" class="round">
                    <i class="i-bell f:md rel">
                        <m-badge class="sm edge top right red">5</m-badge>
                    </i>
                </a>
            </div>
        </div>
    </div>
</div>