@import '../modal/index';

:host {
    --max-width: var(--wrap-xxs);
}

[part=head] {
    display: flex;
    margin: 2.5rem auto 0 auto;

    +h2 {
        margin-top: 1rem;
    }
}

[part=icon] {
    font-size: 4rem;
    border-radius: 50%;
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
    will-change: stroke-dashoffset;
    opacity: 0;
    animation: draw .3s ease forwards;

    &[name=check] {
        color: var(--green);
    }

    &[name=cross] {
        color: var(--red);
        transform: rotate(90deg);
    }
}

@keyframes draw {
    to {
        opacity: 1;
        stroke-dashoffset: 0%;
    }
}

h2 {
    text-align: center;
    font-weight: 500;
    margin: 2.5rem 2rem;
    font-size: 1.875rem;

    +p {
        margin-top: -1.5rem;
    }
}

p {
    text-align: center;
    margin: 2rem;
    color: var(--f-theme-fader);
    font-size: var(--f-sm);
}

[part=foot] {
    display: flex;
    border-top: 1px solid var(--b-fadest);

    m-button {
        flex: 1 1 0;
        border-radius: 0;

        &:first-child {
            border-right: 1px solid var(--b-fadest);
        }
    }
}

[part=cancel] {
    --button-f-color: var(--f-fader);
}