@import '../modal/index';

:host {
    --max-width: var(--wrap-xxs);
}

slot[name=icon]::slotted(*),
[part=icon] {
    margin: 2.875rem auto 0 auto;
    font-size: 4rem;
    border-radius: 50%;
}

[part=icon] {
    &[name=check] {
        color: var(--green);
    }

    &[name=cross] {
        color: var(--red);
        transform: rotate(90deg);
    }
}

[part=title] {
    text-align: center;
    font-weight: 500;
    margin: 2.5rem 2rem;
    font-size: 1.875rem;

    ~[part=text],
    ~slot[name=body]::slotted([slot=body]) {
        margin-top: -1.5rem !important;
        padding-top: 0 !important;
    }
}

slot[name=controls]::slotted([slot=controls]) {
    padding: 2rem;
}

slot[name=controls]:not(:first-child)::slotted([slot=controls]) {
    padding-top: 0;
}

[part=text] {
    text-align: center;
    margin: 2rem;
    color: var(--f-theme-fader);
    font-size: var(--f-sm);
}

[part=icon]+[part=title],
slot[name=icon]+[part=title] {
    margin-top: 1.5rem;
}

slot[name=body]::slotted([slot=body]) {
    padding: 2rem !important;
}

[part=foot] {
    display: flex;

    m-button {
        flex: 1 1 0;
        border-radius: 0;
        border-top: 1px solid var(--b-fadest);

        &:not(:first-child) {
            border-left: 1px solid var(--b-fadest);
        }
    }
}

[part=cancel] {
    --button-f-color: var(--f-fader);
}