:host {
    display: block;
}

:host([selected]) {
    background-color: var(--blue-fader);
    transition: background-color .2s ease;
    will-change: background-color;
}

::slotted([contenteditable]) {
    outline: none;
}

::slotted([contenteditable]:empty[aria-placeholder]:focus) {
    &:before {
        content: attr(aria-placeholder);
        color: var(--f-fadest);
    }
}