[part=master] {
    position: relative;
    display: inherit;
    -webkit-appearance: none;
    contain: style;
    font: inherit;
    flex-wrap: inherit;
    flex-direction: inherit;
    align-items: inherit;
    justify-content: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    text-transform: inherit;
    text-overflow: inherit;
    text-align: inherit;
    white-space: inherit;
    text-decoration: inherit;
    color: inherit;
    border-radius: inherit;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    overflow: hidden;
    background-origin: border-box;
    box-sizing: border-box;
    transition: box-shadow ease-out .15s;
    will-change: transform;
    backdrop-filter: blur(var(--blur));
    border-width: 0;
    border-color: var(--b-color);
    border-style: var(--b-style);
    background-color: transparent;

    &[disabled] {

        // cursor: no-drop !important;
        color: var(--f-fadest) !important;

        ::slotted([part=foot]) {
            color: inherit;
        }
    }
}

::slotted([part=body]) {
    display: flex;
    flex: 1 1 auto;
}

::slotted([part=foot]),
::slotted([part=head]) {
    display: flex;
    flex: 0 0 auto;
}

@media (any-hover: hover) {

    :host(.touch:hover:not([disabled])) {
        color: var(--f-color-hover);
    }
    
}

button[part=master],
a[part=master] {
    -webkit-appearance: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}

:host(.filled\@active[active]) {
    [part=master] {
        background-color: var(--bg-color-hover);
    }
}

:host([disabled]) {
    pointer-events: none !important;
}

:host([part=foot]) {
    [part=master] {
        border: 0;
        box-shadow: none;
    }
}

:host([busy]) {

    pointer-events: none !important;
    box-shadow: none !important;

    [part=master] *:not([part=spinner]),
    ::slotted(*) {
        visibility: hidden !important;
    }

    slot,
    ::slotted(*) {
        color: transparent !important;
    }
}

[part=spinner] {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: fit-content;
    width: fit-content;
}