:host(.filled) {
    [part=master] {
        background-color: var(--bg-color);
    }
}

:host(.filled[disabled]) {
    [part=master] {
        background-color: var(--bg-color-disabled) !important;
    }
}

:host(.outlined) {
    [part=master] {
        border-width: var(--b-width, 1px);
    }
}

@media (any-hover: hover) {

    :host(.touch:hover:not([disabled]):not(.filled):not(.outlined)) {
        [part=master] {
            background-color: var(--bg-overlay);
        }
    }

    :host(.touch:hover.filled:not([disabled])) {
        [part=master] {
            background-color: var(--bg-color-hover);
        }
    }

    :host(.touch:hover.outlined:not([disabled])) {

        --b-color: var(--b-color-active);
        color: var(--f-color-hover);

        [part=master] {
            box-shadow: inset 0 0 0 1px var(--b-color-active);
        }
    }
}