@import '../../variables';
@import '../../shared/clickable';
@import '../../shared/clickable/style';
@import '../../color/color.scss';

:host {
    --f-size: var(--chip-f-size, .8125rem);
    --f-color: var(--chip-f-color, var(--f-theme));
    --b-color-active: var(--chip-b-color-active);
    --b-width: var(--chip-b-width, 1px);
    --b-style: var(--chip-b-style, solid);
    --b-color: var(--chip-b-color, var(--b-fader));
    --bg-color: var(--chip-bg-color, transparent);
    --bg-color-hover: var(--chip-bg-color-hover, var(--bg-overlay));
    --bg-color-head: var(--chip-bg-color-head, transparent);
    --bg-color-disabled: var(--chip-bg-color-disabled, transparent);
    --radius: var(--chip-radius, #{$xs});
    --size: var(--chip-size, 2rem);
    --p: var(--chip-p, .25rem);
    --px: var(--chip-px, .625rem);
    --mx: calc(var(--p) - var(--px));
    display: inline-flex;
    border-radius: var(--radius);
    color: var(--f-color);
    max-width: 100%;
}

[part=master] {
    padding: var(--p) var(--px);
    white-space: nowrap;
    font-weight: 400;
    font-size: var(--f-size);
    vertical-align: middle;
    overflow: hidden;
    line-height: 1.2;
    height: var(--size);
    user-select: none;
    contain: style;
    align-items: center;
}

slot {
    border-radius: inherit;
}

:host(.outlined) {
    ::slotted([part=head]) {
        margin-left: calc(var(--mx) - 1px);
    }
}

:host(.rounded) {
    border-radius: inherit;

    ::slotted([part=head]),
    ::slotted([part=foot]),
    ::slotted([part=close]) {
        border-radius: 50%;
    }
}

:host(.sm) {
    --chip-size: 1.5rem;
    --chip-px: .4375rem;
    --chip-f-size: var(--f-xxs);

    ::slotted([part=head]) {
        font-size: .625rem;
        padding: 0 .25rem;
    }

    ::slotted([part=close]) {
        --size: .875rem;
        font-size: .625rem;
        margin-right: -.125rem;
    }
}

::slotted([part=close]) {
    --button-size: 1.125rem;
    --button-px: 0px;
    --button-f-size: var(--f-xxs);
    border-radius: calc(var(--radius) / 2);
    margin-right: -.1875rem;
    margin-left: .375rem;
}

[part=body],
::slotted([part=head]),
::slotted([part=foot]) {
    align-items: center;
    justify-content: center;
    contain: layout style;

}

::slotted([part=head]),
::slotted([part=foot]) {
    border-radius: calc(var(--radius) / 2);
    height: calc(var(--size) - var(--p) * 2);
}

::slotted([part=head]) {
    letter-spacing: 0;
    font-weight: 600;
    text-transform: uppercase;
    background-color: var(--bg-color-head);
    padding: 0 $xs;
    min-width: calc(var(--size) - var(--p) * 2);
    margin-right: .375rem;
    margin-left: var(--mx)
}

::slotted([role=img]),
::slotted(img[part=head]) {
    padding: 0;
    width: calc(var(--size) - var(--p) * 2);
    height: calc(var(--size) - var(--p) * 2);
    object-fit: cover;
}

// ::slotted(img[part="head"]),
// ::slotted(i[part="head"]) {
//     margin: 0;
//     padding: 0;
//     width: calc(var(--size) - var(--p) * 2)!important;
// }

::slotted([part=foot]) {
    color: var(--f-fade);
    margin-left: .375rem;
}

:host([disabled]) {
    ::slotted([part=head]) {
        color: inherit !important;
        background-color: var(--b-fadest) !important;
    }
}