<div class="p">
    <m-table class="sm t:center" axis=x>
        <table>
            <tbody>
                <tr>
                    <th>size</th>
                    <th>xxs</th>
                    <th>xs</th>
                    <th>sm</th>
                    <th>md</th>
                    <th>lg</th>
                    <th>xl</th>
                    <th>xxl</th>
                    <th>no</th>
                    <th>round</th>
                    <th>side</th>
                </tr>
                <tr>
                    <th>rem</th>
                    <td>0.125</td>
                    <td>0.3125</td>
                    <td>0.625</td>
                    <td>1.250</td>
                    <td>1.875</td>
                    <td>3.125 </td>
                    <td>6.250</td>
                    <td>0</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr class="f:fade">
                    <th>=</th>
                    <td>2px</td>
                    <td>5px</td>
                    <td>10px</td>
                    <td>20px</td>
                    <td>30px</td>
                    <td>50px</td>
                    <td>100px</td>
                    <td>0</td>
                    <td>50%</td>
                    <td>∞</td>
                </tr>
                <tr>
                    <th></th>
                    <td><code>.r:xxs</code></td>
                    <td><code>.r:xs</code></td>
                    <td><code>.r:sm</code></td>
                    <td><code class="f:green">.r</code></td>
                    <td><code>.r:lg</code></td>
                    <td><code>.r:xl</code></td>
                    <td><code>.r:xxl</code></td>
                    <td><code>.r:no</code></td>
                    <td><code>.round</code></td>
                    <td><code>.rounded</code></td>
                </tr>
            </tbody>
        </table>
    </m-table>
    <div class="y mt:sm">
        <m-4 md=4>
            <div class="r:xxl by:1x1 a:middle t:center b-- bg:theme"><code>.r:xxl</code></div>
        </m-4>
        <m-4 md=2>
            <div class="r:xxs by:1x1 a:middle t:center b-- bg:theme"><code>.r:xxs</code></div>
        </m-4>
        <m-4 md=2>
            <div class="r:xs by:1x1 a:middle t:center b-- bg:theme"><code>.r:xs</code></div>
        </m-4>
        <m-4 md=2>
            <div class="r:sm by:1x1 a:middle t:center b-- bg:theme"><code>.r:sm</code></div>
        </m-4>
        <m-4 md=2>
            <div class="r by:1x1 a:middle t:center b-- bg:theme"><code>.r</code></div>
        </m-4>
        <m-4 md=2>
            <div class="r:lg by:1x1 a:middle t:center b-- bg:theme"><code>.r:lg</code></div>
        </m-4>
        <m-4 md=2>
            <div class="r:xl by:1x1 a:middle t:center b-- bg:theme"><code>.r:xl</code></div>
        </m-4>
        <m-4 md=2>
            <div class="r:no by:1x1 a:middle t:center b-- bg:theme"><code>.r:no</code></div>
        </m-4>
        <m-4 md=2>
            <div class="round by:1x1 a:middle t:center b-- bg:theme"><code>.round</code></div>
        </m-4>
        <m-x md=4>
            <div class="rounded by:5x2 a:middle t:center b-- bg:theme"><code>.rounded</code></div>
        </m-x>
    </div>
</div>