@import '../../variables';
@import '../../shadow';

:host {
    --f-size: 1rem;
    --size: 3rem;
    --py: .825rem;
    --px: 1rem;
    --img-size: 2rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    contain: style;
    font-size: var(--f-size);
}

:host(.lined:not(.indent)) {
    [part=root] {
        border-bottom: 1px solid var(--b-fadest);
    }
}

:host(.indent.lined) {
    [part=lower] {
        border-bottom: 1px solid var(--b-fadest);
    }
}

@media (any-hover: hover) {
    :host(.touch:hover) {
        background-color: var(--hover-theme);
    }
}

:host(.sm) {
    --f-size: .9125rem;
    --size: 2.5rem;
    --py: .6875rem;
    --img-size: 1.625rem;
}

:host(.xs) {
    --f-size: .875rem;
    --size: 2rem;
    --py: .4375rem;
    --img-size: 1.25rem;
}

:host([disabled]) {
    background-color: transparent !important;
}

// [is=m-check]~i {
//     --checkedBg: transparent;
//     --checkedBorder: var(--b-fadest);
//     --checked: var(--blue);
// }

// [is=m-check][type=radio]~i {
//     --checkedBorder: transparent;
// }

[part=lower] {
    display: flex;
    flex-wrap: nowrap;
    flex: 1 1 auto;
}

::slotted([role=img]) {
    width: var(--img-size);
    height: var(--img-size);
    margin-right: .625rem;
}

slot[name=head],
[part=body] {
    contain: style;
    min-height: var(--size);
}

slot[name=head] {
    text-align: center;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
}

[part=body] {
    padding: var(--py) 0;
    line-height: 1.4;
    text-align: left;
    align-items: center;
}

slot[name=foot] {
    // padding-right: var(--px);
    color: var(--f-fade);
    height: var(--size);
    align-items: center;
}

slot[name=foot]::slotted([role=img]) {
    margin-right: 0;
    margin-left: .5rem;
}

slot[name=head] {
    ~[part=lower] [part=body] {
        padding-left: 0 !important;
    }
}