<div class="demo">
    <div class="demo-body">
        <div class="y:lg p:sm">
            <div class="x:6@sm">
                <m-item class="indent lined">
                    <img slot="head" role="img" src="assets/images/ios-icons/airplane.svg">
                    Airplane Mode
                </m-item>
                <m-item class="indent lined">
                    <img slot="head" role="img" src="assets/images/ios-icons/wifi.svg">
                    Wi-Fi
                    <span slot="foot">Aoyue Design</span>
                    <ion-icon slot="foot" name="chevron-forward"></ion-icon>
                </m-item>
                <m-item class="indent lined">
                    <img slot="head" role="img" src="assets/images/ios-icons/bluetooth.svg">
                    Bluetooth
                    <span slot="foot">On</span>
                    <ion-icon slot="foot" name="chevron-forward"></ion-icon>
                </m-item>
                <m-item class="indent lined">
                    <img slot="head" role="img" src="assets/images/ios-icons/cellular.svg">
                    Cellular
                    <ion-icon slot="foot" name="chevron-forward"></ion-icon>
                </m-item>
                <m-item class="indent lined">
                    <img slot="head" role="img" src="assets/images/ios-icons/hotspot.svg">
                    Personal Hotspot
                    <span slot="foot">Off</span>
                    <ion-icon slot="foot" name="chevron-forward"></ion-icon>
                </m-item>
                <m-item class="indent lined">
                    <img slot="head" role="img" src="assets/images/ios-icons/vpn.svg">
                    VPN
                </m-item>
            </div>
            <div class="x:6@sm">
                <m-item class="lined">
                    Pasta
                    <span slot="foot">100 g</span>
                </m-item>
                <m-item class="lined">
                    Clams
                    <span slot="foot">300 g</span>
                </m-item>
                <m-item class="lined">
                    Carlic
                    <span slot="foot">3 petals</span>
                </m-item>
                <m-item class="lined">
                    Chili
                    <span slot="foot">1</span>
                </m-item>
                <m-item class="lined">
                    Basil
                    <span slot="foot">medium</span>
                </m-item>
                <m-item class="lined">
                    Water
                    <span slot="foot">120 cc</span>
                </m-item>
            </div>
        </div>
    </div>
</div>

<h2 id="type">{{ 'type' | translate }}</h2>
<doc-prop [name]="'type'" [types]="['button', 'reset', 'submit']" [default]="'button'"
    [description]="'The type of the button.'">
</doc-prop>

<doc-prop-hyperlink></doc-prop-hyperlink>