<div class="demo">
    <div class="demo-body">
        <div class="y c:center">
            <div class="x:6@sm">
                <m-list>
                    <m-item class="indent lined" *ngFor="let item of ','.repeat(5).split(',')">
                        <!-- <img slot="head" role="img" src="assets/images/ios-icons/airplane.svg"> -->
                        <ion-icon slot="head" name="square-outline"></ion-icon>
                        飛航模式
                        <span slot="foot">+ $5.00</span>
                        <!-- <ion-icon slot="foot" name="chevron-forward"></ion-icon> -->
                    </m-item>
                    <m-item class="indent lined">
                        <ion-icon slot="head" name="checkbox"></ion-icon>
                        <!-- <ion-icon slot="head" name="checkbox"></ion-icon> -->
                        飛航模式
                        <span slot="foot">+ $5.00</span>
                        <!-- <ion-icon slot="foot" name="chevron-forward"></ion-icon> -->
                        <img slot="foot" role="img" src="assets/images/ios-icons/airplane.svg">
                    </m-item>
                    <m-item class="indent lined" *ngFor="let item of ','.repeat(5).split(',')">
                        <!-- <img slot="head" role="img" src="assets/images/ios-icons/airplane.svg"> -->
                        <ion-icon slot="head" name="checkbox"></ion-icon>
                        飛航模式
                        <span slot="foot">+ $5.00</span>
                        <!-- <ion-icon slot="foot" name="chevron-forward"></ion-icon> -->
                    </m-item>
                </m-list>
            </div>
            <div class="x:6@sm">
                <m-list>
                    <m-item class="indent lined" *ngFor="let item of ','.repeat(5).split(',')">
                        <!-- <img slot="head" role="img" src="assets/images/ios-icons/airplane.svg"> -->
                        <ion-icon slot="head" name="square-outline"></ion-icon>
                        飛航模式
                        <span slot="foot">+ $5.00</span>
                        <!-- <ion-icon slot="foot" name="chevron-forward"></ion-icon> -->
                    </m-item>
                    <m-item class="indent lined">
                        <ion-icon slot="head" name="checkbox"></ion-icon>
                        <!-- <ion-icon slot="head" name="checkbox"></ion-icon> -->
                        <div>
                            其實如果有專心跟著老王講的技術分析，可以事前跑，高檔爆大量，則大量的低點要守住，如果大量的低點灌破就會出現一個大回檔，任何均線的支撐都沒用
                            <div class="f:fade" style="margin-top: .25rem;">+ $5.00</div>
                        </div>
                        <img slot="foot" role="img" style="width: 48px; height: 48px" src="assets/images/ios-icons/airplane.svg">
                        <!-- <ion-icon slot="foot" name="chevron-forward"></ion-icon> -->
                    </m-item>
                    <m-item class="indent lined" *ngFor="let item of ','.repeat(5).split(',')">
                        <!-- <img slot="head" role="img" src="assets/images/ios-icons/airplane.svg"> -->
                        <ion-icon slot="head" name="checkbox"></ion-icon>
                        飛航模式
                        <span slot="foot">+ $5.00</span>
                        <!-- <ion-icon slot="foot" name="chevron-forward"></ion-icon> -->
                    </m-item>
                </m-list>
            </div>
        </div>
    </div>
</div>

<h2 id="type">{{ 'type' | translate }}</h2>
<doc-prop [name]="'type'" [types]="['button', 'reset', 'submit']" [default]="'button'"
    [description]="'The type of the button.'">
</doc-prop>

<doc-prop-hyperlink></doc-prop-hyperlink>