:root {
    --f-family: Roboto;
    --f-family-base: var(--f-family), PingFang TC, -apple-system, Noto Sans TC, Helvetica Neue, Microsoft JhengHei, sans-serif;
    --x12: 100%;
    --x11: 91.666666%;
    --x10: 83.333333%;
    --x9: 75%;
    --x8: 66.666666%;
    --x7: 58.333333%;
    --x6: 50%;
    --x5: 41.666666%;
    --x4: 33.333333%;
    --x3: 25%;
    --x2dot4: 20%;
    --x2: 16.666666%;
    --x1: 8.3333333%;
    --f-xxxs: 0.625rem; // 10px
    --f-xxs: 0.75rem; // 12px
    --f-xs: 0.875rem; // 14px
    --f-sm: 1rem; // 16px
    --f-md: 1.250rem; // 20px
    --f-lg: 1.563rem; // 25px
    --f-xl: 2rem; // 32px
    --f-xxl: 2.5rem; // 40px
}

html {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

body {
    flex: 1 1 100%;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    will-change: scroll-position;
    margin: 0;
    padding: 0;
    letter-spacing: 0.4px;
    line-height: 1.2;
    color: var(--f-theme);
    background-color: var(--bg-body);
    -webkit-user-drag: none;
    touch-action: manipulation;
    -webkit-touch-action: manipulation;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    -ms-content-zooming: none;
    text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    font-family: var(--f-family-base);

    @media (pointer:none),
    (pointer:coarse) {
        letter-spacing: .2px;
    }
}

[hidden] {
    display: none !important;
}

/**
   * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */

b,
strong {
    font-weight: bolder;
}

/**
   * Remove the border on images inside links in IE 10-.
   */

img {
    -webkit-user-drag: none;
}

/* Forms
     ========================================================================== */

form {
    margin: 0;
}

* {
    box-sizing: border-box;
    background-origin: border-box;
    -webkit-tap-highlight-color: transparent;
    text-rendering: optimizelegibility;
}

::selection {
    background-color: var(--b-fader);
}

[tabindex] {
    outline: none;
}

.remark {
    font-size: var(--f-xxs);
    color: var(--f-fade);
    line-height: 1.2;
}

[contenteditable] {
    outline: none;
    -webkit-user-modify: read-write-plaintext-only;
    user-select: text;
    cursor: text;

    &:empty[aria-placeholder] {
        &:before {
            content: attr(aria-placeholder);
            color: var(--f-fadest);
        }
    }
}

hr {
    contain: style;
    display: block;
    clear: both;
    margin: 0px;
    border: 0px;
    min-height: 1px;
    background-color: var(--b-fadest);
}