/* You can add global styles to this file, and also import other style files */

@import './app/ui';

@import './app/shared/code-demo';
@import './app/shared/code-highlight';

@import './app/ui/variables';
@import './app/ui/mixins';
@import './app/shared/feather-icon';

:root {
    --bg-body-rgb: var(--theme);
}

// 測試
.shine {
    animation: shine .5s linear;
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    padding: 1rem;
    border: 1px solid rgba(255, 255, 255, .1);
    background-color: rgba(255, 255, 255, .1);
    margin-top: .5rem;

    .shine {
        &:first-child {
            margin-left: 1rem
        }
    }

    >.shine {

        margin-top: 0;
    }
}

[part="app-side"] {
    transition: transform 0.3s ease;

    &.hidden {
        will-change: transform;
        transform: translateX(-100%);
    }
}

@include above(sm) {
    [part="app-head"] {
        transition: transform 0.3s ease;

        &.hidden {
            will-change: transform;
            transform: translateY(-100%);
        }
    }
}

@include below(sm) {
    .app-logo {
        right: 0 !important;
        margin: auto;
    }
}

html.dark {
    .app-logo {
        img {
            filter: none;
        }
    }
}

.app-logo {
    img {
        background-color: transparent;
        filter: invert(1);
    }
}

h2+doc-prop {
    h3 {
        margin-top: 0 !important;
    }
}

@keyframes shine {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
        background-color: yellow;
    }

    100% {
        opacity: 1;
    }
}

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

@font-face {
    font-family: 'Fira Code';
    src: url('/assets/fonts/FiraCode-Medium.eot');
    src: url('/assets/fonts/FiraCode-Medium.eot') format('embedded-opentype'), url('/assets/fonts/FiraCode-Medium.woff2') format('woff2'), url('/assets/fonts/FiraCode-Medium.woff') format('woff'), url('/assets/fonts/FiraCode-Medium.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

code {
    font-size: 13px;
    white-space: pre;
    font-weight: 600;
    font-family: 'Fira Code', -apple-system, 'Noto Sans TC', 'Microsoft JhengHei', monospace;
    letter-spacing: 0px !important;
    background-color: var(--theme-fade);
    color: var(--f-theme);
    padding: 0 .5625rem;
    line-height: 24px;
    display: inline-flex;
    border-radius: $xs;
}

m-chip {
    code {
        background-color: transparent;
        padding: 0;
    }
}

m-table h2,
m-table h2 code {
    margin: 0;
    font-size: 13px !important;
}

code.default {
    color: var(--f-fadest);
    font-size: var(--f-sm);
    background-color: transparent;
}

@include above(sm) {
    .appNav {
        padding-right: 200px;
    }
}

.bg\:black {
    background-color: black !important;
}

.mobile {
    position: relative;
    margin: auto;
    display: flex;
    border: 13px solid black;
    border-radius: 2.875rem;
    width: 344px;
    height: 704px;
    box-shadow:
        0 0.8px 1.1px rgba(0, 0, 0, 0.034),
        0 2px 2.6px rgba(0, 0, 0, 0.048),
        0 3.8px 4.9px rgba(0, 0, 0, 0.06),
        0 6.7px 8.7px rgba(0, 0, 0, 0.072),
        0 12.5px 16.3px rgba(0, 0, 0, 0.086),
        0 30px 39px rgba(0, 0, 0, 0.12);

    &:after {
        content: '';
        position: absolute;
        top: 0px;
        left: 0;
        right: 0;
        margin: auto;
        width: 60%;
        height: 60px;
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-position: top center;
        background-image: url(/assets/images/iphone-bar.svg);
    }
}

.mobile-wrap {
    position: relative;
    overflow: hidden;
    width: 100%;
    flex: 1 1 auto;
    background-color: var(--theme);
    border-radius: 2.125rem;

    &:after {
        content: '';
        position: absolute;
        bottom: .5rem;
        left: 0;
        right: 0;
        margin: auto;
        width: 33.3%;
        height: 5px;
        border-radius: 2.5px;
        background-color: black;
    }
}

.remark code {
    font-size: inherit;
}

.color {
    display: inline-flex;
    margin-right: $sm;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 500;
    width: 22px;
    height: 22px;
    user-select: none;
    border-radius: $xs;
    color: white;
    letter-spacing: -.5px;
    background-color: var(--theme);
}

code.colorCode {
    letter-spacing: .5px;

    .color {
        border-radius: $xxs;
        width: 16px;
        height: 16px;
        margin-right: $xs;
    }

    &.colorCode\:row {
        margin: 0;
        border: 0;
        padding: .8rem 1.2rem;
        justify-content: center;
    }
}