@import '../../variables.scss';
@import '../../mixins.scss';

.block {
    display: block !important;
}

.flex {
    display: flex !important;
}

.inline-flex {
    display: inline-flex !important;
}

.inline-block {
    display: inline-block !important;
}

.inline {
    display: inline !important;
}

.table {
    display: table !important;
}

.cell {
    display: table-cell !important;
}

.hide {
    display: none !important;
}

:root.dark {
    .show\@light {
        display: none !important;
    }
}

:root:not(.dark) {
    .show\@dark {
        display: none !important;
    }
}

// min
@media(min-width: var(--above-sm)) {
    .hide\@sm {
        display: none !important;
    }    
}

@media(min-width: var(--above-md)) {
    .hide\@md {
        display: none !important;
    }
}

@media(min-width: var(--above-lg)) {
    .hide\@lg {
        display: none !important;
    }
}

@media(min-width: var(--above-xl)) {
    .hide\@xl {
        display: none !important;
    }
}

// max
@media(max-width: var(--below-sm)) {
    .show\@sm {
        display: none !important;
    }
}

@media(max-width: var(--below-md)) {
    .show\@md {
        display: none !important;
    }
}

@media(max-width: var(--below-lg)) {
    .show\@lg {
        display: none !important;
    }
}

@media(max-width: var(--below-xl)) {
    .show\@xl {
        display: none !important;
    }
}