<div class="p">
    <m-table class="sm t:center" axis=y>
        <table>
            <tbody>
                <tr class=a:bottom>
                    <th class=a:middle>size</th>
                    <th>
                        <div class="bg:purple a:center w:xxs h:xxs mb:xs"></div>xxs
                    </th>
                    <th>
                        <div class="bg:purple a:center w:xs h:xs mb:xs"></div>xs
                    </th>
                    <th>
                        <div class="bg:purple a:center w:sm h:sm mb:xs"></div>sm
                    </th>
                    <th>
                        <div class="bg:green a:center w h mb:xs"></div>md
                    </th>
                    <th>
                        <div class="bg:purple a:center w:lg h:lg mb:xs"></div>lg
                    </th>
                    <th>
                        <div class="bg:purple a:center w:xl h:xl mb:xs"></div>xl
                    </th>
                    <th>
                        <div class="bg:purple a:center w:xxl h:xxl mb:xs"></div>xxl
                    </th>
                </tr>
                <tr>
                    <th>rem</th>
                    <td>1.0</td>
                    <td>1.5</td>
                    <td>2.0</td>
                    <td>3.0</td>
                    <td>4.0</td>
                    <td>5.0</td>
                    <td>6.0</td>
                </tr>
                <tr class="f:fade">
                    <th>=</th>
                    <td>16px</td>
                    <td>24px</td>
                    <td>32px</td>
                    <td>48px</td>
                    <td>64px</td>
                    <td>80px</td>
                    <td>96px</td>
                </tr>
                <tr>
                    <th>width +</th>
                    <td><code>.w:xxs</code></td>
                    <td><code>.w:xs</code></td>
                    <td><code>.w:sm</code></td>
                    <td><code class=f:green>.w</code></td>
                    <td><code>.w:lg</code></td>
                    <td><code>.w:xl</code></td>
                    <td><code>.w:xxl</code></td>
                </tr>
                <tr>
                    <th>height</th>
                    <td><code>.h:xxs</code></td>
                    <td><code>.h:xs</code></td>
                    <td><code>.h:sm</code></td>
                    <td><code class=f:green>.h</code></td>
                    <td><code>.h:lg</code></td>
                    <td><code>.h:xl</code></td>
                    <td><code>.h:xxl</code></td>
                </tr>
                <tr>
                    <th>=</th>
                    <td><code>.xxs</code></td>
                    <td><code>.xs</code></td>
                    <td><code>.sm</code></td>
                    <td><code class=f:green>.md</code></td>
                    <td><code>.lg</code></td>
                    <td><code>.xl</code></td>
                    <td><code>.xxl</code></td>
                </tr>
            </tbody>
        </table>
    </m-table>
</div>
<div class="y:no">
    <m-4>
        <div class="code"><code class="html" title="3rem width x:fill 2rem height">
                <div class="w h:sm"></div>
            </code></div>
    </m-4>
    <m-4>
        <div class="code"><code class="html" title="3rem width x:fill 3rem height">
                <div class="w h"></div>
            </code></div>
    </m-4>
    <m-4>
        <div class="code"><code class="html" title="3rem width x:fill 3rem height"><img class="md" src="..."></code>
        </div>
    </m-4>
</div>
<div class="p">
    <m-table class="sm t:center" axis=y>
        <table>
            <tbody>
                <tr>
                    <th>value</th>
                    <td><code>auto</code></td>
                    <td><code>100%</code></td>
                    <td><code>100vw</code></td>
                    <td><code>100vh</code></td>
                    <td><code>inherit</code></td>
                </tr>
                <tr>
                    <th>width</th>
                    <td><code>.w:auto</code></td>
                    <td><code>.w:full</code></td>
                    <td><code>.w:view</code></td>
                    <td>-</td>
                    <td><code>.w:inherit</code></td>
                </tr>
                <tr>
                    <th>height</th>
                    <td><code>.h:auto</code></td>
                    <td><code>.h:full</code></td>
                    <td>-</td>
                    <td><code>.h:view</code></td>
                    <td><code>.h:inherit</code></td>
                </tr>
            </tbody>
        </table>
    </m-table>
</div>