article.decorated {
    display: block;
    width: 100%;
    max-width: $wrap-xs;
    margin: auto;
    padding: $md;
    font-size: 1.125rem;
    color: var(--f-theme);

    p {
        a {
            text-decoration: underline;
            font-weight: 500;
            margin: 0 $xxs;
        }
    }

    p,
    li {
        line-height: 1.6;
        list-style-type: none;
    }

    ul,
    ol {
        padding-left: 2.2rem;

        >li {
            padding-bottom: .2rem;

            &:before {
                position: absolute;
                transform: translate(-100%, 0);
                margin-left: -.8rem;
                color: var(--f-fade);
            }

            &:hover {
                &:before {
                    color: var(--f-theme);
                }
            }
        }

        ol,
        ul {
            padding-top: .2rem;
            margin: 0;
        }
    }


    ul>li {
        &:before {
            content: '⦁';
            margin-top: 2px;
        }
    }

    ol {
        counter-reset: li;
    }

    ol>li {
        &:before {
            counter-increment: li;
            content: counter(li)'.';
        }

        ol {
            >li {
                &:before {
                    content: counters(li, '.')'.';
                }
            }
        }
    }

    s,
    del {
        position: relative;
        text-decoration: none;
        background: rgba($red, .1);
        padding: 0 $xxs;

        &:after {
            content: '';
            position: absolute;
            display: block;
            width: 100%;
            top: -1px;
            height: 2px;
            bottom: 0;
            left: 0px;
            margin: auto;
            border-radius: 1px;
            background-color: var(--red);
        }
    }

    blockquote,
    q {
        position: relative;
        margin: $lg auto $md auto;
        display: block;
        font-style: italic;
        line-height: 1.7;
        font-size: var(--f-md);
        padding-left: 2em;
        color: var(--f-themeFader);

        &:before {
            content: '“';
        }

        &:after {
            content: none;
        }

        &:before {
            position: absolute;
            z-index: -1;
            left: -.5rem;
            top: -2.3rem;
            font-weight: 500;
            color: var(--f-fadest);
            font-size: 5rem;
            font-family: 'Gill Sans', sans-serif
        }
    }

    mark {
        background-color: transparent;
        text-decoration: wavy underline #ffd700;
        text-decoration-skip-ink: none;
    }

    ul,
    ol,
    blockquote,
    q {
        margin-left: 5%;
        margin-right: 5%;
    }

    figure {
        display: inline-block;
        margin: 0 0 $md 0;

        video,
        img {
            margin-bottom: $xs;
        }
    }

    m-table,
    m-info,
    ol,
    ul,
    q,
    blockquote,
    hr,
    p {
        margin-bottom: $sm;
    }

    h1,
    h2,
    h3,
    h4 {
        margin-bottom: $sm;
    }

    h1 {
        font-size: 3rem;
        margin-top: $xl;
    }

    h2 {
        margin-top: 2.5rem;
    }

    h3,
    h4 {
        margin-top: $md;
    }

    h1+h2 {
        margin-top: $md;
    }

}