@import '../../variables.scss';
@import '../../mixins.scss';

.a\:baseline {
    vertical-align: baseline !important;
}

.a\:top {
    vertical-align: top !important;
}

.a\:middle {
    vertical-align: middle !important;
}

.a\:bottom {
    vertical-align: bottom !important;
}

.a\:text-top {
    vertical-align: text-top !important;
}

.a\:text-bottom {
    vertical-align: text-bottom !important;
}

.a\:left {
    float: left !important;
    margin-left: 0 !important;
    margin-right: auto !important;
}

.a\:center {
    margin-left: auto !important;
    margin-right: auto !important;
    float: none !important;
}

.a\:right {
    float: right !important;
    margin-left: auto !important;
    margin-right: 0 !important;
}

@media (min-width: var(--above-sm)) {
    .a\:left\@sm {
        float: left !important;
        margin-left: 0 !important;
        margin-right: auto !important;
    }

    .a\:center\@sm {
        margin-left: auto !important;
        margin-right: auto !important;
        float: none !important;
        display: block !important;
    }

    .a\:right\@sm {
        float: right !important;
        margin-left: auto !important;
        margin-right: 0 !important;
    }
}

@media (min-width: var(--above-md)) {
    .a\:left\@md {
        float: left !important;
        margin-left: 0 !important;
        margin-right: auto !important;
    }

    .a\:center\@md {
        margin-left: auto !important;
        margin-right: auto !important;
        float: none !important;
    }

    .a\:right\@md {
        float: right !important;
        margin-left: auto !important;
        margin-right: 0 !important;
    }
}

@media (min-width: var(--above-lg)) {
    .a\:left\@lg {
        float: left !important;
        margin-left: 0 !important;
        margin-right: auto !important;
    }

    .a\:center\@lg {
        margin-left: auto !important;
        margin-right: auto !important;
        float: none !important;
    }

    .a\:right\@lg {
        float: right !important;
        margin-left: auto !important;
        margin-right: 0 !important;
    }
}

@media (min-width: var(--above-xl)) {
    .a\:left\@xl {
        float: left !important;
        margin-left: 0 !important;
        margin-right: auto !important;
    }

    .a\:center\@xl {
        margin-left: auto !important;
        margin-right: auto !important;
        float: none !important;
    }

    .a\:right\@xl {
        float: right !important;
        margin-left: auto !important;
        margin-right: 0 !important;
    }
}

[class^='c\:'],
[class*=' c\:'] {
    display: flex;
}

.c\:col {
    flex-direction: row !important;
}

.c\:reverse {
    flex-direction: row-reverse !important;
}

.c\:row {
    flex-direction: column !important;

    &.c\:reverse {
        flex-direction: column-reverse !important;
    }
}

.c\:top:not(.c\:row),
.c\:row.c\:left {
    align-items: flex-start !important;
    -webkit-box-align: start !important;
}

.c\:middle:not(.c\:row),
.c\:row.c\:center {
    align-items: center !important;
    -webkit-box-align: center !important;
}

.c\:bottom:not(.c\:row),
.c\:row.c\:right {
    align-items: flex-end !important;
    -webkit-box-align: end !important;
}

.c\:left:not(.c\:row),
.c\:row.c\:top {
    box-pack: start !important;
    justify-content: flex-start !important;
}

.c\:center:not(.c\:row),
.c\:row.c\:middle {
    box-pack: center !important;
    justify-content: center !important;
}

.c\:right:not(.c\:row),
.c\:row.c\:bottom {
    box-pack: end !important;
    justify-content: flex-end !important;
}

.c\:between {
    box-pack: space-between !important;
    justify-content: space-between !important;
}

.c\:around {
    box-pack: space-around !important;
    justify-content: space-around !important;
}

.c-wrap {
    flex-wrap: wrap !important;
}

.c-wrap\:reverse {
    flex-wrap: wrap-reverse !important;
}

.c-wrap\:no {
    flex-wrap: nowrap !important;
}

@media (min-width: var(--above-sm)) {
    .c\:top\@sm:not(.c\:row),
    .c\:row.c\:left\@sm {
        align-items: flex-start !important;
        -webkit-box-align: start !important;
    }

    .c\:middle\@sm:not(.c\:row),
    .c\:row.c\:center\@sm {
        align-items: center !important;
        -webkit-box-align: center !important;
    }

    .c\:bottom\@sm:not(.c\:row),
    .c\:row.c\:right\@sm {
        align-items: flex-end !important;
        -webkit-box-align: end !important;
    }

    .c\:left\@sm:not(.c\:row),
    .c\:row.c\:top\@sm {
        box-pack: start !important;
        justify-content: flex-start !important;
    }

    .c\:center\@sm:not(.c\:row),
    .c\:row.c\:middle\@sm {
        box-pack: center !important;
        justify-content: center !important;
    }

    .c\:right\@sm:not(.c\:row),
    .c\:row.c\:bottom\@sm {
        box-pack: end !important;
        justify-content: flex-end !important;
    }

    .c\:between\@sm {
        box-pack: space-between !important;
        justify-content: space-between !important;
    }

    .c\:around\@sm {
        box-pack: space-around !important;
        justify-content: space-around !important;
    }

    .c-wrap\@sm {
        flex-wrap: wrap !important;
    }

    .c-wrap\:reverse\@sm {
        flex-wrap: wrap-reverse !important;
    }

    .c-wrap\:no\@sm {
        flex-wrap: nowrap !important;
    }
}

@media (min-width: var(--above-md)) {
    .c\:top\@md:not(.c\: row),
    .c\:row.c\:left\@md {
        align-items: flex-start !important;
        -webkit-box-align: start !important;
    }

    .c\:middle\@md:not(.c\:row),
    .c\:row.c\:center\@md {
        align-items: center !important;
        -webkit-box-align: center !important;
    }

    .c\:bottom\@md:not(.c\:row),
    .c\:row.c\:right\@md {
        align-items: flex-end !important;
        -webkit-box-align: end !important;
    }

    .c\:left\@md:not(.c\:row),
    .c\:row.c\:top\@md {
        box-pack: start !important;
        justify-content: flex-start !important;
    }

    .c\:center\@md:not(.c\:row),
    .c\:row.c\:middle\@md {
        box-pack: center !important;
        justify-content: center !important;
    }

    .c\:right\@md:not(.c\:row),
    .c\:row.c\:bottom\@md {
        box-pack: end !important;
        justify-content: flex-end !important;
    }

    .c\:between\@md {
        box-pack: space-between !important;
        justify-content: space-between !important;
    }

    .c\:around\@md {
        box-pack: space-around !important;
        justify-content: space-around !important;
    }

    .c-wrap\@md {
        flex-wrap: wrap !important;
    }

    .c-wrap\:reverse\@md {
        flex-wrap: wrap-reverse !important;
    }

    .c-wrap\:no\@md {
        flex-wrap: nowrap !important;
    }
}

@media (min-width: var(--above-lg)) {
    .c\:top\@lg:not(.c\: row),
    .c\:row.c\:left\@lg {
        align-items: flex-start !important;
        -webkit-box-align: start !important;
    }

    .c\:middle\@lg:not(.c\:row),
    .c\:row.c\:center\@lg {
        align-items: center !important;
        -webkit-box-align: center !important;
    }

    .c\:bottom\@lg:not(.c\:row),
    .c\:row.c\:right\@lg {
        align-items: flex-end !important;
        -webkit-box-align: end !important;
    }

    .c\:left\@lg:not(.c\:row),
    .c\:row.c\:top\@lg {
        box-pack: start !important;
        justify-content: flex-start !important;
    }

    .c\:center\@lg:not(.c\:row),
    .c\:row.c\:middle\@lg {
        box-pack: center !important;
        justify-content: center !important;
    }

    .c\:right\@lg:not(.c\:row),
    .c\:row.c\:bottom\@lg {
        box-pack: end !important;
        justify-content: flex-end !important;
    }

    .c\:between\@lg {
        box-pack: space-between !important;
        justify-content: space-between !important;
    }

    .c\:around\@lg {
        box-pack: space-around !important;
        justify-content: space-around !important;
    }

    .c-wrap\@lg {
        flex-wrap: wrap !important;
    }

    .c-wrap\:reverse\@lg {
        flex-wrap: wrap-reverse !important;
    }

    .c-wrap\:no\@lg {
        flex-wrap: nowrap !important;
    }
}

@media (min-width: var(--above-xl)) {
    .c\:top\@xl:not(.c\: row),
    .c\:row.c\:left\@xl {
        align-items: flex-start !important;
        -webkit-box-align: start !important;
    }

    .c\:middle\@xl:not(.c\:row),
    .c\:row.c\:center\@xl {
        align-items: center !important;
        -webkit-box-align: center !important;
    }

    .c\:bottom\@xl:not(.c\:row),
    .c\:row.c\:right\@xl {
        align-items: flex-end !important;
        -webkit-box-align: end !important;
    }

    .c\:left\@xl:not(.c\:row),
    .c\:row.c\:top\@xl {
        box-pack: start !important;
        justify-content: flex-start !important;
    }

    .c\:center\@xl:not(.c\:row),
    .c\:row.c\:middle\@xl {
        box-pack: center !important;
        justify-content: center !important;
    }

    .c\:right\@xl:not(.c\:row),
    .c\:row.c\:bottom\@xl {
        box-pack: end !important;
        justify-content: flex-end !important;
    }

    .c\:between\@xl {
        box-pack: space-between !important;
        justify-content: space-between !important;
    }

    .c\:around\@xl {
        box-pack: space-around !important;
        justify-content: space-around !important;
    }

    .c-wrap\@xl {
        flex-wrap: wrap !important;
    }

    .c-wrap\:reverse\@xl {
        flex-wrap: wrap-reverse !important;
    }

    .c-wrap\:no\@xl {
        flex-wrap: nowrap !important;
    }
}
