@import '../../variables.scss';
@import '../../color/color.scss';

:host {
    --f-color: var(--badge-f-color, var(--f-theme));
    --f-size: var(--badge-f-size, var(--f-xxs));
    --bg-color: var(--badge-bg-color);
    --b-color-active: var(--badge-b-color-active);
    --b-color: var(--badge-b-color);
    --b-width: var(--badge-b-width, 0);
    --b-style: var(--badge-b-style);
    background-color: var(--bg-color);
    border: var(--b-color) var(--b-width, 0) var(--b-style);
    color: var(--f-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: var(--f-size);
    font-weight: 500;
    margin: $xxs;
    padding: 0 .25rem;
    border-radius: 100rem;
    letter-spacing: 0;
    height: 1.25rem;
    min-width: 1.25rem;
    user-select: none;
    white-space: nowrap;
    contain: style;
    flex: 0 0 auto;
}

:host(.sm) {
    --badge-f-size: .625rem;
    height: .875rem;
    min-width: .875rem;
}

:host(.lg) {
    height: 1.5rem;
    min-width: 1.5rem;
}

:host(.outlined) {
    --b-width: 1px;
    background-color: transparent;
}